.message {
  margin-bottom: 56px;

  @include onTablet {
    margin-bottom: 0;
  }

  &__text {
    margin-bottom: 40px;
    @extend %main-text;

    @include onTablet {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 15px;
    @extend %small-heading2;

    @include onTablet {
      margin-bottom: 30px;
    }
  }
}
