/*
CONTAINER
--------------------------------------------- */

.container {
  display: block;
  max-width: 1920px;
  padding-inline: $mobile-grid-padding-inline;
  margin: 0 auto;

  overflow: hidden;

  @include transition(padding-inline);

  @include mediaPad {
    padding-inline: $pad-grid-padding-inline;
  }

  @include mediaDesktop {
    padding-inline: $desktop-grid-padding-inline;
  }
}
