/*
CONTAINER
--------------------------------------------- */

.container {
  display: block;
  padding-inline: $mobile-grid-padding-inline;

  @include transition(padding-inline);

  @include mediaPad {
    padding-inline: $pad-grid-padding-inline;
  }

  @include mediaDesktop {
    padding-inline: $desktop-grid-padding-inline;
  }
}
