/*
COMMON STYLES
--------------------------------------------- */

%heading {
  font-family: $ff-heading;
  font-weight: $fw-regular;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}

%title {
  @extend %heading;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke-width: 0.68px;
  -webkit-text-stroke-color: $color-primary1-500;
}

%paragraph {
  font-family: $ff-primary;
  font-weight: $fw-regular;
  line-height: 1.5;
}

%icon {
  width: 100%;
  padding-bottom: 100%;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

%link {
  cursor: pointer;

  @include transition(color);

  &:hover {
    text-decoration: underline 1px wavy var(--color-hover, $color-primary1-500);
    color: var(--color-hover, $color-primary1-500);
  }
}
