/*
NAV-LIST
--------------------------------------------- */

.nav-list {
  &__link {
    &--dark {
      --color: var(--color-secondary-500);
      --color-hover: var(--color-primary1-500);
    }

    &--light {
      --color: var(--color-neutral-200);
      --color-hover: var(--color-neutral-100);
    }
  }

  &__badge {
    display: inline-block;
    height: 15px;
    padding: 2px 5px;

    font-family: $ff-heading;
    font-size: 11px;
    line-height: 1.2;
    vertical-align: super;

    background-color: var(--color-accent-500);
    border-radius: 10px;
  }
}
