.title {
  @extend %title;

  &--features {
    font-size: $fs-750;
  }

  &--header {
    font-size: $fs-425;

    @include mediaPad {
      font-size: $fs-800;
    }
  }

  &__filled {
    color: $color-primary1-500;
  }
}
