.title {
  @extend %title;

  &__filled {
    color: $color-primary1-500;
  }

  &--header {
    font-size: $fs-425;

    @include mediaPad {
      font-size: $fs-800;
    }
  }

  &--features {
    font-size: $fs-750;
  }

  &--team {
    font-size: 220px;

    @include mediaDesktop {
      font-size: 280px;
    }
  }
}
