/*
TYPOGRAPHY
--------------------------------------------- */

// Headings

.title {
  @extend %title;

  &__filled {
    color: $color-primary1-500;
  }
}

.h1 {
  @extend %heading;
  font-size: $fs-750;
}

.h2 {
  @extend %heading;
  font-size: $fs-425;
}

.h3 {
  @extend %heading;
  font-size: $fs-300;
  line-height: 1;
}

.h4 {
  @extend %heading;
  font-size: $fs-225;
  line-height: 1.3;
}

// Paragraphs

.s1 {
  @extend %paragraph;
  font-weight: $fw-semibold;
  font-size: $fs-400;

  @include mediaPad {
    font-size: $fs-425;
  }
}

.s2 {
  @extend %paragraph;
  font-size: $fs-300;
}

.s3 {
  @extend %paragraph;
  font-size: $fs-200;
}

.s4 {
  @extend %paragraph;
  font-weight: $fw-semibold;
  font-size: $fs-175;
}

.s5 {
  @extend %paragraph;
  font-size: $fs-150;
}

// Links
.link {
  @extend %link;
}
