.buy-now {
  margin-top: 25px;
  position: relative;

  @include media-Tablet {
    margin-top: -308px;
    padding: 0;
    height: min-content;
    pointer-events: none;
  }

  @include media-Desktop {
    margin-top: -400px;
  }

  &__card {
    display: flex;
    flex-direction: column;

    @include media-Tablet {
      display: unset;
    }
  }

  &__title {
    @extend %h2-bebas;
    @include media-Mobile {
      letter-spacing: 5px;
    }
    color: $c-blue;
    @media (min-width: $max-hero-width) {
      max-width: 75%;
    }

    @include media-Tablet {
      font-size: 64px;
      line-height: 64px;
      width: max-content;
    }

    @include media-Desktop {
      translate: 75px 0;
    }
  }

  &__price {
    margin-top: 35px;
    @extend %font-manrope;
    font-weight: 700;
    font-size: 26px;

    @include media-Tablet {
      position: relative;
      top: -50px;
      left: 35%;
    }
  }

  &__discount {
    max-width: 50%;
    @extend %font-manrope;
    font-weight: 400;
    font-size: 14px;

    @include media-Tablet {
      position: relative;
      top: -45px;
      left: 35%;
      max-width: 140px;
    }
  }

  &__button {
    pointer-events: all;
    @extend %button-styles;
    margin-top: 20px;
    background: $c-yelllow;
    cursor: pointer;
    transition: color 0.2s ease-in-out, background-color color 0.2s ease-in-out;

    &:hover {
      color: rgba($c-black, 0.75);
      background-color: rgba($c-yelllow, 0.65);
    }

    &__arrow {
      margin-left: 24px;
      line-height: 100%;
      color: currentColor;

      transition: color 0.1s ease-in-out;
    }

    @include media-Tablet {
      position: relative;
      margin-top: 50px;
      top: -40px;
      left: 23%;
      max-width: 240px;
    }

    @include media-Desktop {
      max-width: 270px;
    }
  }
}
