.features {
  &__content {
    margin-bottom: 126px;
  }

  &__title {
    margin-bottom: 77px;

    font-size: 58px;
  }

  @media (max-width: 770px) {
    &__info {
      &--item {
        &-1 {
          order: 2;
        }
        &-2 {
          order: 3;
        }
        &-3 {
          order: 1;
        }
      }
    }
  }

  @media (max-width: 730px) {
    &__title {
      margin-right: -4px;
    }

    &__info {
      &--item {
        &-1 {
          order: 1;
        }
        &-2 {
          order: 2;
        }
        &-3 {
          order: 3;
        }
      }
    }
  }

  @media  (max-width: 500px) {
    & {
      &__content {
        margin-bottom: 25px;
      }
    }
  }
}
