.hero {
  margin-top: 10px;

  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  &__img {
    width: 100%;
    max-width: $max-hero-width;
  }
}
