.logo {
  color: $color-grey1;
  font-family: $font-heading;
  font-size: 3.6rem;
  letter-spacing: 2.16px;
  cursor: pointer;
  transition: all $transition;

  &:hover {
    transform: scale(1.1);
  }

  &__object {
    width: 100%;
  }
}
