.logo {
  width: 133px;
  height: 36px;

  background-image: url("../images/vectors/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;

  &:hover {
    animation: bounce linear 1s;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px) scale(1.2);
  }
  100% {
    transform: translateY(0);
  }
}
