.side {
  position: absolute;
  color: $color-grey3;
  font-family: $font-heading;
  font-size: 1.2rem;
  letter-spacing: 2.64px;

  &::before {
    content: "";
    display: inline-block;
    transform: translate(-10%, -100%);
    width: 65px;
    height: 1px;
    background-color: $color-grey3;
  }

  &--right {
    transform: rotate(90deg);
  }

  &--left {
    transform: rotate(-90deg);
  }
}
