.socials {
  display: grid;
  grid-template-columns: repeat(3, 20px);
  column-gap: 85px;
  justify-items: center;

  @include onTablet {
    column-gap: 80px;
  }

  @include onDesktop {
    grid-template-columns: repeat(3, 30px);
    column-gap: 70px;
  }

}
