.team {
  margin-top: $mobile-section-margin-top;
  position: relative;

  @include media-Mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include media-Tablet {
    display: grid;
    gap: 49px;
    grid-template-rows: min-content 1fr;
    margin-top: 130px;
    height: 800px;
  }

  @include media-Desktop {
    margin-top: 174px;
  }

  &::after {
    @include display-none-phone;
    @include huge-decor-text("Martin", 80px, unset, unset, -30px);
    font-size: 230px;
    pointer-events: none;

    @include media-Tablet {
      z-index: 5;
    }

    @include media-Desktop {
      @include huge-decor-text("Martin", 90px, unset, unset, -25px);
      font-size: 288px;
      z-index: 5;
    }
  }

  &::before {
    content: "";
    pointer-events: none;

    background-image: url("/images/team/yellow-bg.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 74%;

    width: 100%;
    height: 100%;
    z-index: -1;
    transition: top 0.3s ease-in-out;

    @media (min-width: 380px) {
      top: 80%;
    }

    @include media-Tablet {
      background-image: url("/images/yellow-team-tablet.png");
      top: 23%;
      left: -150px;
    }

    @include media-Desktop {
      background-image: url("/images/team-desk.png");
      left: -200px;
    }
  }

  &__title {
    @extend %h1-bebas;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-self: flex-end;

    @include media-Tablet {
      justify-self: center;
      flex-direction: row;
      justify-content: space-between;
      gap: 47px;
    }

    @include media-Desktop {
      align-items: flex-end;
      justify-content: unset;
    }

    &::before {
      @include display-none-phone;
      @include huge-decor-text("Andy", unset, -6%, 5%, unset);
      font-size: 230px;

      @include media-Desktop {
        @include huge-decor-text("Andy", unset, -15%, -19.8%, unset);
        font-size: 288px;
      }

      @include media-Desktop-large {
        @include huge-decor-text("Andy", unset, -15%, -22.8%, unset);
        font-size: 288px;
      }
    }
  }

  &__desc {
    @include media-Mobile {
      margin-top: 30px;
    }

    @extend %s3-manrope-16;
    order: 2;

    @include media-Tablet {
      max-width: 40%;
      order: -1;
    }

    @include media-Desktop {
      max-width: 340px;
    }
  }

  &__img-wrapper {
    margin-top: 25px;
    @include media-Mobile {
      width: 100%;
      max-width: 420px;
    }

    @include media-Tablet {
      width: 340px;
      margin-top: -150px;
      z-index: 1;
    }

    @include media-Desktop {
      margin: 0;
      width: 677px;
      min-width: 500px;
      z-index: 5;

      & img {
        max-width: 677px;
      }
    }
  }

  &__img {
    width: 100%;

    &:hover {
      transform: scale(1.02);
    }
  }
}
