.title {
  font-family: "Bebas Neue Bold", sans-serif;
  text-transform: uppercase;
  -webkit-text-stroke: 1px $c-turquoise;
  font-size: 64px;
  line-height: 1;
  letter-spacing: 0.15em;

  color: $c-turquoise;

  &--transparent {
    color: transparent;
  }
}
