.arrow {

  &__link {
    @include hover(transform, scale(1.1));

    width: 100%;

    display: flex;
    align-items: center;
    gap: 9px;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;


    &--header {
      color: $clr--turquoise;
      font-family: $font--secondary;
      line-height: 150%;

      span {
        width: 44px;
        height: 44px;
        transform: rotate(270deg);
        background-image: url(../images/icons/arrow-blue.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--for-whom {
      color: $clr--gray-3;
      font-family: $font--main;
      line-height: normal;
      letter-spacing: 2.64px;

      span {
        width: 65px;
        height: 1px;
        background-color: $clr--gray-3;
      }
    }
  }
}
