.benefits {
  // overflow: hidden;

  &__content {
    margin-bottom: 110px;
    position: relative;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 20px;
      margin-bottom: 103px;
    }

    @include onDesktop {
      grid-template-columns: repeat(12, 1fr);
      column-gap: 30px;
      margin-bottom: 152px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px;
    list-style-type: none;

    @include onTablet {
      grid-area: 1 / 1 / 3 / 4;
      gap: 30px;
      margin: 0;
    }

    @include onDesktop {
      flex-direction: row;
      flex-wrap: wrap;
      grid-area: 1 / 6 / 2 / -1;
      gap: 0;
    }
  }

  &__item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -15px;
      top: 20px;
      display: inline-block;
      width: 6px;
      height: 6px;
      background-color: $colorGray;
      margin-right: 10px;
      transform: rotate(45deg);

      @include onTablet {
        top: 25px;
      }
    }

    @include onTablet {
      transform: translateX(16px);
    }

    @include onDesktop {
      &--1 {
        margin: 0 40px 40px 0;
      }
    }
  }

  &__title {
    display: inline-block;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: $colorDarkGray;
    margin-bottom: 5px;

    @include onTablet {
      font-size: 36px;
    }
  }

  &__text {
    line-height: 150%;
    color: #828282;

    @include onTablet {
      width: 316px;
    }

    @include onDesktop {
      width: 100%;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 238px;
    height: 48px;
    background-color: $colorYellow;
    margin-bottom: 40px;

    &:hover {
      opacity: 0.4;
    }

    @include onTablet {
      grid-area: 1 / 4 / 2 / -1;
      margin: 100px 0 35px;

      border: 1px solid $colorTurquoise;
      background-color: transparent;
      transition: all 0.3s;

      path {
        transition: all 0.3s;
      }

      &:hover {
        opacity: 1;
        background-color: $colorTurquoise;
        path {
          fill: #fff;
        }
      }
    }

    @include onDesktop {
      grid-area: 2 / 6 / 3 / -1;
      margin: 60px 0 70px;

    }
  }

  &__discount {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: $fontBebas;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    @include onTablet {
      grid-area: 2 / 4 / 3 / 6;
      gap: 5px;
      margin-bottom: 94px;
    }

    @include onDesktop {
      grid-area: 3 / 7 / 4 / -1;
      margin: 0;
    }
  }

  &__procent {
    font-size: 36px;
    line-height: 150%;
    color: $colorRed;

    @include onTablet {
      font-size: 24px;
      line-height: 24px;
    }

    @include onDesktop {
      font-size: 36px;
      line-height: 150%;
    }
  }

  &__if {
    font-size: 24px;
    line-height: 24px;
    color: $colorTurquoise;

    @include onTablet {
      font-size: 18px;
      line-height: 18px;
    }

    @include onDesktop {
      font-size: 24px;
      line-height: 100%;
    }
  }

  &__side {
    display: none;

    @include onTablet {
      display: block;
      position: absolute;
      top: 0;
      right: -24px;
    }

    @include onDesktop {
      display: none;
    }
  }

  &__photo-group {
    display: none;

    @include onDesktop {
      display: block;
      width: 584px;
      height: 793px;
      position: absolute;
      top: -173px;
      left: -80px;
    }
  }

  &__photo-one {
    display: none;

    @include onDesktop {
      display: block;
      position: absolute;
      top: 55px;
      left: 110px;
    }
  }
}
