.btn {
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;

  transition: opacity $animationTime;

  img,
  svg {
    transition: transform $animationTime;
    margin-left: 25px;
  }

  &:hover {
    opacity: 0.8;
    img,
    svg {
      transform: translateX(5px);
    }
  }
}
