.busket {
  position: relative;

  &__text {
    display: block;

    @include on-desktop {
      display: none;
    }
  }

  &__count {
    display: block;
    position: absolute;
    top: -5px;
    right: 15px;
    text-align: center;
    line-height: 14px;
    font-size: 9px;
    background-color: #eb5757;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    font-family: BebasNeue, sans-serif;

    @include on-desktop {
      display: none;
    }
  }

  &__img {
    display: none;

    @include on-desktop {
      display: block;
    }
  }
}
