.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding-block: 13px;

  @extend %text-btn;
  cursor: pointer;

  &::after{
    content: '';
    margin-left: 15px;
    width: 32px;
    height: 10px;
    background-image: url(../images/icons/arrow-black.svg);
    background-size: cover;
  }

  &--white {
    &::after {
      background-image: url(../images/icons/arrow-white.svg);
    }
  }
}
