.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0;
  height: 48px;
  cursor: pointer;
  border: none;
  line-height: 21px;

  &__text {
    font-family: $font-family-small;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
  }

  &__arrow {
    width: 28px;
    height: auto;
  }
}

.buy-button {
  background-color: #ffe339;
  color: #121212;

  &:hover {
    background-color: #ffe33966;
  }

}

.submit-button {
  background-color: $c-blue;
  color: #fff;

  &:hover {
    background-color: #03809e66;
  }
}
