.container {
  padding-inline: $mobile-padding-inline;


  @include on-tablet {
    padding-inline: 34px;

    @include page-grid;
  }

  @include on-desctop {
    max-width: 1170px;
    margin-inline: auto;
    padding-inline: $desctop-padding-inline;
  }
}
