.contacts {
  position: relative;
  padding-bottom: 300px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    overflow: visible;
    top: 5px;
    right: -25px;
    width: 161px;
    height: 161px;
    background-image: url("../images/contacts.svg");
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    max-width: 1300px;
    padding-bottom: 130px;

    @media (max-width: 480px) {
      justify-content: center;
    }
  }
  &__box {
    position: absolute;
    width: 200%;
    height: 100%;
    z-index: 0;
    bottom: 0;
    left: 0;
    background-color: $yellow-light;
    transform-origin: bottom left;
    transform: rotate(-8deg)
  }
  &__section {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    padding: 38px 0 0;
    z-index: 1;


  }
  &__title {
    @include h2-text;
  }
  &__info {
    @include s3-text;
    margin-bottom: 30px;
  }
  &__call {
    @include s2-text;
    margin-bottom: 40px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input {
    @include input;
    margin-bottom: 20px;
    max-width: 400px;
    &:nth-child(n+3) {
      margin-bottom: 40px;
    }
  }
  &__button {
    @include primary-button;
  }
  &__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    &:first-child {
      margin-top: 70px;
    }
  }
  &__name {
    @include s2-text;
    color: $paragraph_grey

  }
  &__link {
    @include s3-text;
    text-decoration: none;
    color: #000;
    @include link_hover($red);
  }
}
