.contacts {
  &__class {
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 0.39);
    font-size: 24px;
    line-height: 36px;
  }

  &__link {
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 24px;
    color: $colorBlack;
    text-decoration: none;

    @include onTablet {
      margin-bottom: 20px;
    }

    @include onDesktop {
      margin-bottom: 24px;
    }

    &:hover {
      color: rgba(0, 0, 0, 0.39);
    }

  }
}
