/*
FEATURES
--------------------------------------------- */

.features {
  &__articles {
    row-gap: 68px;
    padding-top: 24px;

    @include mediaPad {
      padding-top: 50px;
    }
  }

  &__article {
    grid-template-rows: min-content;
    row-gap: 36px;

    &-img {
      @extend %img-hover-effect;
    }

    &-title {
      margin-bottom: 20px;

      color: $color-secondary-600;
    }
  }

}
