.header__bottom {
  @include pageGrid;

  &--text {
    margin-top: 344px;
    grid-column: 1 / -1;

    @include onTablet {
      margin: 0;
      grid-column: 1 / 5;
    }

    @include onDesktop {
      margin-top: 15px;
      grid-column: 2 / 7;
    }
  }
}
