.header {
  &__content {
    padding-top: 16px;

    @include mediaPad {
      padding-top: 30px;
    }
  }

  &__line {
    display: grid;
    grid-template-columns: auto 1fr 32px;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    &-list {
      display: none;

      @include mediaDesktop {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
      }
    }

    &-toggler-icon {
      @extend %icon;
      background-image: url("/images/icons/menu.svg");

      cursor: pointer;

      @include mediaDesktop {
        display: none;
      }
    }

    &-cart-icon {
      display: none;

      @extend %icon;
      background-image: url("/images/icons/cart.svg");

      cursor: pointer;

      &:hover {
        background-image: url("/images/icons/cart-hover.svg");
      }

      @include mediaDesktop {
        display: block;
      }
    }
  }

  &__intro {
    padding-top: 10px;

    @include mediaPad {
      padding-top: 50px;
    }

    @include mediaDesktop {
      padding-top: 90px;
    }

    &-img {
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;

      &-wrapper {
        grid-row: 1 / span 2;
        height: 320px;
        margin-inline: -$mobile-grid-padding-inline;

        @include mediaPad {
          height: 100%;
          margin-inline: auto 0;
        }
      }
    }

    &-title {
      font-size: $fs-425;

      &-wrapper {
        position: relative;
        z-index: 1;

        display: block;
        padding-top: 24px;

        @include mediaPad {
          grid-row: 1 / span 1;
          padding-top: 0;
        }
      }

      @include mediaPad {
        font-size: $fs-800;
      }

      &-scroll-link {
        position: absolute;
        right: -4px;

        display: block;
        width: max-content;
        padding-top: 0;

        color: $color-primary1-500;

        transform-origin: right bottom;
        transform: rotate(90deg) translateX(80%);

        @include transition(transform, padding);

        &:hover {
          transform: rotate(90deg) translateX(calc(80% + 20px));
        }

        @include mediaPad {
          left: 0;

          padding-top: 10px;

          transform: rotate(90deg) translateX(0);
          transform-origin: left bottom;

          &:hover {
            transform: rotate(90deg) translateX(20px);
          }
        }

        @include mediaDesktop {
          padding-top: 50px;
        }

        &::after {
          content: "";

          display: inline-block;
          width: 45px;
          height: 8px;
          margin-left: 10px;

          background-image: url("/images/icons/arrow-primary-long.svg");
        }
      }
    }

    &-price {
      display: flex;
      align-content: flex-start;
      padding-top: 30px;

      @include mediaPad {
        z-index: 1;

        grid-row: 2 / span 1;
        padding-top: 10px;
      }

      @include mediaDesktop {
        padding-top: 20px;
      }

      &-value {
        color: $color-secondary-600;
      }

      &-text {
        color: $color-secondary-500;
      }
    }

    &-buy {
      padding-top: 20px;

      @include mediaPad {
        padding-top: 50px;
      }
    }
  }

  &::before {
    @include mediaPad {
      content: "";

      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;

      display: block;
      width: calc(100% - 150px);
      height: 100%;

      background: url("/images/bg-rectangle.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    @include mediaDesktop {
      width: calc(100% - 405px);
    }
  }
}
