.header {
  flex-direction: column;
  z-index: 0;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desctop {
      grid-column: 1 / -1;
    }
  }

  &__backround-yelow-color {
    @include on-tablet {
      display: flex;
      position: absolute;
      box-sizing: border-box;
      z-index: -1;
      height: 466px;
      width: 80%;
      background-image: linear-gradient(
        165deg,
        rgba(255, 236, 122, 1) 50%,
        transparent 50%
      );
    }
  }

  &__title {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.2px;
    letter-spacing: 0.15em;

    color: #03839e;

    &--blue {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 36px;
      font-weight: 400;
      line-height: 43.2px;
      letter-spacing: 0.15em;
      text-align: justify;

      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 0.68px #03839e;
    }
  }

  &__price {
    font-family: Manrope, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 35.52px;
    text-align: left;
    margin: 0;
  }

  &__description {
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin: 0;
  }

  &__buy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0;

    cursor: pointer;
    width: 100%;
    background-color: #ffe339;
    border: none;
  }
}

.bg-img-container {
  grid-column: 1 / -1;
  padding-inline: 0;

  @include on-tablet {
    grid-column: 1 / -1;
  }

  &__bg-link {
    justify-content: flex-end;
    display: flex;
    width: 100%;
  }
}

.background-image {
  display: flex;
  width: 100%;

  @include on-tablet {
    height: 306px;
    width: auto;
    padding: 34px 0 0;
  }
}

.buy-content {
  &__text {
    display: flex;
    flex-direction: column;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }

  &__arrow {
    width: 28px;
    height: auto;
  }
}
