.hero {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
  gap: 20px;
  max-width: 1024px;
  @include forTablet {
    grid-template-columns: repeat(10, minmax(70px, 1fr));
    grid-template-rows: repeat(6, minmax(40px, 1fr));
  }
  @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 35px;
    padding: 0;
    justify-content: center;
    height: auto;
  }

  &__title {
    @include title-text;
    z-index: 1;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    margin: 0 10px;
    @include gridpos(2, span 6, 1, span 6);
    &-part-1 {
      -webkit-text-stroke: 1px $turqoise;
      color: transparent;
    }
    &-part-2 {
      color: $turqoise;
    }
    @include forTablet {
      @include gridpos(2, span 3, 2, span 5);
    }
  }

  &__img {
    z-index: 1;
    @include gridpos(2, span 8, 7, span 8);
    width: 100%;
    height: auto;
    @include forTablet {
      @include gridpos(2, 7, 5, 9);
    }
  }
  &__price {
    @include s2-text;
    position: relative;
    margin: 0 10px;
    @include gridpos(7, 8, 4, 6);
    @include forTablet {
      @include gridpos(5, 5, 3, 5);
    }
    &:after {
      content: "Get the second order in half price";
      position: absolute;
      left: 0;
      width: 140px;
      bottom: -40px;
      @include s4-text;
      font-weight: 400;
      color: $grey;
      @include forTablet {
        bottom: -10px;
      }
      @media (max-width: 700px) {
        bottom: -40px;
      }
    }
  }

  &__button {
    @include primary-button-2;
    @include gridpos(9, 9, 3, span 6);
    @include forTablet {
      @include gridpos(6, 6, 3, span 6);
    }
    @media (max-width: 700px) {
      margin-left: 45px;
      margin-top: 20px;
    }
  }
  &__link {
    @include s5-text;
    text-decoration: none;
    color: $turqoise;
    writing-mode: vertical-rl;
    width: 20px;
    height: 250px;
    justify-self: end;
    align-self: center;
    z-index: 1;
    position: absolute;
    left: -150px;
    bottom: -10px;
    @include forTablet {
      left: 10px;
    }
    @media (max-width: 700px) {
      left: 90%;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 80px;
      left: -10px;
      width: 40px;
      height: 10px;
      transform: rotate(90deg);

      background-color: $turqoise;
      -webkit-mask-image: url("../images/Arrow.svg");
      mask-image: url("../images/Arrow.svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center;
      mask-position: center;
    }
  }
}
