.icon {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;


  @include on-desctop {
    width: 48px;
    height: 48px;
  }

  &--menu {
    background-image: url(../images/icons/menu_icon.svg);

    @include on-desctop {
      display: none;
    }
  }

  &--bag {
    display: none;
    background-image: url(../images/icons/bag.svg);


    @include on-desctop {
      display: block;
    }
  }
}
