.icon {
  width: 32px;
  height: 32px;

  &__menu {
    @include onDesktop {
      display: none;
    }
  }

  &__basket {
    display: none;

    @include onDesktop {
      @include transformElement;
      display: block;
    }
  }

  &__close {
    width: 12px;
    height: 12px;
    background-image: url(../images/icons/close.svg);
    background-repeat: no-repeat;
  }
}
