.icon {
  display: block;
  width: 32px;
  height: 32px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  &--menu {
    background-image: url(../images/icons/icon-menu.svg);

    @include onDesktop {
      display: none;
    }
  }

  &--close {
    width: 12px;
    height: 12px;
    background-image: url(../images/icons/icon-close.svg);
  }

  &--basket {
    width: 48px;
    height: 48px;
    display: none;
    background-image: url(../images/icons/icon-basket.svg);

    @include onDesktop {
      display: block;
    }
  }

  &--facebook {
    background-image: url(../images/icons/icon-facebook.svg);
  }

  &--instagram {
    background-image: url(../images/icons/icon-instagram.svg);
  }

  &--twitter {
    background-image: url(../images/icons/icon-twitter.svg);
  }
}
