.icon {
 @extend %icon;

 @include hover(scale,110%);

  &--menu {
    background-image: url(../images/icon/menu_icon.svg);
    height: 32px;
    width: 32px;

    @include onDesktop {
      display: none;
    }
  }

  &--basket {
    display: none;
    background-image: url(../images/icon/basket.svg);
    height: 30px;
    width: 30px;

    @include onDesktop {
      display: block;
    }
  }

  &--instagram {
    background-image: url(../images/icon/instagram.svg);
    height: 20px;
    width: 20px;

    @extend %icon;
  }

  &--cross {
    background-image: url(../images/icon/cross.svg);
    height: 13px;
    width: 13px;
  }
}

