.icon {
  display: block;
  align-items: center;
  background-size: cover;
  
  height: 32px;
  width: 32px;

  &--menu {
    background-image: url(/src/images/icons/menu_icon--2x.png);
    display: flex;
  }
}
