.logo {
  &__content {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.06em;
    font-family: "Bebas Neue", sans-serif;
    transition: color $animationTime;

    &:hover {
      color: $titleColor;
    }
  }
}
