.main {
  overflow: hidden;

  @media (min-width: $mediumScreen) {
    padding: 0;
  }

  &__top {
    padding: 0 30px;
  }

  &__whom {
    padding: 0 30px;
    @media(min-width: $smallScreen) {
      padding: 0 34px;
    }
  }

  &__features {
    padding: 0 30px;
    @media(min-width: $smallScreen) {
      padding: 0 34px;
    }
  }

  &__team {
    padding: 0 30px;
    @media(min-width: $smallScreen) {
      padding: 0 34px;
    }
  }

  &__materials {
    margin-top: 200px;

  }

  &__size-house {
    padding: 0 30px;
    @media(min-width: $smallScreen) {
      padding: 0 34px;
    }
  }

  &__sale {
    padding: 0 30px;

    @media(min-width: $mediumScreen) {
      padding: 0;
    }
  }

  &__contacts {
    margin: 70px 0 0;
    position: relative;
  }
}
