.main {
  padding: 0 30px;
  overflow: hidden;
  @media(min-width: $smallScreen) {
    padding: 0 34px;
  }

  @media (min-width: $mediumScreen) {
    padding: 0;
  }
  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    @media(min-width: $smallScreen) {
      flex-direction: row-reverse;
      padding: 0 64px;
    }

    @media(min-width: $moreAverageScreen) {
      flex-direction: row-reverse;
      padding: 0 120px;
    }
    @media(min-width: $largeScreen) {
      padding: 0 134px 0 234px;
    }

  }

  &__whom {
    display: flex;
    margin-top: 102px;
    @media (min-width: $smallScreen) {
      justify-content: start;
      align-items: stretch;
    }

    @media (min-width: $mediumScreen) {
      padding: 0 50px;
    }

    @media (min-width: $moreAverageScreen) {
      padding: 90px 90px 0;
    }

    @media (min-width: $largeScreen) {
      padding: 0 135px;
    }
  }

  &__features {
    padding-top: 70px;
    @media (min-width: $mediumScreen) {
      padding: 0 50px;
      padding-top: 0;
    }

    @media (min-width: $moreAverageScreen) {
      padding: 0 90px;
    }

    @media (min-width: $largeScreen) {
      padding: 0 135px;
    }
  }

  &__team {
    @media (min-width: $mediumScreen) {
      padding: 0 50px;
    }

    @media (min-width: $largeScreen) {
      padding: 0 135px;
    }

    &__team {
      margin-bottom: 100px;
    }
  }

  &__materials {
    margin-top: 200px;

  }

  &__size-house {
    margin-top: 120px;
    padding-top: 70px;
    @media (min-width: $smallScreen) {
      padding-top: 0;
    }
    @media (min-width: $mediumScreen) {
      padding: 0 50px;

    }

    @media (min-width: $largeScreen) {
      padding: 0 135px;
    }
  }

  &__sale {
    margin-top: 90px;
    @media (min-width: $mediumScreen) {
      padding: 0 50px;
    }

    @media (min-width: $largeScreen) {
      padding: 0 135px;
    }
  }

  &__contacts {
    margin: 140px 0 0;

    @media (min-width: $mediumScreen) {
      padding: 0 50px;
    }

    @media (min-width: $largeScreen) {
      padding: 0 135px;
    }
  }
}
