.main {
  display: grid;
  row-gap: 110px;

  @include onTablet {
    display: block;
  }

  &__for-whom {
    @include onTablet {
      margin-top: 130px;
    }

    @include onDesktop {
      margin-top: 150px;
    }
  }

  &__features {
    @include onTablet {
      margin-bottom: 130px;
    }

    @include onDesktop {
      margin-bottom: 150px;
    }
  }

  &__team {
    overflow: hidden;
  }
}
