.main {
  display: grid;
  row-gap: 110px;
  margin-top: 110px;

  @include onTablet {
    margin-top: 109px;
  }

  @include onDesktop {
    margin-top: 150px;
  }

  &__for-whom {
    @include onTablet {
      margin-bottom: 130px;
    }

    @include onDesktop {
      margin-bottom: 150px;
    }
  }
}
