.materials {
  position: relative;

  &__image {
    width: 100%;
  }
  &__title {
    font-family: "BebasNeue-Bold", sans-serif;
    font-size: 58px;
    line-height: 58px;
    letter-spacing: 0.15em;

    color: #03839e;
  }

  &__info {
    display: none;
  }

  &__content--1 {
    position: absolute;
    //margin: 0 10%;
    transform: translateY(-30%);
    z-index: 1;
  }
  &__back {
    background: rgba(36, 35, 35, 0.75);
    opacity: 0.9;
  }
  &__text-button {
    padding: 28px 20px 0;
    color: #f8f8f8;
  }
  &__button {
    display: none;
  }

  @media (min-width: 768px) {
    &__info {
      display: block;
      position: absolute;
      top: 50px;
      right: 20px;
      width: 44%;
    }
    &__title-info {

    }
    &__content--1 {
      //position: absolute;
      //margin: 0 10%;
      transform: none;
      right: 30px;
      bottom: 22px;
      margin: 0;
      width: 300px;
      //padding-bottom: 20px;
      //z-index: 1;
    }
    &__back {
      //padding-bottom: 20px;
    }

    &__text-button {
      padding: 35px 45px;
    }

    &__button {
      position: absolute;
      display: block;
      @include square(51px);

      background-image: //url("../images/circle-gray.svg")
        url("../images/circle-red.svg");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      background-color: #eb5757;

      border: none;
      outline: none;

      cursor: pointer;
      &::before {
        content: "+";
        color: #e0e0e0;
        font-size: 20px;
        line-height: 51px;
      }

      &--active {
        top: -30%;
        right: 120px;
        background: rgba(36, 35, 35, 0.75);
        &::before {
          content: "-";
          color: #e0e0e0;
          font-size: 20px;
          line-height: 51px;
        }
      }
    }
    &__content--2 {
      position: absolute;
      right: 35%;
      bottom: 35%;
    }
    &__content--3 {
      position: absolute;
      left: 35%;
      bottom: 40%;
    }
    &__content--4 {
      position: absolute;
      left: 48%;
      bottom: 15%;
    }
    &__content--5 {
      position: absolute;
      left: 14%;
      bottom: 20%;
    }
  }

  @media (min-width: 992px) {
    &__info {
      padding-right: 50px;
    }
    &__title {
      padding-left: 50px;
    }
  }
  @media (min-width: 1440px) {
    &__title {
      padding-left: 135px;
    }
    &__info {
      padding-right: 135px;
    }
  }
}

.rhombus {
  padding: 11px 0 40px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &__img {
    @include square(10px);
    background: cover;
    background-image: url("../images/rhombus.svg");
    background-repeat: no-repeat;

    &--gray {
      background-image: url("../images/rhombus-active.svg");
      @include square(12px);
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}
