.menu {
  z-index: 1;
  background-color: $colorTurquoise;
  height: 100vh;

  position: fixed;
  top: 0;
  right: 0;
  left: 28%;
  transform: translateX(100%);
  transition: transform 0.3s;

  &:target {
    transform: translateX(0);
  }

  &__nav {
    padding: 138px 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    margin-left: 84px;
  }

  &__link {
    min-width: 90px;
    text-decoration: none;
    line-height: 150%;
    color: $colorWhite;
    transition: all 0.3s;

    &:hover {
      color: $colorRed;
    }
  }

  &__basket {
    position: relative;
  }

  &__number {
    position: absolute;
    top: 0;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    background-color: $colorRed;
    border-radius: 50%;
    font-family: $fontBebas;
    font-size: 9px;
    color: $colorWhite;
  }

  &__cross {
    position: absolute;
    bottom: 90px;
    right: -20px;
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
  }

  &__cross-link {
    display: block;
    padding: 5px;

    rect {
      transition: all 0.3s;
    }

    &:hover {
      rect {
        fill: $colorRed;
      }
    }
  }

  &__cross-line {
    height: 1px;
    width: 44px;
    background-color: $colorWhite;
    margin: 0 5px 0 13px;
  }

  &__cross-text {
    font-size: 12px;
    text-transform: uppercase;
    color: $colorWhite;
  }
}
