.menu-mobile {
  margin-top: 138px;
  // margin-bottom: 90px;

  &__list {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 15px;
  }

  &__link {
    position: relative;

    @extend %nav--link-mobile;
  }

  &__close {
    margin-right: -40px;
    padding-top: 140px;

    align-self: end;
  }

  &__btn {
    transform: rotate(-90deg);

    &--img {
      padding-right: 18px;
    }

    &--link {

      @include hover(transform, scale(1.1));

      display: flex;
      align-items: center;
      gap: 5px;

      @extend %nav--link-mobile;

      font-size: 12px;
      text-transform: uppercase;

      span {
        height: 1px;
        width: 40px;
        background-color: $clr--gray-light;
      }
    }
  }

  &__rank {
    position: absolute;
    bottom: 10px;
    right: -30px;

    @extend %rank;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $clr--red;
  }
}
