.nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }

  &__link {
    display: inline-block;
    @extend %nav--link;

    @include hover(color, $clr--gray-3);
  }
}
