.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    list-style: none;
  }

  &__ittem {

  }

  &__link {
    display: block;
    text-decoration: none;
    color: $colorGrayMainText;
  }

  &__shop {

  }
}
