.page {
  scroll-behavior: smooth;
  overflow-x: hidden;

&__body {
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &--with-menu {
    overflow: hidden;
  }
}
}
