.page {
  font-family: "Bebas Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;

  &__body {
    margin: 0;

    @include on-tablet {
      background-image: url(../images/rectangle.svg);
      background-position: top 0 right 154px;
      background-repeat: no-repeat;
    }

    @include on-desctop {
      background-position: 0 0;
    }
  }
}
