.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  transform: rotate(-45deg);
  background: $bgColor;
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: $textColor;
  border: 1px solid $bgColor;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 30px;
}
