.main {
  padding: 0 30px;
}

.main__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.potr-info__title {
  margin-top: 25px;
  font-family: "BebasNeue-Bold", sans-serif;
  font-weight: 700px;
  font-size: 36px;
  line-height: 36px;
  //letter-spacing: ;
  letter-spacing: 0.155em;
  text-transform: uppercase;
  color: #03839e;

  & span {
    //font-weight: ;
    color: transparent;
    -webkit-text-stroke: 1px #03839e;
  }
}

.main__img {
  position: relative;
  width: 320px;
  height: 320px;
  //padding: ;
  //overflow: hidden;

}

.main__image {
  position: absolute;
  width: 100%;
  height: 100%;
  //object-fit: cover;
  //object-position: 50% 50%;
  top: 0;
  left: 0;

}
