.presentation {
  &__content {
    position: relative;
    margin-bottom: 110px;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 20px;
    }

    @include onDesktop {
      grid-template-columns: repeat(12, 1fr);
      column-gap: 30px;
      margin-bottom: 150px;
    }
  }

  &__photo {
    margin: 0 -30px 25px;

    @include onTablet {
      max-width: 500px;
      height: 306px;
      grid-area: 1 / 4 / 3 / -1;
      margin: 0 0 0 30px;
    }

    @include onDesktop {
      grid-area: 1 / 8 / 4 / -1;
      height: 500px;
      margin-left: -30px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__title {
    font-family: $fontBebas;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $colorTurquoise;
    width: 260px;

    margin-bottom: 30px;

    @include onTablet {
      grid-area: 1 / 1 / 2 / 5;
      font-size: 64px;
      line-height: 64px;
      width: 460px;
      margin: 0;
    }

    @include onDesktop {
      grid-area: 1 / 2 / 2 / 7;
      margin-bottom: 20px;
    }
  }

  &__title-border {
    color: transparent;
    -webkit-text-stroke: 0.7px $colorTurquoise;
  }

  &__price {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-bottom: 20px;

    @include onTablet {
      grid-area: 2 / 3 / 3 / 5;
      margin-bottom: 50px;
    }

    @include onDesktop {
      grid-area: 2 / 5 / 3 / 7;
    }
  }

  &__cost {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: $colorDarkGray;
  }

  &__text {
    font-size: 14px;
    line-height: 150%;
    width: 140px;
  }

  &__button {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $colorYellow;
    border: 1px solid $colorYellow;
    transition: all 0.3s;

    &:hover {
      opacity: 0.4;
    }

    @include onTablet {
      grid-area: 3 / 2 / 4 / 5;
      width: 240px;
    }

    @include onDesktop {
      grid-area: 3 / 4 / 4 / 7;
      width: 100%;
      margin-bottom: 42px;
    }
  }

  &__side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 0;
    right: -20px;

    path {
      transition: all 0.3s;
    }

    &:hover {
      path {
        fill: $colorBlack;
      }
    }

    @include onTablet {
      right: 99%;
      bottom: -47px;
    }

    @include onDesktop {
      bottom: 8px;
    }
  }
}
