.section {
  opacity: 0;

  &--animation {
    @keyframes slideDown {
      from {
        opacity: 0;
        transform: tarslateY(-25%);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    animation: slideDown 2s forwards;
  }
}
