.side {
  display: flex;
  align-items: center;

  &__line {
    display: block;
    width: 65px;
    height: 1px;
    background-color: rgba(130, 130, 130, 1);
  }

  &__text {
    margin: 0;
    color: rgba(130, 130, 130, 1);
    font-family: "Bebas Neue", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2.64px;
    line-height: 14px;
    padding-left: 10px;
  }
}
