.side-link {
  position: absolute;
  z-index: 1;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.22em;
  color: $c-gray-whitish;
  writing-mode: vertical-rl;

  gap: 10px;
  align-items: center;
  width: 18px;

  @include hover(transform, scale(1.1));

  &::before {
    content: '';
    display: block;
    height: 65px;
    width: 1px;
    background-color: $c-gray-whitish;
  }
}
