.side-text {
  font-family: "Bebas Neue", sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.22em;
  color: $c-side-text;
  text-transform: uppercase;

  transform: rotate(90deg);

  &::before {
    content: "";
    background-image: url(/images/icons/side-text-line.svg);

    display: block;
    position: relative;
    top: 6px;
    left: -80px;

    width: 65px;
    height: 1px;
  }
}
