.sizes {
  grid-column: 1/-1;

  @include onTablet {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
  }

  @include onDesktop {
    grid-row: 1 / 2;
    grid-column: 4 / 7;
  }

  &__title {
    font-family: "Bebas Neue", sans-serif;
    color: $colorBlack;

    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2.79px;


    margin-bottom: 10px;

  }

  &__subtitle {
    font-family: "Manrope", sans-serif;
    color: $colorGrayMainText;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    margin-bottom: 40px;

    &:nth-last-child(1) {
      margin-bottom: 15px;
    }
  }
}
