.text-slider {
  width: 100%;
  height: 254px;
  line-height: 150%;
  color: #f8f8f8;
  background-color: #242323b1;
  backdrop-filter: blur(10px);

  & .swiper-pagination-bullet-active,
  & .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    border-radius: 0%;
    border: 1px #fff solid;
    transform: rotate(45deg);
    background-color: #fff;
    opacity: 1;
  }

  & .swiper-pagination-bullet-active {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__slide {
    padding: 28px 45px;
    overflow: auto;
  }
}
