.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 0 10px;

    @include onTablet {
    padding: 29px 0 49px;
    }

  &__logo--link {
    @include hover(transform, scale(1.05));
  }

  &__logo {
    height: 43px;
  }

  &--mobile {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
