.wrapper {
  &__potr-pots {
    margin: 0 0 130px;

    @include on-tablet-large() {
      margin: 0 0 110px;
    }

    @include on-tablet() {
      margin: 0 0 105px;
    }

    @include on-phone() {
      margin: 0 0 90px;
    }
  }

  &__from-whom {
    margin: 0 0 130px;

    @include on-tablet-large() {
      margin: 0 0 110px;
    }

    @include on-tablet() {
      margin: 0 0 105px;
    }

    @include on-phone() {
      margin: 0 0 90px;
    }
  }

  &__features {
    margin: 0 0 130px;

    @include on-tablet-large() {
      margin: 0 0 70px;
    }
  }

  &__team {
    margin: 0 0 205px;

    @include on-tablet-large() {
      margin: 0 0 227px;
    }

    @include on-tablet() {
      margin: 0 0 100px;
    }
  }

  &__materials {
    margin: 0 0 100px;

    @include on-tablet-large() {
      margin: 0 0 90px;
    }

    @include on-tablet() {
      margin: 0 0 45px;
    }

    @include on-phone() {
      margin: 0 0 250px;
    }
  }

  &__size {
    margin: 0 0 80px;

    @include on-tablet-large() {
      margin: 0 0 20px;
    }

    @include on-tablet() {
      margin: 0;
    }
  }

  &__benefits {
    margin: 0;
  }

  &__questions {
    margin: 0 0 195px;

    @include on-tablet() {
      margin: 0 0 70px;
    }
  }
}
