.materials {
  &__content {
    position: relative;
  }

  &__title {
    margin-bottom: -80px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: 0.15em;
    color: $c-turquoise;

    @include onTablet {
      margin-bottom: -45px;
      font-size: 80px;
      line-height: 96px;
      letter-spacing: 0.12em;
    }
  }


  &__subtitle {
    display: none;

    @include onTablet {
      display: block;
      margin-left: 360px;
      margin-bottom: 10px;
      font-family: "Manrope", sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: $c-gray-mid;
    }

  }

  &__description {
    display: none;

    @include onTablet {
      display: block;
      margin-left: 360px;
      margin-bottom: -100px;
      font-family: "Manrope", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $c-gray-mid;
    }

  }

  &__image-wrapper {
    position: relative;
    margin-left: -30px;
    margin-bottom: -51px;
    z-index: -1;

    @include onTablet {
      // margin-left: -34px;
      margin-bottom: 0;
    }

    @include onDesktop{
      margin-left: -135px;
    }
  }

  &__image {
    width: 320px;

    @include onTablet {
      width: 768px;
    }

    @include onDesktop{
      width: 1440px;
    }


  }

  &__slider-mobile {
    position: relative;
    width: 302px;
    margin-left: -21px;
    padding: 28px 44px;
    background-color: #747474;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $c-gray-light;
    backdrop-filter: blur(34px);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.15);

    @include onTablet {
      display: none;
    }
  }

  &__morewrapper {

  }

  &__plus-info {
    display: none;

    &--1 {

    }

    &--2 {

    }

    &--3 {

    }

    &--4 {

    }

    &--5 {

    }
  }

  &__plus {
    display: none;

    place-items: center;
    z-index: 1;
    width: 51px;
    height: 51px;
    top: 0;
    left: 0;

    font-size: 30px;
    color: $c-gray-light;
    background-color: $c-red;
    border-radius: 50%;

    @include onTablet {
      display: grid;
    }

    &--1 {
      top: 0;
      left: 0;

      &:hover {
        & + .material__plus-info--1 {
          display: block;
        }
      }
    }

    &--2 {
      top: 50%;
      left: 17%;

    }

    &--3 {
      top: 20%;
      left: 17%;

    }

    &--4 {
      top: 30%;
      left: 17%;

    }

    &--5 {
      top: 60%;
      left: 17%;
    }
  }


}
