.about-us {
  position: relative;
  &__title {
    grid-column: 1 / 4;
    font-size: 58px;
    line-height: 70px;
    margin-bottom: 25px;
  }

  &__photo {
    width: 100%;
    margin-bottom: 30px;
  }
  &__background {
    position: absolute;
    z-index: -1;
    left: 0;
    transform: translateY(90px);
    width: 100%;
  }
  &__paragraph {
    grid-column: 1 / 4;
  }
}
