.about-link {
  display: flex;
  align-items: center;
  gap: 10px;

  text-decoration: none;
  text-wrap: nowrap;
  color: $main-accent;

  @include for-foldable-width {
    display: none;
  }

  &__arrow {
    @include set-arrow-color($main-accent);
  }

  &:hover &__arrow{
      transform: translateX(10px);
  }
}
