.additional-info {
  @include for-tablet() {
    display: grid;
    grid-template-columns: repeat(2, 316px);
    gap: 20px;
  }

  &__article {
    @include for-tablet() {
      margin-bottom: 30px;
    }
  }

  &__marker {
    @include for-tablet() {
      width: 10px;
      height: 10px;
      background-color: #4f4f4f;
      position: absolute;
      top: 43%;
      left: -25px;
      transform: rotate(45deg);
    }
  }

  &__button {
    @include for-tablet() {
      margin-left: 0;
      margin-top: 100px;
      border: 1px solid #03839e;
      background-color: white;
    }
  }
}
