.advantage {
  position: relative;
  box-sizing: border-box;

  @include flex (column, space-between, center);

  @include shape (100%, 260px);
  padding: 30px 40px;

  background-color: scaleColor(55%);
  box-shadow: 0 3px 2px scaleColor(85%);

  @include onTablet {
    justify-content: center;
    gap: 20px;

    @include shape (fit-content);
    padding: 0;

    background-color: transparent;
    box-shadow: none;
  }

  &:target &__description {
    @include onTablet {
      z-index: 2;
      visibility: visible;
    }
  }

  &:target &__link {
    @include onTablet {
      display: none;
    }

    &--close {
      display: block;
    }
  }

  &__link {
    display: none;

    @include onTablet {
      position: relative;
      display: block;

      @include shape (50px, 50px, 50%);
      background-color: $red;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        @include shape (12px, 00.1px);
        border-top: 1px solid $gray-light;

        transform: translate(-50%, -50%);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }

      &--close {
        display: none;
        background-color: scaleColor(25%);
        backdrop-filter: blur(12px);
        opacity: 0.65;

        &::after {
          visibility: hidden;
        }
      }
    }
  }

  &__description {
    color: $gray-light;

    @include onTablet {
      box-sizing: border-box;
      width: 283px;
      padding: 35px;

      background-color: scaleColor(55%);
      backdrop-filter: blur(40px);

      visibility: hidden;
    }

    @include onDesktop {
      width: 300px;
      backdrop-filter: blur(35px);
    }
  }

  &__description-link {
    position: absolute;
    right: 0;
    top: 0;

    @include shape (33%, 100%);

    &--back {
      left: 0;
    }

    @include onTablet {
      display: none;
    }
  }

  &__links-list {
    @include onTablet {
      display: none;
    }
  }
}
