.advantage {
  box-sizing: border-box;
  @include flex (column, space-between, center);

  @include shape (100%, 260px);
  padding: 30px 40px;

  background-color: scaleColor(55%);
  box-shadow: 0 3px 2px scaleColor(85%);

  @include onTablet {
    justify-content: center;
    gap: 20px;

    @include shape (fit-content);
    padding: 0;

    background-color: transparent;
    box-shadow: none;
  }

  &__link {
    display: none;

    @include onTablet {
      position: relative;
      display: block;

      @include shape (50px, 50px, 50%);
      background-color: $red;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        @include shape (12px, 00.1px);
        border-top: 1px solid $gray-light;

        transform: translate(-50%, -50%);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &__description {
    color: $gray-light;

    @include onTablet {
      box-sizing: border-box;
      width: 283px;
      padding: 35px;

      background-color: scaleColor(55%);
      backdrop-filter: blur(40px);
    }

    @include onDesktop {
      width: 300px;
      backdrop-filter: blur(35px);
    }

    // visibility: hidden;

    // &:target {
    //   visibility: visible;
    // }
  }

  &__links-list {
    @include onTablet {
      display: none;
    }
  }
}
