.animated {
  &--section {
    @keyframes slideDown {
      from {
        opacity: 0;
        transform: translateY(-30%);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    animation: slideDown 2s forwards;
  }

  &--discount {
    @keyframes rotate {
      0% {
        transform: scale(1) rotate(0);
        opacity: 0;
      }
      50% {
        transform: scale(1.5) rotate(360deg);
        opacity: 1;
      }
      100% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
      }
    }

    animation: rotate 1.5s ease 0.5s forwards;
    opacity: 0;
  }

  &--team-bg {
    &--martin {
      @keyframes slideLeft {
        from {
          transform: translateX(100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
      @include onTablet {
        animation: slideLeft 0.5s ease-in 1s forwards;
      }
    }

    &--andy {
      @keyframes slideRight {
        from {
          transform: translateX(-150%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
      @include onTablet {
        animation: slideRight 0.5s ease-in 1s forwards;
      }
    }
  }
}
