.arrow {
  display: inline-block;
  height: 45px;

  &::after {
    content: url(../images/Arrow.svg);
  }
}

.arrow-button--black {
  display: inline-block;

  &::after {
    content: url(../images/Arrow_button_black.svg);
  }
}

.arrow-button--white {
  display: inline-block;

  &::after {
    content: url(../images/Arrow_button_white.svg);
  }
}
