.article {

  &__number {
    letter-spacing: 0.15em;
    margin-bottom: 32px;
    color: $c-black;

    &::before {
      content: "";
      position: relative;
      display: inline-block;

      height: 46px;
      width: 20px;
      bottom: -4px;

      background-repeat: no-repeat;
      background-image: url("../images/for_whom_num.svg");
    }
  }

  &__title {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    line-height: $lineHeight-150;
    color: $c-black;

    margin-bottom: 20px;
  }

  &__text {
    font-family: $fontFamilyMonrope;
    font-size: 16px;
    line-height: $lineHeight-150;
    color: $c-lightGray;
  }
}
