.article {

  &__number {
    letter-spacing: 0.15em;
    margin-bottom: 32px;
    color: #000;

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      height: 46px;
      width: 20px;
      bottom: -4px;
      background-repeat: no-repeat;
      background-image: url("../images/for_whom_num.svg");
    }
  }

  &__title {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    line-height: 150%;
    color: #000;

    margin-bottom: 20px;
  }

  &__text {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #4f4f4f;
  }
}
