.badge {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 15px;
  height: 15px;

  border-radius: 50%;
  color: $c-grey-light;
  background-color: $c-pink-accent;

  text-align: center;
  font-family: $ff-main;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.1em;
}
