.basket-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-red;
  border-radius: 50%;
  @include square(14px);

  @extend %title-black;
  font-size: 9px;
  color: $color-gray-light;
  text-align: center;

  position: absolute;
  top: 0;
  right: 15px;

  &--icon {
    top: initial;
    bottom: 5px;
    right: 5px;
  }
}
