.basket {
padding: 35px;
flex-direction: column;


&__product-total {
display: flex;


flex-direction: column;

}
&__h2 {
  @include font-h3;

}

&__item {
  display: flex;
  justify-content: space-between;

}

&__field {
  overflow: hidden;
  display: flex;

place-content: center;
  width: 60px;

}

&__name {
  @include font-s3;
}
&__product-box {
  padding: 30px;
box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include font-s3;


  gap: 30px;

}

&__img {
  display: block;
}

&__product {
  display: flex;

  gap: 50px 10px;


  border: solid 1px $grey;
  box-sizing: border-box;
  padding: 15px;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  @include desktop {
    flex-direction: row;
   justify-items: flex-end;
  }
}



&__plus {
  @include font-s4;

  color: white;
  background-color: $red;
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;

@include icon-animation;
&:hover {
  cursor: pointer;
}
}

&__minus {
  @include font-s4;

  color: white;
  background-color: $grey;
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;

@include icon-animation;

&:hover {
  cursor: pointer;

}
}

}
