.benefit-card {
  width: 200px;
  background-color: #fff;
  padding: 15px;
  transition: transform 0.3s;
  cursor: pointer;

  &__img {
    width: 100%;
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
  }

  &:nth-of-type(1) {
    transform: rotate(-15deg);
  }

  &:nth-of-type(2) {
    transform: rotate(-30deg) translate(15%, -20%);
  }

  &:nth-of-type(3) {
    transform: translate(-25%, 10%);
    z-index: 2;
  }

  &:nth-of-type(4) {
    transform: rotate(-15deg) translate(-17%, -20%);
  }

  &:nth-of-type(5) {
    transform: rotate(-16deg) translate(20%, -5%);
  }

  &:nth-of-type(6) {
    transform: rotate(-31deg) translate(35%, -5%);
  }

  &:hover {
    transform: scale(1.2);
    z-index: 99;
  }
}
