@import '../utils/vars';

.benefits__title {
    position: relative;
    color: $dark-grey;
    font-family: $Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
    margin-bottom: 5px;

    @include on-tablet {
        margin-left: 20px;
        font-size: 36px;
    }


    &::before {
        content: url(/src/images/icons/icon-benefits.svg);
        position: absolute;
        left: -20px;
        top: -5px;
        width: 14px;
        height: 14px;


        @include on-tablet {
            left: -20px;
        }
        
        @include on-desktop {
            right: 10px;
      
        }   
    }
}


.benefits__paragraph {
    color: $middle-light-grey;
    font-family: $Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include on-tablet {
        margin-left: 20px;
    }
}

.benefits__text {
    color: $middle-light-grey;
    font-family: $Proxima_Nova;
    font-size: 8.74px;
    font-style: normal;
    font-weight: 400;
    line-height: 131.5%; 
}