.benefits {
  position: relative;
  margin: 0 0 110px;

  @include onDesktop {
    margin: 0;
  }

  &__gallery {
    display: none;

    @include onDesktop {
      display: grid;
    }

  }

  &__img {
    width: 110%;
    height: 828px;
    object-fit: fill;
    object-position: center;
    transform: translateX(-60px);
  }

  &__box {

    @include onTABS {
      display: flex;
      justify-content: space-between;
    }

    @include onDesktop {
      margin: 190px 0 0;
      display: grid;
    }
  }
  &__list {
    margin: 0;
    display: block;
    text-decoration: none;
    list-style: none;
    padding: 0;

    @include onTABS {
      padding: 0 30px 0 0;
    }

    @include onDesktop {
      display: flex;
      padding: 0;
      flex: 30%;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: block;
    position: relative;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    height: 100px;
    align-items: flex-end;
    color: #333;
    white-space: nowrap;

    &::before {
      position: absolute;
      content: " ";
      left: -16px;
      top: 20px;
      width: 8px;
      height: 8px;
      background: #4f4f4f;
      transform: rotate(-45deg);
    }

    @include onDesktop {
      &:first-child {
        padding: 0 40px 0 0;
      }
    }

    &-text {
      margin: 0;
      font-family: "Manrope", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #828282;

      @include onDesktop {
        padding: 5px 0 40px;
      }
    }
  }

  &__clik {
    display: flex;
    flex-direction: column;
    justify-content: start;

    @include onTABS {
      justify-content: center;
    }

    @include onDesktop {
      justify-content: start;
    }
  }

  &__sale {
    margin: 35px 0 5px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #eb5757;
    text-align: start;

    @include onDesktop {
      margin: 70px 0 5px  100px;
    }
  }

  &__text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #03839e;

    @include onDesktop {
      margin: 0 0 0 100px;
    }
  }
}
