.benefit-card {
  width: 200px;
  background-color: #fff;
  padding: 15px;
  transition: transform 0.3s;
  cursor: pointer;

  &__img {
    width: 100%;
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
  }

  &:nth-of-type(1) {
    transform: rotate(-15deg);
  }

  &:nth-of-type(2) {
    transform: rotate(-28deg);
  }

  &:nth-of-type(4) {
    transform: rotate(-15deg);
  }

  &:nth-of-type(5) {
    transform: rotate(-16deg);
  }

  &:nth-of-type(6) {
    transform: rotate(-31deg);
  }

  &:hover {
    transform: scale(1.2);
    z-index: 99;
  }
}
