.block-b {
  margin-bottom: 70px;

  @include onTablet {
    width: 100%;
    @include flex-row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 0;
  }

  @include onDesktop {
    width: 50%;
    @include grid-6-desktop;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas: ". im im im im ."
    "txt txt txt txt txt txt";
  }

  &__img-box {
    display: none;

    @include onTablet {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }

    @include onDesktop {
      width: 100%;
      grid-area: im;
      margin-bottom: 44px;
    }
  }

  &__img {
      width: 80%;
      object-fit: contain;
      object-position: center;
  }

  &__grid {
    @include onTablet {
      width: 50%;
      grid-area: txt;
      @include grid-3;
      grid-auto-rows: minmax(min-content, max-content);
      grid-template-areas: ". . star type"
      "pos . . ."
      "descr descr descr descr";
    }

    @include onDesktop {
      width: 100%;
      @include grid-6-desktop;
      grid-template-areas: "star type . . . ."
      ". pos . . . ."
      ". descr descr descr descr .";
    }
  }

  &__star {
    display: none;
    @include fs-24-lh-32;
    @extend %title-upper;
    color: black;

    @include onTablet {
      grid-area: star;
      display: block;
      justify-self: end;
    }
  }

  &__type {
    display: none;
    color: $black-333;

    @include onTablet {
      margin-bottom: 34px;
      display: block;
      grid-area: type;
    }
  }

  &__position {
    @extend %bebas;
    @include fs-36;
    color: $black-100;
    margin-bottom: 8px;

    @include onTablet {
      grid-area: pos;
    }

    &::before {
      content: "";
      display: inline-block;
      height: 46px;
      border: 1px solid $black-333;
      transform: rotate(22deg);
      margin: 0 8px;
    }
  }

  &__product-descr {
    color: $gray-4f;

    @include onTablet {
      grid-area: descr;
    }
  }

  &__title {
    @extend %bebas;
    @include fs-36;
    color: $black-100;
    @extend %title-upper;
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 0;
    }

    @include onTablet {
      &::after {
        content: "";
        display: inline-block;
        position: relative;
        top: 10px;
        height: 46px;
        border: 1px solid $black-333;
        transform: rotate(22deg);
        margin-left: 4px;
      }
    }
  }
}
