.body {
  background-color: $gray-f8;

  &__nav {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform $transition-duration;

    &:target {
      transform: translateX(0);
    }
  }

  &__footer {
    margin: 0 auto;
  }
}
