html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.body {
  background-image: url(../images/Rectangle.png);
  background-size: auto ;
  background-position: left -1200px top 0;
  background-repeat: no-repeat;
  
  @include tablet {
    background-image: url(../images/Rectangle.png);
    background-position: left -450px top 0;
  }

  @include desktop {
    background-image: url(../images/Rectangle.png);
    background-position: left 0 top 0;

  }

  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #4f4f4f;
}
