a {
  text-decoration: none;
}

.body {
  background-image: url(../images/Rectangle.png);
  background-size: auto ;
  background-position: left -1200px top 0;
  background-repeat: no-repeat;
  min-width: 320px;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &:has(.page__bag:target) {
    overflow: hidden;
  }

  @include tablet {
    background-image: url(../images/Rectangle.png);
    background-position: left -450px top 0;
  }

  @include desktop {
    background-image: url(../images/Rectangle.png);
    background-position: left 0 top 0;
  }

  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #4f4f4f;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: initial;
  -webkit-text-fill-color: initial;
  -webkit-box-shadow: none;
}
