.bookmark {
  position: absolute;

  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.22em;
  color: $gray-3;
  padding-left: 75px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 65px;
    background-color: $gray-3;
    left: 0;
    top: 50%;
    transform: translateY(-100%);
  }
}
