.border-text {
  color: $turquoise;

  &__item {
    width: max-content;

    &--nowrap {
      white-space: nowrap;

      @include tablet {
        white-space: wrap;
      }
    }
  }

  &__item--border {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px $turquoise;
  }
}
