.border-text {
  display: none;

  @include tablet {
    display: block;
    height: 140px;
    writing-mode: vertical-rl;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: end;

    letter-spacing: 0.22em;
    color: $c-gray3;
    background: url("../images/icons/vertical-line.svg") no-repeat top 0 left 8px;
  }
}
