.bottom {
  &__item {
    padding-inline: 30px;

    @include onTablet {
      padding-inline: 0;
      grid-column: 3 / 5 ;
    }

    @include onDesktop {
      grid-column: 5 / 7;
    }
  }

  &__img {
    height: 319px;
    width: 100%;
    padding-bottom: 25px;
    transition: 0.4s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.06);
    }

    @include onTablet {
      display: block;
      height: 306px;
      width: 306px;
      padding-bottom: 0;
      position: absolute;
      right: 0;
    }

    @include onDesktop {
      height: 400px;
      width: 400px;
    }

    @include onSmallDesktop {
      height: 500px;
      width: 500px;
    }
  }

  &__tittle {
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.58px;
    text-transform: uppercase;
    color: $forth-text-color;
    -webkit-text-stroke: 1px $forth-text-color;
    padding-bottom: 30px;
    padding-inline: 30px;

    &--two {
      -webkit-text-stroke: 1px $forth-text-color;
      color: transparent;
    }

    @include onTablet {
      font-size: 64px;
      padding-bottom: 0;
      padding-inline: 0;
      letter-spacing: 9.92px;
      grid-column: 1 / 5;
      z-index: 2;
    }

    @include onDesktop {
      padding-bottom: 20px;
      grid-column: 2 /7;
    }
  }

  &__price {
    color: $second-text-color;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 1px;

    @include onDesktop {
      padding-bottom: 5px;
    }
  }

  &__subtittle {
    color: $five-text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 20px;

    @include onTablet {
      padding-bottom: 50px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: $main-item-color;
    width: 260px;
    justify-content: center;
    text-decoration: none;
    padding-block: 14px;
    transition: 0.4s ease-in-out;
    margin: 0 auto;

    &:hover {
      opacity: 0.7;
    }

    @include onTablet {
      width: 240px;
      grid-column: 2 /4;
    }

    @include onDesktop {
      width: 270px;
      grid-column: 4 / 7;
    }

    &--text {
      text-decoration: none;
      color: $six-text-color;
      font-size: 14px;
      font-weight: 600;
      line-height: 150%;
      text-transform: uppercase;
    }

    &--arrow {
      background-image: url(../images/hedaer/Arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: 25px;
      height: 10px;
    }
  }
}
