.burger-menu {
  height: 100vh;
  width: 100vw;

  &__close-background {
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: #2228;
  }

  &__deck {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 232px;
    background-color: $blue;
    padding: 132px 30px 40px 80px;
  }

  &__close-container {
    position: absolute;
    right: 30px;
    top: 409px;

    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 22px;
    padding: 5px;

    @extend %s5;
    color: $gray-light;
    text-transform: uppercase;
    line-height: 150%;

    transform: rotate(-90deg);
    transform-origin: right bottom;
  }
  &__close-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
