.burger-nav {
  width: 70vw;
  height: 100vh;
  background-color: $turquiseFont;

  &__list {
    list-style: none;
    margin: 138px 30px 250px 81px;
  }

  &__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 6px 0;
    margin: 0 32px 9px;

    font-family: "Proxima Nova", sans-serif;
    @include fontParams(16px, 150%, 400, normal);

    color: #f8f8f8;
    transition: transform $transitionTime;

    &:hover {
      transform: scale(1.2);
    }
  }
}
