.button {
display: flex;
place-items: center;

&--primary2 {
  @include button-primary2;
  @include font-button;

  transition: transform 0.5s ease-in-out;

  &:hover {
  @include button-primary2-hover;

  }

}

}
