.button-submit {
  padding: 5px 0 0;

  width: max-content;
  border: none;
  border-bottom: 1px dashed $c-darkGray;

  @include fontParams(16px);
  color: $c-darkGray;
  background-color: transparent;
}
