.button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  height: 48px;
  color: #121212;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  cursor: pointer;

  &--yellow {
    background-color: #ffe339;

    @include hover(opacity, 0.7);
  }

  &--blue {
    background-color: #03839e;
    border: none;

    @include hover(background-color, rgba(3, 128, 158, 0.4));
  }

  @include on-mobile {
    min-width: 260px;
  }

  @include on-tablet {
    width: 260px;
  }

  &::after {
    content: '⟶';

    display: block;
  }
}
