.buttonmaterial {
  display: none;

  @include onTABS {
    display: block;
    width: 52px;
    height: 52px;
    background-image: url(../images/Component.png);
    background-position: cover;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 50%;

  }

  &__text {
    position: absolute;
    margin: -280px -150px 0;
    padding: 35px;
    height: 162px;
    width: 284px;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #f8f8f8;
    opacity: 0;
    pointer-events: none;
    z-index: 10;

    &-1 {
      margin: -280px -100px 0;
    }

    &-2 {
      left: 200px;
      bottom: 120px;
    }

    &-3 {
      left: 390px;
      bottom: 0;
    }

    &-5 {
      margin: 60px -300px -300px;
    }
  }

  &:hover {
    background-image: url(../images/Componenthover.png);

    .buttonmaterial__text {
      opacity: 1;
    }
  }
}

.button__1 {

  @include onTABS {
    margin: 20% 0 10% 12%;
  }

  @include onDesktop {
    margin: 40% 0 0 10%;
  }

}

.button__2 {

  @include onTABS {
    margin: 16% 0 0 16%;
  }

  @include onDesktop {
    margin: 24% 0 0 20%;
  }

}

.button__3 {

  @include onTABS {
    margin: 200px 0 324px;
  }

  @include onDesktop {
    margin: 44% 0 0 10%;
  }

}

.button__4 {

  @include onTABS {
    margin: 20% 0 0 15%;
  }

  @include onDesktop {
    margin: 30% 0 0 10%;
  }
}

.button__5 {

  @include onTABS {
    margin: 15% 0 0  15%;
  }

  @include onDesktop {
    margin: 24% 15% 0;
  }
}
