.button {
  height: 48px;
  width: 100%;
  max-width: 238px;
  border: 1px solid $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  @extend %button;
  color: $gray3;
  transition: $transition-main;
  @include mobile {
    border-color: $yellow;
    background-color: $yellow;
  }
  &:hover {
    background-color: $blue;
    color: $white;
    @include mobile {
      color: $gray3;
      background-color: $white;
      border-color: $gray1;
    }
  }
  &--secondary {
    border-color: $gray5;
    background-color: $white;
    &:hover {
      color: $red;
      border-color: $red;
    }
  }
}

.submit {
  width: 100%;
  height: 50px;
  @extend %button;
  font-weight: 16px;
  text-transform: none;
  text-decoration: underline;
  text-decoration-style: dotted;

  color: $gray1;
  transition: $transition-main;
  &:hover {
    color: $red;
  }
}
