.buttonmaterial {
  display: none;

  @include onTABS {
    display: block;
    width: 52px;
    height: 52px;
    background-image: url(../images/Component.png);
    background-position: cover;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  &__text {
    position: absolute;
    box-sizing: border-box;
    padding: 35px;
    width: 284px;
    background-color: rgba(0, 0, 0, 0.4);
    mix-blend-mode: normal;
    backdrop-filter: blur(17px);
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #f8f8f8;
    opacity: 0;
    pointer-events: none;
    z-index: 10;

    &-1 {

      @include onTABS {
        bottom: 120%;
        left: -100%;
      }

      @include onDesktop {
        bottom: 120%;
        left: -100%;
      }

    }

    &-2 {
      @include onTABS {
        bottom: 120%;
        left: -500%;
      }

      @include onDesktop {
        bottom: 120%;
        left: -650%;
      }
    }

    &-3 {
      @include onTABS {
        bottom: -120%;
        left: -600%;
      }

      @include onDesktop {
        bottom: -120%;
        left: -700%;
      }
    }

    &-4 {

      @include onTABS {
        bottom: 120%;
        right: -200%;
      }

      @include onDesktop {
        bottom: 120%;
        right: -200%;
      }
    }

    &-5 {

      @include onTABS {
        top: 120%;
        right: -280%;
      }

      @include onDesktop {
        top: 120%;
        right: -280%;
      }
    }
  }

  &:hover {
    background-image: url(../images/Componenthover.png);

    .buttonmaterial__text {
      opacity: 1;
    }
  }
}

.button__1 {

  @include onTABS {
    display: block;
    position: absolute;
    bottom: 13%;
    left: 10%;
  }

  @include onDesktop {
    bottom: 6%;
    left: 16%;
  }

}

.button__2 {

  @include onTABS {
    display: block;
    position: absolute;
    bottom: 30%;
    left: 30%;
  }

  @include onDesktop {
    bottom: 28%;
    left: 37%;
  }
}

.button__3 {

  @include onTABS {
    display: block;
    position: absolute;
    bottom: 7%;
    left: 47%;
  }
}

.button__4 {

  @include onTABS {
    display: block;
    position: absolute;
    bottom: 17%;
    left: 58%;
  }
}

.button__5 {

  @include onTABS {
    display: block;
    position: absolute;
    bottom: 23%;
    left: 78%;
  }
}
