.buttom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 72px;
  width: 260px;
  height: 48px;
  background-color: $c-yellow;

  @include onTablet {
    grid-column: 2 / 4;
  }

  @include onDesktop {
    grid-column: 4 / 7;
    width: 260px;
  }



  &__title {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-transform: uppercase;
    color: #121212;
  }
}
