.button {
display: flex;
place-items: center;

&--primary {
  @include button-primary;
  @include font-button;

  transition: 0.5s ease-in-out;

  &:hover {
  @include button-primary-hover;

  transition: 0.5s ease-in-out;

  }

}


&--primary2 {
  @include button-primary2;
  @include font-button;

  transition: 0.5s ease-in-out;

  &:hover {
  @include button-primary2-hover;

  transition: 0.5s ease-in-out;

  }

}

&--secondary {
  @include button-secondary;
  @include font-button;

  transition: 0.5s ease-in-out;

  &:hover {
  @include button-secondary-hover;

  transition: 0.5s ease-in-out;

  }

}

}
