.button {
  display: block;
  padding: 14px 0;
  width: 100%;
  height: 46px;
  border: 1px solid $turquoise;
  text-align: center;
  text-decoration: none;
  color: #121212;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  &--primary {
    background-color: $turquoise;
    color: #fff;

    &:hover {
      opacity: 0.4;
    }
  }

  &--primary2 {
    background-color: $yellow;
    border-color: $yellow;

    &:hover {
      opacity: 0.4;
    }
  }

  &--secondary {
    &:hover {
      border-color: $turquoise;
      color: #fff;
    }
  }

  &--secondary2 {
    border-color: #121212;
    &:hover {
      background-color: #fff;
    }
  }
}
