.card {
  height: 310px;
  width: 290px;
  padding: 24px 29px 56px;
  background-color: #fff;

  &__img {
    margin: 0;
    height: 230px;
    width: 230px;
    object-fit: cover;
    object-position: center;
  }

  &__description {
    font-size: 11px;
    line-height: 132%;
    color: #828282;
  }
}
