.characteristic {
  @include onDesktop {
    display: block;
  }

  @include onTabled {
    position: relative;
    display: block;
  }

  display: none;

  &__title {
    margin-bottom: 15px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: $gray_2;
  }

  &__description {
    font-family: 'Manrope';
    font-size: 16px;
    line-height: 150%;
    color: $gray_2;
  }
}
