.character {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include onTablet {
    align-items: start;
  }
  @include onDesktop {
    align-items: center;
  }
  &__img {
    max-width: 100%;
    object-fit: contain;
    object-position: center center;
    margin-bottom: 36px;
    @include hover;
    @include onTablet {
      margin-bottom: 32px;
    }
    @include onDesktop {
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: $colorTitles;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 3.72px;
    text-transform: uppercase;
    text-align: center;
    @include onTablet {
      text-align: start;
    }
    @include onDesktop {
      text-align: center;
    }
  }

  &__description {
    color: $colorText;
    font-family: "Manrope", Arial, sans-serif;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    @include onTablet {
      text-align: start;
    }
    @include onDesktop {
      text-align: center;
    }
  }
}
