.close {
  display: grid;
  justify-content: end;
  justify-items: center;
  color: $greyLight;
  &__text {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-size: 12px;
    text-transform: uppercase;

    margin-bottom: 66px;
  }
}
