.close-button {
  display: flex;
  justify-content: space-between;
  text-decoration: none;

  &__icon {
    height: 20px;
    width: 20px;
    background-image: url(/images/icons/cross.svg);
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;

  }

  &:hover {
    opacity: 0.8;
    color: black;
  }

  &__text {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    color: $light-gray;
    text-transform: uppercase;

    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 44px;
      margin-left: 5px;
      margin-right: 5px;
      background-color: $light-gray;
    }

  }
}
