.close {
  position: absolute;
  bottom: 122px;
  right: 32px;

  &__link {
    @include flex-col;
    align-items: center;
  }

  &__text {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    color: $white-color;
    text-transform: uppercase;
  }

  &__line {
    height: 44px;
    width: 1px;
    margin: 5px 0 18px;
    border-left: 1px solid $white-color;
  }

  &__img {
    @include square(12px);
  }
}
