.container {
  padding: 0 30px;

  @include onTablet {
    padding: 0 34px;
  }

  @include onDesktopSmall {
    padding: 0 135px;
  }

  &--materials {
    padding: 0 9px;

    @include onTablet {
      display: none;
    }
  }

  &--buy {
    @include onTablet {
      padding: 0;
    }
  }

  &--footer {
    padding: 0 45px 30px;

    @include onTablet {
      padding: 0 34px;
    }

    @include onDesktopSmall {
      padding: 0 135px;
    }
  }
}
