.contacts {
  &__option-name {
    color: #00000063;
   @include text($e);
    margin-bottom: 4px;
  }

  &__option-info {
    display: inline-block;
    line-height: $lh-basic;
    margin-bottom: 21px;
    transition: color $hover-dur;
    &:hover {
      color: $grey;
    }
  }
}
