.contact-form {
  max-width: 350px;
  margin: 0 auto;

  &__title {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: $c-black;
    margin-bottom: 20px;
  }

  &__name {
    width: 100%;
    @include tablet {
      max-width: 340px;
    }
    @include desktop {
      max-width: 370px;
    }

    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $c-gray2;

    background-color: $c-yellow;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 8px;

    &::placeholder {
      font-family: "Manrope", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $c-gray2;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 50px $c-yellow !important;
      -webkit-text-fill-color: $c-gray2 !important;
      color: $c-gray2 !important;
    }
  }

  &__email {
    width: 100%;
    @include tablet {
      max-width: 340px;
    }
    @include desktop {
      max-width: 370px;
    }

    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $c-gray2;

    background-color: $c-yellow;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 8px;

    &::placeholder {
      font-family: "Manrope", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $c-gray2;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 50px $c-yellow !important;
      -webkit-text-fill-color: $c-gray2 !important;
      color: $c-gray2 !important;
    }
  }

  &__message {
    width: 100%;
    @include tablet {
      max-width: 340px;
    }
    @include desktop {
      max-width: 370px;
    }

    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $c-gray2;

    background-color: $c-yellow;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    resize: none;

    &::placeholder {
      font-family: "Manrope", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $c-gray2;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 50px $c-yellow !important;
      -webkit-text-fill-color: $c-gray2 !important;
      color: $c-gray2 !important;
    }
  }
  &__button {
    position: relative;
    display: block;
    height: 40px;
    width: 90px;
    margin: 10px auto 0;
    background-color: transparent;
    border: none;

    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: $c-gray1;

    cursor: pointer;

    &:after {
      position: absolute;
      content: "";
      width: 40px;
      height: 1px;
      background-color: $c-gray2;
      bottom: 0;
      right: 25px;

    }
  }
}
