.contact {
  padding-bottom: 100px;

  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/contact-rec.svg);

  &__title {
    padding-top: 45px;

    color: #000;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.15em;
  }

  &__topic {
    margin-bottom: 40px;

    line-height: 24px;
    color: #000;
  }

  &__message {
    margin-bottom: 25px;

    font-size: 24px;
    line-height: 36px;
    color: #000;
  }

  &__input {
    margin-bottom: 20px;

    width: 100%;

    line-height: 24px;

    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: transparent;

    &:last-of-type {
      margin-bottom: 30px;
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    display: block;

    margin: 0 auto 70px;

    font-weight: 700;
    line-height: 24px;
    color: #333;

    border: none;
    border-bottom: 1px dotted #333;
    background-color: transparent;

    transition: all 0.2s;

    cursor: pointer;

    &:hover {
      font-size: 17px;
    }
  }

  &__info {
    &--title {
      margin-bottom: 5px;

      font-size: 24px;
      line-height: 36px;
      color: rgba(0, 0, 0, 0.4);
    }

    &--topic {
      margin-bottom: 35px;

      line-height: 24px;
      color: #000;

      @include onTablet {
        margin-bottom: 20px;
      }
    }

    @include onTablet {
      margin-top: 145px;
    }
  }

  @include onTablet {
    padding-bottom: 50px;
  }

  @include onDesktop {
    padding-bottom: 150px;
  }
}
