.container {
  margin: 0 auto;
  max-width: 260px;
  padding: 0 30px;

  @include tablet {
    max-width: 768px;
    padding: 0 34px;
  }

  @include desktop {
    max-width: 1440px;
    padding: 0 135px;
  }
}
