.container {
  position: relative;

  box-sizing: border-box;
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;

  @include onTablet {
    padding: 0 35px;
  }

  @include onDesktop {
    padding: 0;
  }

  &__header {
    padding-top: 15px;
    padding-bottom: 10px;

    @include onTablet {
      padding-top: 30px;
      padding-bottom: 50px;
    }

    @include onDesktop {
      padding-top: 20px;
      padding-bottom: 77px;
    }
  }

  &__menu {
    padding: 140px 0 0;
    height: 100vh;
    width: 230px;
  }
}
