.decoration-v {
  display: flex;
  align-items: center;
  column-gap: 8px;

  max-width: max-content;

  @include fontParams(12px, 12px);
  color: $c-lightGray;

  &__line {
    width: 64px;
    height: 1px;
    background-color: $c-lightGray;
  }
}
