.decor {
  align-items: center;
  transform: rotate(90deg);
  gap: 10px;
  display: none;

  @include onTablet {
    display: flex;
  }

  @include onDesktop {
    display: none;
  }

  &__line {
    background-color: $second-item-color;
    height: 1px;
    width: 65px;
  }

  &__text {
    font-family: "Bebas Neue", sans-serif;
    color: $second-item-color;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.64px;
  }
}
