.features-article {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;

  &__img {

    width: 100%;
    height: 260px;
    object-fit: cover;
    margin-bottom: 37px;
  }

  &__title {
    color: $grey-1;
    margin-bottom: 20px;
  }

  &__text {
    color: $grey-2;
    margin-bottom: 70px;
  }

}

