.feature {
  &__photo {
    margin-bottom: 36px;
    max-height: 386px;
    max-width: 386px;
    width: 100%;
  }

  &__title {
    @include onTabled {
      text-align: start;
    }

    margin: 0 0 20px;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: $gray_1;
  }

  &__description {
    @include onTabled {
      text-align: start;
    }

    font-family: 'Manrope';
    font-size: 16px;
    text-align: center;
    line-height: 24px;;
    color: $gray_2;
  }
}
