.feature {
  text-align: center;

  @include onTablet {
    grid-column: span 2;
    text-align: left;
  }

  @include onDesktop {
    grid-column: span 4;
    text-align: center;
  }

  &__image {
    margin-bottom: 38px;
    display: block;
    width: 100%;
  }

  &__title {
    margin-bottom: 20px;
    @extend %title-small;
    color: $color-grey-dark;
  }
}
