.features-card {
  text-align: center;

  @include tablet {
    text-align: initial;
  }

  @include desktop {
    text-align: center;
  }

  &__img {
    width: 100%;
    @include img-hover;
  }

  &__title {
    @extend %bebas-neue;
    margin: 35px 0 20px;
    font-size: 24px;
    line-height: 24px;
    color: $c-black;
  }
}
