.flex {
  display: block;
  width: 100%;

  @include onTablet {
    width: $tablet-max-width;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;

    &--order-1 {
      @include onTablet {
        order: 1;
      }
    }

    &--order-2 {
      @include onTablet {
        order: 2;
      }
    }

    &--justify-center {
      @include onTablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
