.flex {
  display: block;
  width: 100%;

  @include onTablet {
    width: 828px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;

    &--order-1 {
      @include onTablet {
        order: 1;
      }
    }

    &--order-2 {
      @include onTablet {
        order: 2;
      }
    }
  }
}
