.font-turquoise {
  display: inline;

  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  &--outline {
    color: transparent;
    -webkit-text-stroke: 1px $c-turquoise;
  }

  &--fill {
    color: $c-turquoise;
  }
}
