.footer {
  padding-bottom: 50px;

  &__container {
    @include onTablet {
      display: flex;
      justify-content: space-between;
    }

    &-name {
      @include onTablet {
        flex-grow: 2;
      }
    }

    &-address {
      display: none;

      @include onTablet {
        display: block;
        flex-basis: 200px;

      }
    }

    &-about-us {
      display: none;

      @include onTablet {
        display: block;
      }
    }
  }

  &__icons {
    display: flex;
    padding-bottom: 40px;
    justify-content: center;

  }

  &__icon {

    height: 21px;

    &-twitter {
      background-image: url("../images/twitter_icon.png");
      width: 21px;
      background-size: contain;
    }

    &-instagram {
      background-image: url("../images/instagram_icon.png");
      width: 21px;
      background-size: contain;
    }

    &-facebook {
      background-image: url("../images/facebook_icon.png");
      width: 21px;
      background-size: contain;
    }

    margin-right: 70px;
    transition: transform 0.5s;

    &:last-child {
      margin: 0;
    }

    &:hover{
      transform: scale(150%);
    }

  }

  &__title {
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #000;

    @include onTablet {
      text-align: start;

      &:nth-child(2) {
        text-align: center;
      }
    }
  }

  &__copyright {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;
    color: #000;
    margin-bottom: 30px;

    @include onTablet {
      text-align: start;
    }

    &-name {
      @include onTablet {
        display: none;
      }
    }
  }

}
