.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  position: relative;

& > a {
  text-decoration: none;
  color: $grey-1;
}

  &__icons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 40px;
    & > img {
      cursor: pointer;
    }
  }

  &__logo {
    cursor: pointer;
  }

  &__background {
    background-image: url('../images/mobile/Rectangle.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    z-index: -1;

    width: 768px;
    height: 1000px;

    bottom: 80px;
    left: 0;
  }


}
