.for-whom {

  &__title {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 26px;
  }

  &__article {
    position: relative;
    margin-bottom: 70px;
  }

  &__side-text {
    display: inline-block;
    left: 92%;
    top: -60px;
  }
}
