.for-who {
  display: block;
  &__title,
  &__subtitle {
    @include f-bebas-400;
    font-size: 36px;
    letter-spacing: 0.155em;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 25px;
    color: #333333;
  }

  &__image {
    display: none;
    width: 320px;

    @include onTablet {
      display: block;
    }
  }

  &__number {
    margin-bottom: 30px;
    display: inline-block;
    height: 46px;
    width: 33px;
    background-repeat: no-repeat;

  }

  &__subtitle {
    margin-bottom: 20px;
    color: #000000
  }

  &__description {
    @include f-manrope-400;
    font-size: 16px;
    margin-bottom: 70px;
    color: $c-gray-dark;
  }
}
