
.for {
  &__line {
    position: absolute;
    right: 20px;
    top: 650px;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotate(90deg);
    transform-origin: right;
  }

  &__line-link {
    margin-left: 10px;
    align-self: baseline;

    text-decoration: none;
    color: #828282;

    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.22em;
  }
}
