.forwhom-1 {

@include mobile {
  box-sizing: border-box;
  padding: 0 30px;
}

  @include tablet {
    @include grid-tablet;
padding: 0;

      grid-column: 1 / span 6;
         }

     @include desktop {
      @include grid-desktop;




  grid-column: 1 / span 12;
     }

  &__first-row-box {
    display: flex;

    box-sizing: border-box;


    @include tablet {
      padding-left: 90px;


 }

     @include desktop {
          padding-left: 138px;

     }


  }

  &__second-row-box {
    display: flex;
    box-sizing: border-box;

@include mobile {
  flex-direction: column;
}
    @include tablet {
      flex-direction: row;
      padding-left: 50px;
      display: flex;
      flex-wrap: nowrap;

      width: 400px;
       }

    @include desktop {
   padding-left: 100px;

   width: 550px;
    }


  }

  &__h2 {
@include font-h2;

display: flex;
grid-column: 1 / span 3;
box-sizing: border-box;

@include mobile {
padding-bottom: 26px;
}

@include tablet {
  padding-bottom: 42px;
  }
  @include desktop {
    padding-bottom: 34px;
    }

  }

  &__mobile-spacer {
    width: 259px;
  }

  &__h3 {
    @include font-h2;


display: inline-block;
flex-wrap: wrap;

@include mobile {
  width: 259px;
}

@include desktop {
  width: 470px;
}
  }

  &__img-box {
    display: grid;

    @include tablet {
      grid-column: 1 / span 2;

      }

    @include desktop {
    grid-column: 1 / span 5;
    width: 470px;
    }

  }

  &__image {

    &-1 {
      @include tablet {
        width: 284px;
        height: 284px;

        }

      @include desktop {
      width: 500px;
      height: 500px;

      }
    }
  }

&__article-box {

  &-1 {
    display: grid;

    @include tablet {
       grid-column: 4 / span 3;
        }

    @include desktop {
   grid-column: 6 / span 7;
    }
  }

  &-2 {
background-color: yellow;
width: 100%;
display: flex;

@include mobile {
  grid-column: 1 / span 2;
   }
    @include tablet {
      grid-column: 1 / span 6;
       }
      @include desktop {
        grid-column: 1 / span 6;
         }
  }
}

  &__star {
background-image: url('././icons/star.png');
background-repeat: no-repeat;
background-size: auto;
box-sizing: border-box;

width: 11px;
height: 33px;



@include desktop {
background-position: center 117px;
padding-bottom: 150px;
padding-right: 30px;

}

  }

  &__keyword {
    box-sizing: border-box;

    @include tablet {
      padding-top: 0;
      padding-left: 15px;
    }

    @include desktop {
      padding-top: 110px;
    }


@include font-s3;


  }

  &__slash-number {
width: 33px;
height: 46px;

box-sizing: border-box;
padding-right: 68px;

background-image: url('././icons/slash1.png');
background-repeat: no-repeat;
background-size: auto;
background-position: left;
  }

  &__slash {
    width: 33px;
    height: 46px;

    display: inline-block;

    background-image: url('././icons/slash.png');
background-repeat: no-repeat;
background-size: auto;
background-position: left;

@media (max-width: 767px){
  display: none;
}

  }

  &__text {
@include font-s3;


display: flex;

box-sizing: border-box;

@include tablet {
display: flex;

width: 460px;
padding-left: 120px;
}

  @include desktop {
padding-left: 168px;
width: 540;
  }
  }

}
