.forwhom {
  @include grid-desktop;

  grid-column: 1 / span 12;
  background-color: aqua;

  &__first-row-box {
    display: flex;
    background-color: blueviolet;
  }

  &__second-row-box {
    display: flex;
    background-color: yellowgreen;
  }

  &__h2 {
@include font-h2;

display: flex;
grid-column: 1 / span 3;


  }

  &__h3 {
    @include font-h2;

width: 470px;
display: inline-block;
flex-wrap: wrap;
  }

  &__img-box {
    display: grid;
    grid-column: 1 / span 5;

  }

  &__image {

    &--1 {
      width: 500px;
      height: 500px;
    }
  }

&__article-box {

  &--1 {
  display: grid;
  grid-column: 6 / span 7;
  }
}

  &__star {
width: 11px;
height: 33px;
background-color: red;;
  }

  &__keyword {
@include font-s3;

  }

  &__slash-number {
width: 33px;
height: 46px;
background-color: blue;
  }

  &__slash {
    width: 33px;
    height: 46px;
    background-color: yellow;
    display: inline-block;
  }

  &__text {
@include font-s3;

width: 370px;
display: flex;
flex-wrap: wrap;
  }

}
