.forwhom {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  grid-template-rows: auto auto auto auto;

  &__article-1 {
    background-color: yellowgreen;
 grid-column: 2 / 3;
 grid-row: 1 / 2;
  }
  &__article-2 {

    background-color: orangered;
    grid-column: 1 / 2;
 grid-row: 3 / 5;
  }
  &__article-3 {
    background-color: brown;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  &__image-box-1 {
    background-color: yellow;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

 &__image-box-2 {
  background-color: orange;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  }

  &__image-box-3 {
    background-color: red;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

&__image-1 {

width: 500px;
height: 500px;

}

&__image-2 {

  width: 300px;
  height: 417px;

}
&__image-3 {

  width: 470px;
  height: 670px;

}


}
