.form-field {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;

  &--message {
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    font-weight: inherit;
    resize: none;

    &::placeholder {
      font-family: "Manrope", sans-serif;
    }
  }
}
