.form-questions {
  max-width: 370px;
  text-align: center;

  &__input {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: $lh-basic;
    color: $dark-gray;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #0000004D;
    padding: 20px 0 4px 4px;
    
  }
    
  &__submit {
    margin-top: 60px;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;
    border-bottom: 1px dashed $dark;
    line-height: 19px;
    color: $dark;
    cursor: pointer;
    transition: color $hover-dur, border-color $red;
    &:hover {
      color: $red;
      border-color: $red;
    }
  }
}
