.forwhom {
  display: none !important;

  &__title {
    grid-column: span 7;

    color: $color-title-secondary;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 5.58px;
    text-transform: uppercase;

    &--forwhom {
      margin-bottom: 34px;

      @include onTablet {
        grid-column: 1/-1;
      }

      @include onMobile {
        margin-bottom: 24px;
      }
    }
  }
}
