.for-whom {
  margin-top: 110px;

  &__title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__card-number {
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 25px;
    font-size: 36px;
    letter-spacing: 0.15em;

    &::before {
      content: url('../images/line.svg');
      margin-right: -13px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__text {
    font-weight: 400;
    line-height: 24px;
  }
}
