.frames {
  display: none;

  @include for-desktop() {
    display: block;
    position: relative;
    width: 535px;
    height: 750px;
  }

  &__frame {
    background-color: #fff;

    &--1 {
      width: 181px;
      height: 212px;
      transform: rotate(-28.893deg);
      position: absolute;
      right: 111px;
      top: 32px;
    }

    &--2 {
      width: 201px;
      height: 230px;
      transform: rotate(-15.189deg);
      position: absolute;
      left: 26px;
      top: 70px;
    }

    &--3 {
      width: 201px;
      height: 230px;
      transform: rotate(-15.189deg);
      position: absolute;
      left: 155px;
      top: 265px;
    }

    &--4{
      width: 201px;
      height: 230px;
      position: absolute;
      left: -27px;
      top: 322px;
    }

    &--5 {
      width: 201px;
      height: 230px;
      transform: rotate(-30.427deg);
      right: 70px;
      bottom: 45px;
      position: absolute;
    }

    &--6 {
      width: 201px;
      height: 230px;
      transform: rotate(-15.189deg);
      position: absolute;
      bottom: 0;
      left: 46px;
    }
  }

  &__image {
    padding: 10px 10px 0;

    &--1 {
      width: 161px;
    }
  }

  &__paragraph {
    color: #828282;
    font-family: Montserrat;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 131.5%; /* 11.495px */
    padding: 6px 10px;
  }
}
