.gallery {
  display: none;

  @include onDesktop {
    display: block;

    transition: transform $smooth-transition;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    width: 100%;
  }
}
