p {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;

  @include onTablet() {
    max-width: 768px;
    @include globalPaddings();
  }
}

.title {
  padding: 0;
  margin: 0;
  font-family: Bebas Neue, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 5.58px;
  text-transform: uppercase;
  margin-bottom: 34px;

  @include onTablet {
    margin-bottom: 10px;
  }

  @include onMobile {
    margin-bottom: 25px;
  }
}

.title-block {
  margin: 0;
  font-family: Bebas Neue, sans-serif;
  font-size: 58px;
  font-weight: 400;
  letter-spacing: 8.99px;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: $textColor;
}

.vertical-text {
  position: absolute;
  font-family: Bebas Neue, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2.64px;
  color: #828282;

  &::before {
    content: "";
    width: 65px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-100%);
    background-color: #828282;
  }

  &--top {
    transform: rotate(90deg);
    transform-origin: top right;
    padding-left: 75px;
  }

  &--bottom {
    padding-left: 75px;
    transform: rotate(-90deg);
    transform-origin: bottom left;
  }
}

.button {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #ffe339;
  border: none;
  color: #121212;
  font-family: Manrope, sans-serif;
  height: 48px;
  width: 270px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 48px;
  transition: $transition;

  &::after {
    content: "";
    background-image: url(../images/icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 8px;
    display: block;
    position: absolute;
    bottom: 50%;
    left: 70%;
    transform: translateY(50%);
    transition: $transition;
  }

  &:hover {
    opacity: 0.8;
  }

  &:hover::after {
    transform: translate(5px, 50%);
  }
}

.hover-link {
  width: fit-content;
  position: relative;
  overflow-x: hidden;
  display: block;
  transition: $transition;
  &:hover {
    color: $bigTitlesColor;
  }

  &::after {
    content: "";
    border-bottom: 1px solid $bigTitlesColor;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: $transition;
  }

  &:hover::after {
    transform: translateX(0);
  }
}
