.grid {
  display: grid;
  row-gap: 70px;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 80px;
    align-items: center;
  }
}
