.grid {
  display: grid;
  @include columnsTemplate(2, 20px);

  @include onTablet {
    @include columnsTemplate(6, 24px);
  }

  @include onDesktop {
    @include columnsTemplate(12, 30px);
  }

  &--phone-none {
    display: block;

    @include onTablet {
      display: grid;
    }
  }

  &__item {
    &--phone {
      @include columnsRulesMod (1, 2);
    }

    @include onTablet {
      &--tablet {
        @include columnsRulesMod (1, 6);
      }
    }

    @include onDesktop {
      &--desktop {
        @include columnsRulesMod (1, 12);
      }
    }
  }
}
