.header {
  &__image {
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: -100%;
  }

  &__content {
    margin-top: 25px;
    padding: 0 30px;
  }

  &__title {
    margin-bottom: 30px;

    font-family: 'Bebas Neue';
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 5px;
    color: $turquoise;
  }

  &__price {
    margin-bottom: 1px;

    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: $grey1;
  }

  &__text {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 21px;
  }
}
