.icon {
  display: block;
  background-size: cover;

  &__menu {
    width: 32px;
    height: 32px;
    background-image: url(../images/icons/icon-burger-menu.svg);

    @include onDesktop {
      display: none;
    }
  }

  &__close {
    width: 12px;
    height: 12px;
    background-image: url(../images/icons/icon-close.svg);
  }

  &__basket {
    display: none;
    
    @include onDesktop {
      display: block;
      width: 48px;
      height: 48px;
      background-image: url(../images/icons/icon-basket.svg);
    }
  }
}
