.icons {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;

  &--menu {
    background-image: url(../images/svg/menu_icon.svg);
    height: 32px;
    width: 32px;

    @include onDeskTop {
      // background-image: url(../images/svg/bag.svg);
      display: none;
    }
  }

  &--menu-close {
    background-image: url(../images/svg/close-menu.svg);
    height: 16px;
    width: 16px;

    @include onTablet {
      height: 25px;
      width: 25px;
    }
  }

  &--bag {
    background-image: url(../images/svg/bag.svg);
    height: 32px;
    width: 32px;
    display: none;

    @include onDeskTop {

      display: block;
    }
  }
}
