.icon-close {
  display: flex;
  align-items: center;
  transform: rotate(-90deg);

  position: absolute;
  right: 0;
  bottom: 120px;

  &__line {
    width: 44px;
    height: 1px;
    background-color: $grey-light;

    &--margin--block {
      margin-inline: 18px 5px;
    }
  }

  &__text {
    text-transform: uppercase;
    color: $grey-light;
  }

  &__img {
    height: 12px;
    width: 12px;
    background-image: url(../images/icons/icon-button-close.svg);
    background-position: center;
    background-size: cover;
  }
}
