.indicators {
  display: flex;
  gap: 8px;
  translate: 0 -100%;

  &__point {
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background-color: rgba(248, 248, 248, 1);
  }

  &__point:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(248, 248, 248, 1);
  }
}
