.infocard {
  display: none;
  position: absolute;
  z-index: 5;
  padding: 35px 45px;
  width: 283px;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(17px);
  color: $grey-light-color;
  line-height: 150%;

  &--1 {
    bottom: 25%;
    left: 5%;
  }

  &--2 {
    bottom: 42%;
    left: 17%;
  }

  &--3 {
    bottom: 21%;
    left: 32%;
  }

  &--4 {
    bottom: 31%;
    right: 20%;
  }

  &--5 {
    bottom: 12%;
    right: 4%;
  }

  @include onDesktop {
    &--1 {
      bottom: 23%;
    }

    &--2 {
      bottom: 41%;
      left: 8%;
    }

    &--3 {
      bottom: 2%;
      left: 20%;
    }

    &--4 {
      bottom: 29%;
      right: 28%;
    }

    &--5 {
      bottom: 21%;
      right: 12%;
    }
  }

  &--active {
    display: block;
  }
}
