.input {
  padding-bottom: 11px;
  border-bottom: 1px solid $color-grey-input;
  color: $color-black;

  &::placeholder {
    color: $color-grey-3;
  }
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px $color-yellow-light inset;
  -webkit-box-shadow: 0 0 0 30px $color-yellow-light inset;
}
