.intro {
  overflow: hidden;
  padding-bottom: 10px;

  @include onTablet {
    padding-top: 20px;
    overflow: visible;
    background: url(../images/Rectangle.png) top left / 80% no-repeat;
  }

  @include onDesktop {
    background: url(../images/Rectangle.png) top left / 70% no-repeat;
  }

  &__content {
    position: relative;
  }

  &__image {
    width: 100%;
    margin-bottom: 25px;

    &--mobile {
      @include onTablet {
        display: none;
      }
    }

    &--wide-screens {
      display: none;

      @include onTablet {
        display: block;
        grid-column: 4 / -1;

        margin-bottom: 0;
      }

      @include onDesktop {
        grid-column: 6 / -1;
      }
    }
  }

  &__title {
    @extend %title-blue;
    font-size: 36px;
    line-height: 43px;

    margin-bottom: 30px;

    &--blue {
      color: $color-blue;
    }

    @include onTablet {
      font-size: 64px;
      line-height: 64px;
      width: 455px;

      grid-column: 1 / 4;
      position: absolute;

      margin-bottom: 0;
    }

    @include onDesktop {
      align-self: start;
      position: static;
      grid-column: 2 / 5;
    }
  }

  &__order {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include onTablet {
      margin-top: -70px;
      grid-column: 2 / 4;
    }

    @include onDesktop {
      grid-template-rows: 50px 100px 50px;
      margin-top: -300px;
      grid-column: 3 / 5;
    }
  }

  &__price {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;

    grid-column: 1;

    @include onTablet {
      grid-column: 2;
    }
  }

  &__details {
    color: $color-gray-medium;
    margin-bottom: 20px;

    grid-column: 1;

    @include onTablet {
      grid-column: 2;
      width: 170px;
      margin-bottom: 50px;
    }
  }

  &__buy {
    grid-column: 1 / -1;

    @include onTablet {
      margin-inline: auto;
      width: 240px;
    }

    @include onDesktop {
      width: 270px;
    }
  }

  &__learn-more {
    @extend %vertical-text;
    font-size: 12px;
    color: $color-blue;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @include rightBottomAlign;

    @include onTablet {
      @include leftBottomAlign;
    }

    &::after {
      content: "";
      display: block;
      height: 8px;
      width: 44px;

      background: url(../images/icons/arrow-long-icon.svg) center / contain no-repeat;

      transition: transform $transition;
    }

    &:hover {
      transform: rotate(90deg), translateX(5px);
      &::after {
        transform: translateX(10px);
      }
    }
  }
}
