.item-materials {
  padding: 35px;
  width: 283px;

  position: absolute;
  left: -115px;
  z-index: 5;
  opacity: 0;

  background-color: $color-background-item;
  backdrop-filter: blur(17px);
  transition: 0.5s;

  &__first {
    width: 303px;
    height: 237px;
    margin-top: 10px;
    top: 60px;
    left: -126px;
  }

  &__second {
    height: 166px;
    bottom: 71px;

    @include onDesctop {
      left: -253px;
    }
  }

  &__third {
    height: 214px;
    bottom: 71px;
  }

  &__fourth {
    height: 166px;
    bottom: 71px;
    left: -55px;

    @include onDesctop {
      left: -115px;
    }
  }

  &__fifth {
    height: 214px;
    bottom: 71px;

    @include onDesctop {
      bottom: -70px;
      left: -295px;
    }
  }

  &__text {
    @extend %text-main;
    color: $color-text-white;
  }
}
