.item-features {
  &__image {
    position: relative;
    padding-bottom: 100%;
    margin-bottom: 37px;
  }

  &__image img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    color: #333;
    text-align: center;
    font-size: 24px;
    line-height: 24px; /* 100% */
    letter-spacing: 3.72px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include on-tablet {
      text-align: left;
    }

    @include on-desktop {
      text-align: center;
    }
  }

  &__text {
    text-align: center;

    @include on-tablet {
      text-align: left;
    }

    @include on-desktop {
      text-align: center;
    }
  }
}
