.link {
  position: absolute;
  font-size: 12px;
  line-height: 14px;

  &-home {
    font-family: $font-secondary;
    letter-spacing: 0.22em;
    color: $gray-secondary;

    &::before {
      content: " ";
      display: block;
      width: 65px;
      height: 1px;
      background-image: url("../images/icon/line.svg");
      transform: translate(-120%, 7px);
    }
  }

  &-go {
    font-family: $font-main;
    color: $blue;

    &::after {
      content: " ";
      display: block;
      width: 44px;
      height: 8px;
      background-image: url(../images/icon/side_arrow.svg);
      transform: translate(146px, -13px);
    }
  }
}
