.logo {
  display: block;
  font-family: "Bebas Neue", cursive;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.06em;
  text-align: left;
  color: $gray_1;
  text-decoration: none;

  &--footer {
    color: $textBlack;
  }
}
