.logo {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  line-height: normal;
  letter-spacing: 2.16px;
  color: $gray-color;
  text-decoration: none;

  @include hover {
    transform: scale(1.1);
  }

  &--footer {
    color: $black-color;
    line-height: 1.5;
    letter-spacing: 5.58px;
  }
}
