.logo {
  font-family: "Bebas Neue", sans-serif;
  color: $color-gray-light-2;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.22em;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &::before {
    content: "";
    display: block;
    width: 65px;
    height: 1px;
    background-color: $color-gray-light-2;
  }
}
