.main {
  &__color-block {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    background-image: url("../images/blocks/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;

    @include onTablet {
      height: 60vh;
      width: 75vw;
    }

    @include onDesktop {
      height: 60vh;
      width: 75vw;
    }
  }
}
