.questions {
  position: relative;

  &__bg {
    position: absolute;
    height: 1300px;
    width: 100%;
    z-index: -1;
    background-image: url(../images/bg-rectangle.png);
    background-size: auto 1300px;
    background-repeat: no-repeat;
    overflow: hidden;

    @include on-tablet {
      height: 950px;
      width: 2000px;
      right: 0;
      background-size: 100% 100%;
    }

    @include on-desktop {
      background-position: right 135px top 0;
    }
  }

  &__wrapper {
    padding-top: 45px;
    align-items: start;

    @include page-grid;

    @include on-tablet {
      padding-top: 17px;
    }
  }

  &__print {
    display: none;
    position: absolute;
    right: 0;
    top: -90px;
    z-index: 1;
    height: 165px;
    width: 165px;
    background-image: url(../images/questions-print-image.png);
    background-position: right;
    background-repeat: no-repeat;

    @include on-tablet {
      display: block;
    }

    @include on-desktop {
      right: 55px;
      background-image: url(../images/questions-print-image-full.png);
    }
  }

  &__title {
    font-size: 36px;
    line-height: 54px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  &__form {
    &-block {
      @include on-tablet {
        grid-column: 1 / 4;
      }

      @include on-desktop {
        grid-column: 1 / 5;
      }
    }

    &-title {
      font-size: 24px;
      line-height: 36px;
      color: $main-title-text-color;
      margin-bottom: 25px;
    }

    &-input {
      display: block;
      width: 100%;
      height: 29px;
      padding: 0 0 4px 6px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $color-gray-2;
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      outline: none;
      background: transparent;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &:focus {
        border-bottom: 1px solid rgba(3, 131, 158, 1);
      }
    }

    &-textarea {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      padding: 0 0 4px 6px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $color-gray-2;
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      resize: none;
      outline: none;
      background: transparent;

      &:focus {
        border-bottom: 1px solid rgba(3, 131, 158, 1);
      }
    }

    &-button {
      width: 100%;
      height: 48px;
      line-height: 48px;

      @include on-tablet {
        width: 219px;
      }
    }

    &--success {
      border-color: $color-turquoise;
      color: $color-turquoise;
    }

    &--error {
      border-color: $color-error;
      color: $color-error;
    }
  }

  &__contacts {
    display: grid;
    margin-top: 56px;
    gap: 25px;

    @include on-tablet {
      gap: 20px;
      grid-column: 5 / 7;
    }

    @include on-desktop {
      grid-column: 7 / 11;
    }

    &-title {
      font-size: 24px;
      line-height: 36px;
      color: rgba(0, 0, 0, 0.39);
    }

    &-subtitle {
      font-size: 16px;
      line-height: 24px;
      color: $main-title-text-color;
    }
  }
}

