.main {
  --gap: 110px;

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap);

    @include onDesktop {
      --gap: 148px;
    }
  }

  &__potr-team {
    @include onTablet {
      margin-bottom: calc(-1 * var(--gap));
    }
  }
}
