.main {
  &__content {
    display: grid;
    row-gap: 110px;
    padding-top: 110px;

    @include tablet {
      row-gap: 130px;
    }

    @include desktop {
      row-gap: 150px;
      padding-top: 150px;
    }
  }

  &__for {
    position: relative;
  }

  &__team {
    position: relative;
  }

  &__materials {
    position: relative;

    @include tablet {
      margin-top: -125px;
    }

    @include desktop {
      margin-top: -150px;
    }
  }

  &__size {
    margin-top: -20px;
  }

  &__benefits {
    position: relative;
    overflow-x: clip;
    margin-top: -25px;
  }

  &__contacts {
    margin-bottom: -50px;

    @include tablet {
      margin: 0;
    }

    @include desktop {
      margin-bottom: 54px;
    }
  }
}
