.main {
  &__for-whom {
    margin-bottom: 110px;

    @include onTablet {
      margin-bottom: 135px;
    }

    @include onDesktop {
      margin-bottom: 150px;
    }
  }

  &__features {
    margin-bottom: 110px;

    @include onTablet {
      margin-bottom: 132px;
    }

    @include onDesktop {
      margin-bottom: 174px;
    }
  }

  &__team {
    margin-bottom: 168px;

    @include onTablet {
      margin-bottom: 110px;
    }

    @include onDesktop {
      margin-bottom: 386px;
    }
  }

  &__materials {
    margin-bottom: 310px;

    @include onTablet {
      margin-bottom: 110px;
    }

    @include onDesktop {
      margin-bottom: 100px;
    }
  }

  &__size {
    margin-bottom: 110px;

    @include onTablet {
      margin-bottom: 105px;
    }

    @include onDesktop {
      margin-bottom: 186px;
    }
  }
}
