@import "./header/header.scss";
@import "./header/nav.scss";
@import "./main/main.scss";
@import "./main/for-whom.scss";
@import "./main/features.scss";
@import "./main/potr-team.scss";

.main-home {
  position: relative;
  background-color: $gray;
  z-index: 0;
}

.page-home {
  position: relative;
  margin: 0 auto;
  max-width: $widthDesktop;
  background-color: $greyLight;
  z-index: 0;

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $gray;
    z-index: 0;
    opacity: 0;
    transition: $timeHidht;
  }
  &__background--active {
    opacity: 0.8;
    z-index: 2;
  }
}
