.main {
  &__for-whom {
    margin-bottom: 110px;

    @include onTablet {
      margin-bottom: 135px;
    }

    @include onDesktop {
      margin-bottom: 150px;
    }
  }

  &__features {
    margin-bottom: 110px;

    @include onTablet {
      margin-bottom: 132px;
    }

    @include onDesktop {
      margin-bottom: 270px;
    }
  }
}
