.marker {
  @extend %bebas-neue;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.22em;
  color: #828282;
  writing-mode: vertical-lr;

  &::before {
    content: url(../images/icon/line.svg);
    margin-bottom: 10px;
  }
}
