.materials {
  &__wrapper {
    margin: 0 auto;
    height: 573px;
    position: relative;
    background-image: url(../images/sections/materials-bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top 40% left 0;

    @include on-tablet {
      margin-top: 3.41px;
      padding-bottom: 110.25px;
      height: 834.75px;
      background-image: url(../images/sections/materials-bg-big.png);
      background-size: 100% auto;
      background-position: top 261.41px center;
    }

    @include on-desktop {
      margin-top: 4px;
      height: 1226.41px;
      background-size: 1440px 1081.41px;

      @include content-padding-in-line;
    }
  }

  &__content {
    display: none;

    @include on-tablet {
    display: block;
    position: absolute;
    top: 144.41px;
    right: 34px;
    height: 232px;
    width: 340px;
    }

    @include on-desktop {
    top: 181px;
    left: 835px;
    }
  }

  &__subtittle {
    margin-block: 0 10px;
    font-weight: $bold-font;
    font-size: 20px;
    line-height: 30px;
    color: $grey-color;
  }

  &__preview {
    font-weight: $middle-font;
    font-size: 16px;
    line-height: 24px;
    color: $grey-color;

    @include on-desktop {
      width: 470px;
    }
  }

  &__preview-added-part {
    display: none;

    @include on-desktop {
      display: block;
    }
  }

  &__text-bold {
    font-weight: $bold-font;
  }

  &__left-side-box {
    display: none;

    @include on-tablet {
      position: absolute;
      display: flex;
      justify-content: end;
      top: 310px;
      left: -10px;
      rotate: 90deg;
    }

    @include on-desktop {
      display: none
    }
  }

  &__left-side-text {
    @include side-text-style;

  &::before {
      @include potr-pots-side-text;
    }
  }

  &__rigth-side-box {
    display: none;

    @include on-tablet {
      position: absolute;
      display: flex;
      justify-content: end;
      width: 144px;
      height: 14px;
      top: 55px;
      right: -50px;
      rotate: 90deg;
    }

    @include on-desktop {
      display: none
    }
  }

  &__rigth-side-text {
    @include side-text-style;

    &::before {
    @include potr-pots-side-text;
    }
  }
}
