.materials {
  background-image: url("/images/materials/background.png");
  background-repeat: no-repeat;
  background-position: center 200px;
  background-size: 100% 100%;
  margin-top: 350px;
  height: 100vh;
  position: relative;

  &__title {
    @include fontParams(139px, 139px, 400, 0.12em);
    color: $turquiseFont;
    margin-left: 135px;
  }

  &__text {
    position: absolute;
    width: 30%;
    right: 0;
    margin-right: 135px;
  }

  &__p-title {
    @include fontParams(20px, 150%, 700, normal);
    font-family: "Proxima Nova", sans-serif;
    color: $gray2Font;
    margin-bottom: 14px;
  }

  &__p-text {
    @include fontParams(16px, 150%, 400, normal);
    font-family: "Proxima Nova", sans-serif;
    color: $gray2Font;
  }

  &__highlited {
    font-weight: 700;
  }

  &__button-section {
    display: none;
  }
}
