.menu-link {
  display: block;

  @include square($navigation-icons-size);

  background-image: url(../images/menu-icon.svg);
  background-repeat: no-repeat;
  background-position: center;

  @include hover(transform, $hover-transform-scale);

  @include for-desktop {
    display: none;
  }

  &__label {
    @include visually-hidden;
  }
}
