.menu {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  height: 100vh;

  padding: 130px 30px 42px 80px;

  list-style: none;
  background-color: $color-turquoise;

  @include onDesktop {
    flex-direction: row;
    gap: 60px;

    height: auto;
    padding: 0;

    background-color: transparent;
  }

  &__item {
    width: 120px;
    margin-bottom: 15px;

    @include onDesktop {
      width: auto;
      margin-bottom: 0;
    }

    &--basket {
      display: flex;

      &::after {
        content: "0";
        display: flex;
        justify-content: center;
        align-items: center;

        width: 14px;
        height: 14px;
        margin-left: 6px;

        font-size: 8px;
        line-height: 100%;
        color: $color-grey-light;
        border-radius: 50%;
        background-color: $color-red;
      }

      @include onDesktop {
        display: none;
      }
    }

    &--last {
      margin-bottom: auto;

      @include onDesktop {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    color: $color-grey-light;
    text-decoration: none;

    @include onDesktop {
      color: $color-grey-2;
    }
  }

  &__close {
    transform: translateX(100%) rotate(-90deg);
    transform-origin: 0 100%;

    @include onDesktop {
      display: none;
    }
  }

  &__close-link {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 18px;
    color: $color-grey-light;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__cross {
    width: 12px;
    height: 12px;
    margin-right: 18px;

    background-image: url(../images/menu_cross.svg);
    background-position: center;
    background-size: contain;
  }

  &__dash {
    width: 44px;
    height: 1px;
    transform: translateY(-50%);
    margin-right: 5px;

    background-color: $color-grey-light;
  }
}
