.menunav {
  display: none;
  margin: 0;

  @include onDesktop {
    display: flex;
  }
  &__list {
    display: flex;
    justify-content: end;
    padding: 0;
  }

  &__item {
    list-style: none;
    padding: 10px 60px 0 0;
  }

  &__link {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    color: #4f4f4f;
    text-decoration: none;
  }
}
