.message-us {
  &__title {
    padding-top: 45px;
  }

  &__discription {
    @extend %s3;
    margin-bottom: 40px;
  }

  &__form-title {
    @extend %s2;
    margin-bottom: 25px;
  }

  &__info {
    margin-bottom: 34px;
  }

  &__info-title {
    @extend %s2;
    opacity: 39%;
    margin-bottom: 5px;
  }

  &__info-link {
    @extend %s3;
    text-decoration: none;
    color: black;
    transition-duration: $transition-time;

    &:hover {
      color: $red;
    }
  }

  &__contacts {
    margin-bottom: 100px;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__foot-text {
    display: none;

    @include tablet {
      display: block;
    }
  }
}
