.modalBtn {
  padding: 0 75px;
  cursor: pointer;
  font-size: 14px;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: bold;
  color: #121212;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  transition: all 0.3s;

  &:hover {
    color: $c-red;
    border-color: $c-red;
  }
}
