/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
  height: 50px;
  padding: 2px 16px;
  background-color: #03839e;
  color: white;
  line-height: 50px;
  font-family: Bebas Neue, Arial, Helvetica, sans-serif;
  letter-spacing: 2.16px;
}

/* Modal Body */
.modal-body {padding: 10px 16px;}

/* Modal Content */
.modal-content {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  line-height: 30px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 50%; opacity: 1}
}

/* The Close Button */
.close {
  color: #fefefe;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
