.modal {
  display: none;

  &__wrapper {
    position: relative;
    width: 90%;
    height: auto;
    background: #f8f8f8;

    @media (min-width: 768px) {
      width: 92%;
    }

    @media (min-width: 1440px) {
      width: 58%;
    }
  }

  &__btn-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 47px;
    height: 47px;
    background-image: url("../images/modal/close-modal-bgr.png");
    background-size: cover;
    background-position: center;

    @media (min-width: 768px) {
      right: 15px;
      top: 15px;
    }

    @media (min-width: 1440px) {
      right: 80px;
      top: 57px;
    }
  }

  &__open {
    display: block;
  }
}
