.more {

  &__link {
    position: relative;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: $color-turquoise;

    &::after {
      content: "";
      display: block;
      height: 44px;
      width: 8px;

      position: absolute;
      top: 0;
      right: -13px;

      transform-origin: top;
      transform: translateY(9px) rotate(-90deg);

      background-image: url(../images/icons/more-arrow-blue.svg);
      @include backgroundCenter;
    }
  }
}
