.mySwiper {
  position: absolute;
  top: 80%;
  left: 9px;
  right: 9px;

  height: 254px;

  background: rgba(0, 0, 0, 0.45);
  mix-blend-mode: normal;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(34px);

  &__slide {
    padding-bottom: 36px;
  }

  &__text {
    margin: 28px 44px 11px;
    font-family: Proxima Nova Light, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #f8f8f8;
  }
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  gap: 7px;
  bottom: 30px !important;
}

.swiper-pagination-bullet {
  border-radius: 0;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: transparent;
}
