.nav-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -87px;

  &__address {
    display: none;
  }

  // &__about-us {
  // }

  &__about-us-title {
    display: none;
  }

  &__our-socials {
    display: flex;
    gap: 85px;
    justify-content: center;

    margin-bottom: 40px;
  }

  &__our-socials-link {
    display: flex;
  }

  // &__our-socials-icon {
  //   height: 20px;
  //   width: 20px;
  // }

  &__logo-link {
    text-decoration: none;
    color: #000;
  }

  &__logo-title {
    line-height: 150%;
    text-align: center;
  }

  &__about-us-copyright {
    margin-bottom: 30px;

    text-align: center;
    font-size: 16px;
    line-height: 150%;
  }
}
