.nav {
  height: 100vh;

  padding-top: 138px;
  padding-left: 80px;

  background-color: $turquoise;

  &__item {
    padding-bottom: 16px;
  }

  &__link {
    color: $greyLight;
  }

  &__close {
    position: absolute;
    bottom: 100px;
    left: 120px;
    display: flex;
    align-items: center;

    transform: rotate(-90deg);
  }

  &__close-cross {
    transform: rotate(-90deg);
  }

  &__close-word {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $greyLight;

    &::before {
      content: "";
      display: inline-block;
      margin-right: 5px;
      margin-left: 18px;

      width: 44px;
      height: 1px;
      background-color: $greyLight;

      transform: translateY(-400%);
    }
  }
}
