.nav {

  @media (max-width: 767px) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 66vw;
    background-color: $c-turquoise;
    z-index: 999;
    transform: translateX(101%);
    transition: all 0.3s;
  }

  &_active {
    display: block;
    transform: translateX(0);
  }

  &__list {
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;

    list-style: none;

    @media (max-width: 767px) {
      position: absolute;
      top: 40%;
      left: 50%;
      display: block;
      min-width: 84px;
      transform: translate(-50%, -40%);
    }
  }

  &__item {

    @media (max-width: 767px) {
      max-width: fit-content;
      margin-bottom: 15px;
    }

    &:first-child {
      display: none;

      @media (max-width: 767px) {
        display: block;
        position: relative;

        &::after {
          content: "0";
          position: absolute;
          top: 0;
          right: -20px;
          width: 13px;
          height: 13px;
          font-family: "Bebas Neue", sans-serif;
          text-align: center;
          font-size: 7px;
          line-height: 13px;
          color: #fff;
          background-color: $c-red;
          border-radius: 50%;
        }
      }
    }

  }

  &__link {
    text-decoration: none;
    color: $c-gray-light;
    font-size: 16px;
    line-height: 150%;

    @media (max-width: 767px) {
      color: $c-grey-light;
    }
  }

  &__closeBtn {
    display: none;

    @media (max-width: 767px) {
      position: absolute;
      bottom: 40px;
      right: 30px;
      display: block;
      cursor: pointer;
      padding: 0;
      outline: none;
      border: none;
      background-color: transparent;
      color: $c-grey-light;
      font-size: 20px;

      &::before {
        content: "Close";
        position: absolute;
        bottom: 87px;
        right: -44px;
        font-size: 12px;
        line-height: 150%;
        text-transform: uppercase;
        transform: rotate(-90deg);
        transform-origin: bottom left;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 38px;
        right: -39px;
        width: 44px;
        height: 1px;
        display: block;
        background-color: $c-grey-light;
        transform: rotate(-90deg);
        transform-origin: bottom left;
      }
    }
  }
}
