.nav {
  display: none;
  width: 85%;

  @include desktop {
    display: block;
  }
  &__list {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 60px;

  }
  &__link {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: $c-gray2;
    text-decoration: none;
  }
}
