.navigation {
  grid-column: span 7;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include for-tablet() {
    padding: 10px 36px;
  }

  @include for-desktop() {
    padding: 0 135px;
  }

  &__icon {
    width: 32px;
    height: 32px;

    @include for-desktop() {
      display: none;
    }

    &--desktop {
      display: none;

      @include for-desktop() {
        display: block;
      }
    }
  }
}
