.navigation {
  &__list {
    margin: 0;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $color-text-header;
    @extend %text-manrope;
    font-size: 16px;
    line-height: 150%;
    position: relative;

    @include hoverAfterTopBar(transform, scale(1));
  }
}
