.note {

  &__item {
    display: none;

    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $c-gray-dark;

    &:before {
      content: "*";
      position: absolute;
      bottom: -5px;
      left: -20px;

      font-family: "Bebas Neue", sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 29px;
      letter-spacing: 0.15em;

      color: #000;
    }

    &--robust {
      @include onTablet {
        position: absolute;
        display: block;
        top: 40px;
        left: 394px;
      }

      @include onDesktop {
        position: absolute;
        display: block;
        top: 200px;
        left: 836px;
      }
    }

    &--beautiful {
      @include onTablet {
        position: absolute;
        display: block;
        top: 373px;
        left: 290px;
      }

      @include onDesktop {
        position: absolute;
        display: block;
        top: 1230px;
        left: 235px;
      }
    }

    &--saves-time {
      @include onTablet {
        position: absolute;
        display: block;
        top: 715px;
        left: 394px;
      }

      @include onDesktop {
        position: absolute;
        display: block;
        top: 1350px;
        left: 834px;
      }
    }
  }
}
