.outline-text {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.68px $c-blue;

  & span {
    color: $c-blue;
  }
}
