.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s;

  &_active {
    z-index: 888;
    opacity: 1;
  }
}
