.page {
  font-family: $font-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: $gray-light;

  scroll-behavior: smooth;

  &__section {
    margin-bottom: 110px;
  }

  &__footer {
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 115px;
    }

    @include onDesktop {
      margin-bottom: 65px;
    }
  }
}
