.animation {
  opacity: 0;

  transition: transform 1s,
    opacity 1s;

  &--left {
    transform: translateX(-100%);
  }

  &--right {
    transform: translateX(100%);
  }

  &--bottom {
    transform: translateY(100%);
  }

  &--top {
    transform: translateY(-100%);
  }
}

.visible {
  opacity: 1;
  transform: translate(0);
}
