.page {
  font-family: Manrope, sans-serif;
  scroll-behavior: smooth;

  &__body {
    background-color: #f8f8f8;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__section {
    margin-bottom: 110px;
  }

}
