.par-no {
display: flex;
align-items: flex-end;
gap: 5px;

  &__slash {
    background-color: black;
    height: 46px;
    width: 1px;
    transform: rotate(22deg);
    margin-left: 10px;
  }

  &__number {
    line-height: 80%;
  }

}
