.post-card {
  padding: 20px 20px 15px;
  background-color: white;
  width: min-content;

  &__photo-container {
    display: inline-flex;
    margin-bottom: 5px;
  }

  &__sign {
    @include text ($font-main, 9px, 12px);
    color: $gray-secondary;
  }
}
