.potr-this {
  position: relative;

  margin-bottom: 110px;

  @include onTablet {
    padding-block: 20px 47px;
    margin-bottom: 0;

    @include contentPaddingInLineForDevices;
  }

  @include onDescktop {
    padding-block: 57px 48px;
    margin-bottom: 150px;
    width: 100%;
  }

  &__img {
    width: 100%;
    margin-bottom: 25px;
    grid-column: span 2;

    @include onTablet {
      width: 306px;
      height: 306px;

      position: absolute;
      top: 20px;
      right: 34px;

      z-index: -1;
    }

    @include onDescktop {
      width: 500px;
      height: 500px;

      top: 57px;
      right: 135px;
    }
  }

  &__main-content {
    padding-inline: 30px;

    grid-column: span 2;

    @include onTablet {
      grid-column: 1 / -1;
      padding-inline: 0;

      @include pageGrid;
    }
  }

  &__title {
    margin-bottom: 30px;

    font-size: 36px;
    letter-spacing: 5.58px;
    font-weight: 400;
    color: $blue-title-color;
    -webkit-text-stroke: 1px $blue-title-color;

    @include onTablet {
      grid-column: 1 / 5;
      margin-bottom: 32px;

      font-size: 64px;
      line-height: 64px;
      letter-spacing: 9.92px;
    }

    @include onDescktop {
      grid-column: 2 / 7;

      margin-bottom: 20px;
    }
  }

  &__title-clear-inside {
    color: transparent;
  }

  &__offer {
    width: 139px;
    margin-bottom: 20px;

    @include onTablet {
      grid-column: 3 / 5;
      margin-bottom: 0;

      transform: translateY(-50px);
    }

    @include onDescktop {
      grid-column: 5 / 7;
      margin-bottom: 50px;

      transform: translateY(0);
    }
  }

  &__price {
    font-size: 26px;
    font-weight: 700;
  }

  &__discount {
    font-size: 14px;
    line-height: 150%;
    color: $text-color;
  }

  &__link {
    gap: 24px;

    color: $title-color;
    background-color: #ffe339;

    @include hover(opacity, 0.7);

    @include onTablet {
      grid-column: 2 / 5;
      width: 240px;
    }

    @include onDescktop {
      grid-column: 4 / 7;
      width: 100%;
    }
  }

  &__more-about-container {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    gap: 9px;
    rotate: 90deg;
    transform-origin: right;
    transform: translate(10px, calc(50% + 5px));

    @include onTablet {
      right: auto;
      left: 0;
      transform-origin: left;
      transform: translate(calc(-100% + 10px), calc(-50% - 34px));
    }

    @include onDescktop {
      transform: translate(calc(-100% + 10px), calc(-50% - 135px));
    }
  }

  &__more-about {
    font-size: 12px;
    line-height: 150%;
    color: $blue-title-color;
  }
}
