.potr-this {
  position: relative;

  &__img {
    width: 100%;
    margin-bottom: 25px;
  }

  &__main-content {
    @include contentPaddingInLineForDevices;

  }

  &__title {
    margin-bottom: 30px;

    color: $blue-title-color;
    -webkit-text-stroke: 1px $blue-title-color;
  }

  &__title-clear-inside {
    color: $gray-light;
  }

  &__price {
    font-size: 26px;
    font-weight: 700;
  }

  &__discount {
    width: 139px;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 150%;
    color: $text-color;
  }

  &__link {
    text-decoration: none;
  }

  &__button {
    width: 100%;
    gap: 24px;

    color: $title-color;
    background-color: #ffe339;

    &:hover {
      opacity: 0.7;
    }
  }

  &__more-about-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 5px;

    display: flex;
    gap: 9px;
    rotate: 90deg;
    transform-origin: right;
    transform: translate(12px, 50%);
  }

  &__more-about {
    font-size: 12px;
    line-height: 150%;
    color: $blue-title-color;
  }
}
