.potrpots {
  font-family: "Bebas Neue", cursive;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.22em;
  color: #828282;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  
  &::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 66px;
    margin-bottom: 10px;
    background-color: #828282;
  }
}
