.potr-pots {
  display: flex;
  width: max-content;
  align-items: center;
  gap: 10px;

  font-family: "Bebas Neue", sans-serif;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.22em;
  color: $c-grey-3;

  &__rectangle {
    width: 65px;
    height: 1px;
    background-color: $c-grey-3;
  }
}
