@import '../utils/mixins';
@import '../utils/vars';


.potr__size {
    @include on-tablet {
        padding-block: 110.25px 105px;

    }

    @include on-desktop {
        padding-block: 100px 96px;
    }

    &__wrapper {
        @include on-tablet {
            @include content-padding-inline;


        }
    }

    &__title {
        width: 260px;
        color: #000;
        font-family: $Bebas-Neue;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 54px */
        letter-spacing: 5.58px;
        text-transform: uppercase;
        margin-bottom: 20px;

        @include content-padding-inline;


        @include on-tablet {
            width: 698px;
            margin-bottom: 30px;
        }

        @include on-desktop {
            width: 643px;
            margin-bottom: 0;
        }
    }

   
    &__content {
        position: relative;

 
        @include on-tablet {
            @include page-grid;
        }

        @include on-desktop {
            height: 490px;
        }

     
        .content {

            &__top {
                padding-inline: 30px;


                @include on-tablet {
                    grid-column: 1 / 3;
                    padding-inline: 0;
                }
              

                @include on-desktop {
                    grid-column: 1 / 4;
                    position: absolute;
                    top: 66px;
                }

              

                .top {
                   
                    &__text {
                        width: 260px;
                        margin-bottom: 30px;
    
                        @include on-tablet {
                            width: 579px;
                            margin-bottom: 38px;
                            
                        }

                        @include on-desktop {
                            width: 253px;
                            
                        }
                    }

                    &__rectangle {
                        width: 1px;
                        height: 257px;
                        background: #D8D8D8;
                        display: none;

                        @include on-desktop {
                            display: block;
                            position: absolute;
                            left: 269px;
                            top: 0;
                        }
                    }
                }
            }


            &__images {
                @include hover(transform, scale(1.05));

                @include on-tablet {
                    grid-column:  3 / 7;
                    position: absolute;
                    right: 0;
                    top: 86px;
                }

                @include on-desktop {
                    grid-column: 7 / 13;
                    position: absolute;
                    right: 0;
                    top: 66px;
                }

                &__image {
                    display: block;
                    background-image: url(/src/images/potr__size/potr_size.svg);
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 259px;
                    margin-bottom: 30px;
                
                    @include on-tablet {
                        background-image: url(/src/images/potr__size/potr_size_tablet.svg);
                        width: 416px;
                        height: 337px;
                      
                    }

                    @include on-desktop {
                        background-image: url(/src/images/potr__size/potr_size_desktop.svg);
                        width: 528px;
                        height: 427px;                    
                    }
                }
            }

            &__blocks { 
                padding-inline: 30px;

                        
                @include on-tablet {
                    padding-inline: 0;
                    width: 246px; 
                    grid-column:  1 / 3;
                }

                @include on-desktop {
                    grid-column: 4 / 7;
                    margin-top: 66px;                    
                }

                
                
                
                .block {
         
                    &__pot  {
                        
                        &__title--large {
                            color: #000;
                            font-family: $Bebas-Neue;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 18px; /* 100% */
                            letter-spacing: 2.79px;
                            margin-bottom: 10px;     
                            
                        }
        
                        &__text--large {
                            width: 246px;
                            margin-bottom: 40px;

                            @include on-tablet {
                                margin-bottom: 50px;
                            }

                            @include on-desktop {
                                margin-bottom: 40px;
                            }
                        }

                        &__title--small {
                            color: #000;
                            font-family: $Bebas-Neue;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 18px; /* 100% */
                            letter-spacing: 2.79px;
                            margin-bottom: 10px;
                        }

                        &__text__mobile {
                            width: 246px;
                            margin-bottom: 15px;

                            @include on-tablet {
                                display: none;
                            }
                        }

                        &__text__tablet {
                            display: none;

                            @include on-tablet {
                                display: block;
                                width: 246px;
                                margin-bottom: 131px;
                            }

                            @include on-desktop {
                                margin-bottom: 109px;
                            }
                        }
                           
        
                        &__text--second {
                            position: relative;
                            width: 260px;

                            @include on-tablet{
                                width: 700px;
                            }

                            @include on-desktop {
                                width: 546px;
                                margin-left: -292px;
                             
                             
                              
                            }
        
                            &::before {
                                content: '*';
                                position: absolute;

                                left: -8px;

                            }
                        }          
                    }           
                }
            }        
        }
    }
}