.preview {
  position: relative;

  &__image {
    width: 100%;
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 21px;
  }

  &__title-text {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.15em;

    -webkit-text-stroke: 0.65px $turquoiseColor;
    color: $turquoiseColor;
  }

  &__cost {
    margin-bottom: 1px;

    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
    color: #333;
  }

  &__offer {
    margin-bottom: 20px;

    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: #4f4f4f;
  }

  &__buy-button {
    font-family: "Proxima Nova Semibold", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin-bottom: 100px;

    box-sizing: border-box;
    width: 240px;
    height: 50px;

    border: 1px solid transparent;

    background-color: $yellowColor;

    &:hover {
      background-color: transparent;
      border-color: #333;
    }
  }

  &__buy-button-text {
    width: 75px;
    height: 20px;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: #121212;
  }

  &__buy-button-arrow {
    position: relative;
    @include arrow(25px, 1.5px, #000);
    margin-left: 9px;
  }

  &__more-about {
    position: absolute;
    top: 90%;
    right: -24%;
    display: flex;
    align-items: center;
    gap: 11px;

    text-decoration: none;

    transform: rotate(90deg);
  }

  &__more-about-text {
    font-family: "Proxima Nova Light", sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: $turquoiseColor;
  }

  &__more-about-arrow {
    position: relative;
    @include arrow(44px, 1px, $turquoiseColor);
  }
}
