.preview {
  &__image {
    width: 100%;
    margin-bottom: 24px;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title-text {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.15em;

    -webkit-text-stroke: 0.65px $turquoiseColor;
    color: $turquoiseColor;
  }
}
