.price {
  font-family: Manrope;

  &__amount {
    @include onDesktop {
      margin-bottom: 5px;
    }

    margin-bottom: 1px;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    color: $gray_1;
  }

  &__signature {

    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }
}
