.promo {
  @extend %title-black;

  &__discount {
    font-size: 36px;
    line-height: 54px;
    color: $color-red;

    margin-bottom: 10px;
  }

  &__conditions {
    font-size: 24px;
    line-height: 24px;
    color: $color-blue;
  }
}
