.radio {
  min-width: 254px;
  min-height: 300px;
  padding: 24px;
  color: $white-color;
  background-color: $bgrnd-radio;
  border-radius: 20px;
  backdrop-filter: blur(40px);
  @include onTablet {
    min-width: 284px;
    min-height: auto;
    z-index: 2;
  }

}
