.remark {

  position: relative;
  display: flex;
  font-family: 'Manrope';
  font-size: 16px;
  line-height: 150%;
  color: $gray_2;

  &__star {
    @include onDesktop {
      position: static;
      transform: translateX(0);
    }

    position: absolute;
    top: 0;
    left: -3px;
    transform: translateX(-100%);
    margin-right: 5px;
  }

  &__description {

  }
}
