.reviews-and-privileges {
  margin-top: 110px;

  &__reviews {
    @include onMobileAndTablet {
      display: none;
    }

    display: grid;
    grid-template-rows: repeat(2, 210px);
    grid-template-columns: repeat(2, 240px);
    gap: 8px;

    position: absolute;

    &--item {

      &:nth-child(2),
      &:nth-child(6) {
        @include reviewPhoto(-30, 1);
      }

      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(5) {
        @include reviewPhoto(-20, 2);
      }

      &:nth-child(3) {
        @include reviewPhoto(-3, 3);
        margin-top: 20px;
      }

      &--image {
        max-width: 214px;
        max-height: 240px;
      }
    }
  }

  &__privileges {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include onTabletAndDesktop {
      padding-left: 20px;
    }

    @include onDesktop {
      height: 298px;
      grid-row: 1;
    }

    &--item {
      position: relative;

      &::before {
        content: url(../images/romb.svg);
        position: absolute;
        top: 48px;
        left: -20px;
        width: 7px;
        height: 7px;

        @include onTablet {
          top: 22px;
        }
      }

      &--title {
        color: $grey-darker;
        margin-bottom: 10px;
      }
    }
  }

  &__sale {

    @include onMobile {
      margin-top: 50px;
    }

    @include onDesktop {
      align-items: start;
      grid-row: 2;
    }

    @include onTablet {
      grid-row: 1;
      align-items: end;
    }

    &__text {
      @include onDesktop {
        margin-top: 150px;
      }

      &--title {
        color: $red;
        margin: -40px 0 8px;

        @include onTablet {
          margin: -16px 0 8px;
        }

        @include onMobile {
          margin: 10px 0 5px;
        }
      }

      &--description {
        color:  $turquoise;
        margin-top: 0px;
      }
    }

    &--button__secondary-1 {
      @include onTablet {
        grid-row: 1;
      }
    }
  }
}
