:root {
  scroll-behavior: smooth;
}

.body {
  margin: 0 auto;
  justify-content: center;

  overflow-x: hidden;
background-color: aqua;

&__lock {
  overflow: hidden;
}

/*   overflow: hidden; */
}

main {
    display: grid;

}
