:root {
  scroll-behavior: smooth;
}

.screen-alert {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $yellow;

  @include font-s3;

  padding: $mobile-padding;

  @include mobile {
    display: none;
  }

  &__logo {
    width: 130px;
  }
}

.body {
  margin: 0 auto;
  justify-content: center;

  &__lock {
    overflow: hidden;
  }
}


