:root {
  scroll-behavior: smooth;
}

.body {
  margin: 0 auto;
  justify-content: center;

/*   overflow: hidden; */
}

.content {
  min-width: 320px;
  display: flex;
  justify-content: center;

  @include grid-mobile;
  @include grid-tablet;
  @include grid-desktop;
  @include grid-design;
}
