.secondary-text {
  font-family: $font-manrope;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: $additional-gray2-color;
  text-wrap: pretty;
  letter-spacing: 0.05em;

  &--center {
    text-align: center;

    @include on-tablet {
      text-align: left;
    }

    @include on-desktop {
      text-align: center;
    }
  }

  &--heavy {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }

  &--balanced {
    text-wrap: balance;
  }

  &--color {
    color: $grey-light;
  }

  &--black {
    color: $black-color;
  }

  &--size {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
  }

  &--grey3 {
    color: $additional-gray3-color;
  }

  &--benefits-size {
    font-size: 9px;
    line-height: 12px;
    color: $additional-gray3-color;
  }

  &--materials-description {
    @include on-tablet {
      display: none;
    }

    @include on-desktop {
      display: initial;
    }
  }
}
