.secondary-text {
  font-family: $font-manrope;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: $additional-gray2-color;
  text-wrap: pretty;

  &--center {
    text-align: center;

    @include on-tablet {
      text-align: left;
    }

    @include on-desktop {
      text-align: center;
    }
  }

  &--heavy {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }

  &--balanced {
    text-wrap: balance;
  }

  &--color {
    color: $grey-light;
  }
}
