.header__title {
  width: 260px;
  margin: 0;
  font-family: $bebas-font-family;
  font-weight: $middle-font;
  font-size: 36px;
  line-height: 43.2px;
  color: $turquoise-color;
  letter-spacing: 5.5px;

  @include on-tablet {
    width: 441px;
    height: 266px;
    font-size: 64px;
    line-height: 65px;
    letter-spacing: 9.9px;
    grid-column: 1/5;
    grid-row: 1/2;
    }

    @include on-desktop {
      grid-column: 2/7;
      width: 440.72px;
      height: 256px;
    }
  }

  .header__title .outlined {
    color: transparent;
    letter-spacing: 5.5px;
  -webkit-text-stroke: 2px $turquoise-color;
  }

  .for-whom {
    &__titles {
      @include on-tablet {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
      }
    }

    &__tittle-group {
      display: flex;
      flex-direction: column;
    }

    &__section-title {
      margin: 0;
      position: relative;
      font-family: $bebas-font-family;
      font-weight: $middle-font;
      font-size: 36px;
      line-height: 54px;
      letter-spacing: 5.5px;
      color: $dark-grey-color;

      @include on-tablet {
        width: 340px;
      }
    }

    &__section-title-1 {
      position: $relative-position;

      @include on-desktop {
        padding-top: 0;
        width: 470px;
      }
    }

    &__section-title-2 {
      position: $relative-position;

      @include on-tablet {
        grid-column: 1/4;
        margin-top: 22px;
      }

      @include on-desktop {
        margin: 0;
        margin-top: 27px;
      }
    }

    &__section-title-3 {
      position: $relative-position;

      @include on-tablet {
        padding-top: 17px;
      }

      @include on-desktop {
        padding: 0;
        width: 370px;
        margin-top: 109px;
      }
    }

      &__main-title {
        margin-bottom: 34px;
      }
  }

  .feauters__section-title {
    width: 260px;
    margin-block: 0 25px;
    font-family: $bebas-font-family;
    font-weight: $middle-font;
    font-size: 58px;
    line-height: 69.6px;
    letter-spacing: 8px;
    color: $turquoise-color;

    @include on-tablet {
    margin-block: 0 52px;
    width: 100%;
    }

    @include on-desktop {
    margin-block: 0 74px;
    }
  }

  .feauters__section-title .outlined {
    color: transparent;
    letter-spacing: 5.5px;
    -webkit-text-stroke: 2px $turquoise-color;
  }

  .features-subtitle {
    margin-block: 35px 20px;
    text-align: center;
    font-family: $bebas-font-family;
    font-weight: $middle-font;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3.7px;
    color: $dark-grey-color;

    @include on-tablet {
      text-align: left;
      margin-block: 30px 20px;
    }

    @include on-desktop {
      text-align: center;
    }
  }

  .line-after::after {
    @include on-tablet {
    @include line-after-title;
    
      left: 125px;
      top: 115px;

    @include on-desktop {
    left: 265px;
    top: 65px;
    }
  }
}

  .line-after-2::after {
  @include on-tablet {
    left: 255px;
    top: 65px;
  }

    @include on-desktop {
      left: 260px;
      bottom: 5px;
    }
  }

  .line-after-3::after {
  @include on-tablet {
    left: 125px;
    top: 240px;
  }

    @include on-desktop {
      left: 250px;
      top: 165px;
    }
  }

  .potr-team__title {
    margin: 0;
    font-family: $bebas-font-family;
    font-weight: $middle-font;
    font-size: 58px;
    line-height: 69.6px;
    letter-spacing: 8.9px;
    color: $dark-grey-color;
  }

  .materials__tittle {
    margin: 0;
    margin-left: 30px;
    font-family: $bebas-font-family;
    font-weight: $middle-font;
    font-size: 58px;
    line-height: 69.6px;
    letter-spacing: 8.99px;
    color: $turquoise-color;

    @include on-tablet {
      width: 532px;
      height: 231px;
      font-size: 80px;
      line-height: 96px;
      letter-spacing: 9.5px;
    }

    @include on-desktop {
      width: 100%;
      height: auto;
      margin-left: 0;
      font-size: 138.81px;
      line-height: 166.57px;
      letter-spacing: 16.5px;
    }
  }

  .size-selection__tittle {
    margin: 0;
    font-family: $bebas-font-family;
    width: 260px;
    font-weight: $middle-font;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 5.5px;
    color: #000;

    @include content-padding-in-line;

    @include on-tablet {
      width: 100%;
    }

    @include on-desktop {
      margin-block: 100px 69px;
    }
  }

  .buy-now__title {
    position: relative;
    margin: 0;
    font-weight: $bold-font;
    font-size: 32px;
    line-height: 48px;
    color: $dark-grey-color;

    @include on-tablet {
      font-size: 36px;
      line-height: 54px;
    }

    &::before {
      position: absolute;
      content: "";
      top: 20px;
      left: -17px;
      width: 14px;
      height: 14px;
      background-image: url(../images/icon-logo/rhombus.svg);
      background-repeat: no-repeat;
    }
  }

  .easy-title {
  @include on-desktop {
    width: 256px;
    }
  }

  .self-title {
    @include on-desktop {
      width: 374px;
    }
  }

  .flat-title {
    @include on-desktop {
      width: 346px;
    }
  }

  .footer__title {
    margin: 0;
    width: 260px;
    text-transform: uppercase;
    font-family: $bebas-font-family;
    font-weight: $middle-font;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 5.5px;
    color: #000;

    @include on-tablet {
      margin-top: 17px;
      width: 344px;
      white-space: nowrap;
    }

    @include on-desktop {
      margin-top: 42px;
    }
  }
