.section-title {
  margin: 0 0 24px;

  @include h2;
  color: $gray-1;

  @include onTablet {
    margin-bottom: 18px;
  }

  &--large {
    @include h1;
  }

  &--blue {
    color: $turquoise;
  }

  &--outline {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px $turquoise;
  }
}
