.section {
  padding-top: $header-s;

  @include onTablet {
    padding-top: $header-m;
  }

  &:not(:last-child) {
    margin-bottom: calc(110px - #{$header-s});

    &.team {
      margin-bottom: 0;
    }

    @include onTablet {
      margin-bottom: 135px;
    }

    @include onDesktop {
      margin-bottom: 150px;
    }
  }
}
