.section-title {
  margin-top: 110px;
  font-family: $font-bebas;
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  color: $c-grey;
  letter-spacing: 0.15em;

  @include onTablet {
    margin-top: 135px;
    grid-column: span 2;
  }

  @include onDesktop {
    margin-top: 150px;
  }
}
