.side {
  display: flex;
  align-items: center;

  &__line {
    display: block;
    width: 65px;
    height: 1px;
    background-color: #828282;
  }

  &__text {
    padding-left: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.22em;
    color: #828282;
  }
}
