.side-text {
  position: relative;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.22em;
  color: #828282;

  &:before {
    content: "";
    background-image: url("../images/for_whom_line.svg");
    display: block;
    position: relative;
    left: -120%;
    top: 6px;
    width: 65px;
    height: 2px;
  }

  transform: rotate(90deg);
}
