.side-text {
  position: absolute;

  align-items: center;

  font-size: 12px;
  letter-spacing: 2.64px;
  color: $gray-side-color;
  rotate: 90deg;

  &--for-whom-reverse {
    rotate: -90deg;
    transform-origin: left;
  }

  &::before {
    position: absolute;

    content: "";

    width: 65px;
    margin-right: 10px;
    right: 100%;
    border-bottom: 1px solid $gray-side-color;
  }
}
