.sideArrow {
  position: absolute;
  display: inline-block;
  font-family: "Bebas Neue", sans-serif;
  transform: rotate(90deg);
  text-decoration: none;
  color: black;
  font-size: 10px;
  line-height: 12px;
  height: 18px;
  letter-spacing: 2px;

  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    background-color: #828282;
    width: 65px;
    height: 1px;
  }
}
