.side-element {
  font-family: $font-bebas;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: left;
  color: $additional-gray3-color;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  gap: 40px;
  transform: rotateZ(90deg);

  &::before {
    content: url(../images/Rectangle-grey3.svg);
    display: block;
    transform: rotateZ(90deg);
  }
 }
