.side {
  display: flex;
  align-items: center;
  // flex-direction: column;

  &__line {
    // transform: rotate(90deg);
    // margin-right: 10px;
    // width: 65px;
    // height: 1px;
    // background-color: $third-gray;
    // // writing-mode: vertical-rl;
    // transform: translateY(-50%);

    // margin-right: 10px;
    // width: 1px;
    // height: 65px;
    background-color: $third-gray;
    // writing-mode: vertical-rl;

    display: block;
    width: 65px;
    height: 1px;

  }

  &__text {
    width: 79px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2.64px;
    color: $third-gray;

    &--benefits{
      width: 146px;
    }
  }
}
