.side-content {
  display: flex;
  align-items: center;
  column-gap: 25px;
  height: 25px;
  width: 180px;
  transform-origin: top right;
  transform: rotate(90deg);

  &--gap-10 {
    column-gap: 10px;
  }

  &--rotate-180 {
    height: 14px;
    width: 145px;
    transform-origin: center right;
    transform: rotate(270deg);
  }

  &__text {
    font-size: 12px;

    &--blue {
      color: #03839e;
    }

    &--gray {
      font-size: 12px;
      font-style: normal;
      letter-spacing: 2.64px;
    }
  }

  &__arrow {
    transform: rotate(270deg);
  }

  &__line {
    width: 65px;
    height: 1px;
    background: #828282;
  }
}
