.side-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
  width: min-content;

  &--menu {
    position: absolute;
    bottom: 72px;
    right: 0;
    transform: rotate(180deg);
  }

  &__title {
    writing-mode: vertical-rl;
    text-orientation: mixed;

    &--menu {
      font-family: 'Manrope';
      font-size: 12px;
      line-height: 150%;
      color: $greyLight;
      text-transform: uppercase;
    }

    &--page {
      font-family: 'Bebas Neue';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      align-items: flex-end;
      letter-spacing: 0.22em;
      color: $gray_3;

    }
  }


  &__sign {
    &--menu {
      margin-bottom: 5px;
      width: 1px;
      height: 44px;
      background-color: $greyLight;
    }

    &--page {
      width: 1px;
      height: 65px;
      margin-bottom: 10px;
      background: $gray_3;
    }
  }
}
