.side-tip {

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: max-content;
  width: min-content;
  text-decoration: none;

  &__title {
    margin-bottom: 9px;
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: $turquoise;
  }

  &__arrow {
    height: 44px;
    transform-origin: left center;
  }
}
