.sizes {
  color: $color-grey-2;
  background-color: $color-grey-light;

  &__title {
    margin-bottom: 20px;

    @include title-m;
    color: $color-black;
    letter-spacing: 0.15em;

    @include onTablet {
      margin-bottom: 30px;
    }

    @include onDesktop {
      margin-bottom: 66px;
    }
  }

  &__description {
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 38px;
    }
  }

  &__wrapper {
    @include onTablet {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      margin-bottom: 20px;
    }

    @include onDesktop {
      margin-bottom: 100px;
    }
  }

  &__image {
    max-width: 100vw;
    margin-left: -$side-pading-m;
    margin-bottom: 30px;

    object-fit: contain;

    @include onTablet {
      width: 60%;
      max-width: 528px;
      margin: 0;
    }
  }

  &__size {
    margin-bottom: 40px;

    @include onTablet {
      max-width: 246px;
      margin-bottom: 50px;
    }

    &--last {
      margin-bottom: 15px;

      @include onTablet {
        margin-bottom: 0;
      }
    }
  }

  &__subtitle {
    margin-bottom: 10px;
    @include title-xs;
    color: $color-black;
  }

  &__annotation {
    position: relative;

    @include onDesktop {
      margin: -190px 14px 0;
    }

    &::before {
      position: absolute;
      content: "*";
      transform: translateX(-150%);
    }
  }
}
