.slides {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 40px;
  margin: 0 9px;

  @include for-tablet() {
    display: block;
  }

  @include for-desktop() {
    display: block;
  }
}

.slides::-webkit-scrollbar-thumb {
  display: none;
}

.slides::-webkit-scrollbar {
  display: none;
}
