.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 302px;
  height: 254px;
  margin-inline: auto;

  @media (min-width:768px) {
    width: 100%;
  }

  &__slides {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
  }

  &__slide {
    padding: 28px 44px 0 45px;
    color: $color-grey-light;
    font-size: 16px;
    line-height: 150%;
    backdrop-filter: blur(17px);
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.15);
    transition: all 10ms ease;
    display: none;

    @media (min-width:768px) {
      width: 100%;
      max-width: 283px;
      padding: 35px;
      height: max-content;
      display: block;
      position: absolute;
      visibility: hidden;
      z-index: 3;
      transform: translate(-50%);

      &--1 {
        left: 67%;
        bottom: 307px;
        padding: 35px 45px 34px;
        max-width: 303px;
      }

      &--2 {
        left: 65%;
        bottom: 346px;
      }

      &--3 {
        left: 50%;
        bottom: 50px;
      }

      &--4 {
        left: 35%;
        bottom: 455px;
      }

      &--5 {
        left: 25%;
        bottom: 155px;
      }
    }

    @media (min-width:1280px) {
      &--1 {
        left: 83%;
        bottom: 300px;
      }

      &--2 {
        left: 62%;
        bottom: 495px;
      }

      &--3 {
        left: 35%;
        bottom: 220px;
      }

      &--4 {
        left: 18%;
        bottom: 660px;
      }

      &--5 {
        left: 20%;
        bottom:  418px;
      }
    }

    @media (min-width:1440px) {
      &--1 {
        bottom: 300px;
      }

      &--2 {
        bottom: 500px;
      }

      &--3 {
        left: 37%;
      }

      &--4 {
        left: 20%;
      }

      &--5 {
        left: 19%;
      }
    }
  }

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 37px;
    width: 9px;
    height: 9px;
    transform: rotate(45deg);
    background-color: $color-grey-light;
    border: 1px solid rgba(0, 0, 0, 0.45);;
    cursor: pointer;

    &:active,
    &:focus {
      background-color:  rgba(0, 0, 0, 0.30);
      border: 1px solid $color-grey-light;

      @media (min-width:768px) {
        border: none;
        background-image: url(/images/materials/materials-minus.svg);
      }
    }

    &--1 {
      left: 116px;
    }

    &--2 {
      left: 133px;
    }

    &--3 {
      left: 150px;
    }

    &--4 {
      left: 167px;
    }

    &--5 {
      left: 184px;
    }

    @media (min-width:768px) {
      visibility: visible;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transform: none;
      border: none;
      background-image: url(/images/materials/materials-plus.svg);

      &--1 {
        left: 75%;
        bottom: 500px;

      }

      &--2 {
        left: 60%;
        bottom: 290px;
      }

      &--3 {
        left: 45%;
        bottom: 260px;
      }

      &--4 {
        left: 30%;
        bottom: 400px;
      }

      &--5 {
        left: 10%;
        bottom: 300px;
      }
    }

    @media (min-width:1280px) {
      &--1 {
        left: 82%;
        bottom: 500px;
      }

      &--2 {
        bottom: 435px;
      }

      &--3 {
        left: 50%;
        bottom: 300px;
      }

      &--4 {
        bottom: 600px;
      }

      &--5 {
        left: 17%;
        bottom: 360px;
      }
    }

    @media (min-width:1440px) {
      &--1 {
        bottom: 500px;
      }

      &--3 {
        bottom: 300px;
      }

      &--4 {
        bottom: 600px;
      }
    }
  }

    &__input {
      display: none;

      @for $slideNumber from 1 through 5 {
        &--#{$slideNumber}:checked ~ .slider__slide--#{$slideNumber} {
          display: block;

          @media (min-width:768px) {
            visibility: visible;
          }
        }

        &--#{$slideNumber}:checked ~ .slider__label--#{$slideNumber} {
          background: rgba(0, 0, 0, 0.30);
          background-image: url(/images/materials/materials-minus.svg);
        }
      }
    }
}
