.slide {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 28px 45px 37px;
  box-sizing: border-box;
  height: 254px;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(17px);

  @include on-tablet {
    display: none;
  }

  &__text {
    color: #f8f8f8;
  }
}
