.social {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    transition: filter 0.2s linear, transform 0.2s linear ;
  }

  & a:hover {
    filter: invert(32%) sepia(88%) saturate(1185%)
      hue-rotate(160deg) brightness(92%) contrast(98%);

    transform: scale(1.1);
  }
}
