.social {

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 28px;
    }

    @include onLaptop {
      margin-bottom: 84px;
    }
  }

  &__link {
    display: flex;

    @include hover(fill, $main-text);
  }

  &__icon {
    display: flex;
    fill: inherit;
  }
}
