.social-media {
  display: flex;
  gap: 70px;
  justify-content: space-between;
  &__item {
    display: block;
    width: 20px;
    height: 20px;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;

    &--twitter {
      background-image: url(/images/icons/twitter.svg);
    }

    &--instagram {
      background-image: url(/images/icons/instagram.svg);
    }

    &--facebook {
      background-image: url(/images/icons/facebook.svg);
    }
  }
}
