.splide {
  margin: 0 auto;

  @include onTablet {
    position: relative;
    bottom: 30px;
  }

  &__pagination__page {
    background: #fff;
    border-radius: 0;
    transform: rotate(45deg);

    &.is-active {
      background: rgba(0, 0, 0, 0.3);
      transform: rotate(45deg);
      border: 1px solid #f8f8f8;
    }
  }
}
