.squares {
  @include tablet {
    display: none;
  }

  display: block;

background-repeat: no-repeat;
place-self: center;

width: 78px;
height: 12px;


&--1 {
  background-image: url('././icons/slider1.png');
}
&--2 {
  background-image: url('././icons/slider2.png');
}
&--3 {
  background-image: url('././icons/slider3.png');
}
&--4 {
  background-image: url('././icons/slider4.png');
}
&--5 {
  background-image: url('././icons/slider5.png');
}

}
