.stamp {
  display: flex;
  border: 1px solid transparent;
  height: 164px;
  width: 112px;
  overflow: hidden;


  @include onDesktop {
    width: 164px;
  }

  &__wrapper {
    position: absolute;
    height: 164px;
    width: 164px;
    animation: rotate 20s linear infinite;
  }

  &__img {
    width: 100%;

  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
