.subtitle {
  margin-left: auto;
  position: relative;
  top: 0;
  right: 0;
  writing-mode: vertical-rl;
  height: max-content;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  color: $c-gf8f;
  transform: rotate(-180deg);
  &::before {
    content: "";
    position: absolute;
    top: -155%;
    left: 45%;
    width: 1px;
    height: 44px;
    background-color: $c-gf8f;
  }
}
