.swiper-pagination > .swiper-pagination-bullet {
  @include square(7px);
  border: 1px solid $color-grey-light;
  background-color: $color-grey-light;
  border-radius: 0;
  transform: rotate(45deg);
  opacity: 1;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.3);
}
