.swiper {
  background-color: $popup-background;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  width: calc(100% - 10px);
  max-width: 300px;

  &-slide {
    padding: 28px 44px 58px;
    @extend %s3;
    color: $gray-light;
  }
  &-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    margin-bottom: 27px;
  }
  & &-pagination-bullet {
    margin: 0;
    border-radius: 0;
    width: 7px;
    height: 7px;
    transform-origin: center center;
    transform: rotate(45deg);
    background-color: $white;
    opacity: 1;
    &-active {
      border: 1.5px solid white;
      background-color: rgba(0,0,0,0.3);
    }
  }
}
