.swiper {
  height: 35vh;
  width: 100%;

  @include onTablet {
    display: none;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 15px;
  background-color: $color-gray-medium;
  opacity: 0.8;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    color: $color-gray-light;
    text-align: left;
    padding-inline: 45px;
    margin-bottom: 20px;

    height: max-content;
  }
}

.swiper-pagination-bullet {
  @include square(7px);
  color: transparent;
  border-radius: 0;
  transform: rotate(45deg);
  background-color: $color-gray-light;
  border: 1px solid $color-gray-light;
  opacity: 1;
  transition: background-color 0.6s ease;
}

.swiper-pagination-bullet-active {
  background-color: $color-gray-dark;
}
