.table {
  &__paragraph {
    font-size: 20px;
  }

  &__total {
    font-weight: bold;
    font-family: Bebas Neue, Arial, Helvetica, sans-serif;
    letter-spacing: 2.16px;
  }
}

td {
  padding: 10px 30px 1px;
}

tr:first-child {
  font-weight: bold;
  font-family: Bebas Neue, Arial, Helvetica, sans-serif;
  letter-spacing: 2.16px;
}

tr:not(:last-child) {
  border-bottom: 1px solid grey;
}
