.team {
  background-image: url(../images/png/bg-smal.png);
  background-position: bottom;

  background-repeat: no-repeat;
  background-size: 320px 293px cover;
  bottom: 0;
  left: 0;

  &__title {
    @include f-bebas-400;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: 0.155em;
    color: #333333;
    margin-bottom: 25px;
  }

  &__photo {
    width: 100%;
  }

  &__about {
    @include f-manrope-400;
    font-size: 16px;
    color: $c-gray-dark;
    padding-bottom: 50px;
  }
}
