.thanks-window {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000073;
  z-index: 12;

  &__background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__container {
    box-sizing: border-box;
    position: relative;
    width: 300px;
    height: fit-content;
    padding: 20px 18px 30px;
    margin: 80px auto 0;
    background-color: white;
    overflow-y: auto;

    @include desktop {
      width: 830px;
      padding: 50px 80px 170px;
    }

    @include tablet {
      width: 725px;
      padding: 40px 80px 80px;
    }
  }

  &__close-button {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    @include desktop {
      right: 30px;
      top: 20px;
    }
    @include tablet {
      right: 30px;
      top: 20px;
    }
  }

  &__logo {
    margin-bottom: 30px;

    @include desktop {
      margin-bottom: 40px;
    }
  }

  &__subheder {
    font-size: 24px;
    line-height: 140%;
    font-weight: 700;
    margin-bottom: 16px;
    color: #000;

    @include desktop {
      font-size: 32px;
    }
  }

  &__text {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    color: #000;
  }
}
