.title {
  line-height: 150%; /* 54px */
  letter-spacing: 5.58px;
  text-transform: uppercase;

  &--36px {
    color: #000;
    font-size: 36px;
  }

  &--58px {
    color: #333;
    font-size: 58px;
  }
}
