.title {
  font-family: Bebas Neue, Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.16px;
  color: #333;

  &--red {
    color: #eb5757;

    @include for-desktop() {
      margin-left: 100px;
    }
  }

  &__primary {
    color: var(--gray-1, #333);
    font-family: Manrope, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 48px */
    position: relative;

    &--list {
      position: absolute;
      left: -20px;
      top: 18px;
    }
  }
}
