.title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 0;

  &--black {
    color: #000;
  }

  &--red {
    color: $colorRed;
  }

  &--link {
    text-decoration: none;
  }
}
