.tooltip {
  max-width: 303px;
  padding: 28px 45px;

  @extend %s3;
  color: $color-grey-light;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
  mix-blend-mode: normal;
  backdrop-filter: blur(34px);
}
