.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 16px 0 10px;

  @include onTablet {
    padding: 30px 0 50px;
    width: $tablet-max-width;
  }

  @include onDesktop {
    padding: 20px 0 76px;
    width: $desktop-max-width;
  }

  &__title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 2px;
    color: $grey1;
  }

  &__nav {
    position: fixed;
    top: 0;
    right: 0;

    transform: translateX(100%);
    transition: transform $smooth-transition;

    &:target {
      transform: translateX(0);
    }
  }

  &__menu-icon {
    width: 32px;
    height: 32px;
  }
}
