.top-potr {
  position: relative;

  &__block {
    display: flex;
    align-items: center;
    gap: 10px;
    transform: rotate(90deg);
  }

  &__block-materials-1 {
    position: absolute;
    top: 70px;
    left: -85px;
  }

  &__block-materials-2 {
    position: absolute;
    top: -141px;
    right: -90px;
  }

  &__line {
    width: 65px;
    height: 1px;
    background-color: $color-potr-pots;
  }

  &__text {
    color: $color-potr-pots;
    @extend %text-bebas;
    font-size: 12px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
