.top-bar {
  display: flex;
  padding-block: 24px;
  justify-content: space-between;
  align-items: center;

  @include on-desktop {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    gap: 45px;
  }

  &__nav {
    display: none;

    @include on-desktop {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // &__li {
  //   position: relative;
  //   height: 30px;
  //   cursor: pointer;


  //   &::after {
  //     content: "";
  //     position: absolute;
  //     bottom: -3px;
  //     display: block;
  //     height: 1px;
  //     width: 100%;
  //     background-color: $additional-gray2-color;

  //     transition: transform $effect-duration;
  //     transform: scale(0);
  //     transform-origin: left;
  //   }

  //   &:hover::after {
  //     transform: scale(1);
  //   }
  // }
}
