.top-bar {
  @include content-padding-inline;

  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-mobile {
    padding-inline: 30px;
  }

  @include on-tablet {
    height: 96px;
    margin-bottom: 20px;
  }
}
