.top {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 30px 10px;

  @include onTablet {
    padding: 34px;
  }

  @include onDesktop {
    padding: 24px $padding-l;
  }
}
