.vertical-line {
  @include onDesktop {
    display: block;
  }

  display: none;
  grid-column: 3 / 3;
  grid-row: 1 / 2;
  justify-self: end;
  height: 258px;
  width: 1px;
  background-color: #d8d8d8;
}
