.vertical {
  position: relative;
  writing-mode: vertical-lr;
  padding-top: 75px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: $c-gb3b;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 65px;
    background-color: $c-gb3b;
  }
  &__left {
    transform: rotate(-180deg);
  }
}
