.vertical-text {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color:#828282;
  font-family: $second-font;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 2.64px;
  writing-mode: vertical-lr;

  &::before {
    content: "";
    width: 1px;//LEARN
    height: 65px;//LEARN
    background-color: #828282;
  }
}
