.which-size {
  padding: 0 34px;

  &__title {
    margin-top: 75px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.15em;

    @include onTablet {
      margin-top: 120px;
    }
  }

  &__container {
    @include onTablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__subtitle {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.15em;

  }

  &__image {
    width: 100%;
    max-width: 528px;
  }

}
