.whom {
  background: $backround-color;

  @include smalldesktop {
    padding-top: 150px;
  }

  &__content {
    padding-bottom: 110px;
    position: relative;

    @include smartphone {
      padding-bottom: 130px;
    }

    @include smalldesktop {
      padding-bottom: 150px;
    }
  }

  &__title {
    color: $tiitle-color;
    font-family: $font-family;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 5.58px;
    text-transform: uppercase;
    margin-bottom: 25px;

    @include smartphone {
      margin-bottom: 42px;
    }

    @include smalldesktop {
      margin-bottom: 34px;
    }
  }

  &__pots {
    position: absolute;
    bottom: 90px;
    right: -15px;

    @include smartphone {
      top: -225px;
      right: -27px;
    }

    @include smalldesktop {
      top: -90px;
      right: -20px;
    }
  }

  &__box {
    @include smartphone {
      display: flex;
      flex-direction: row;
    }
  }

  &__photo {
    display: none;

    @include smartphone {
      display: block;
      transition: 0.5s all;
    }
  }

  &__text {
    @include smartphone {
      position: relative;
      margin-left: 70px;
    }

    @include smalldesktop {
      margin-top: 200px;
      margin-left: 120px;
    }
  }

  &__img-1 {
    width: 284px;
    height: 284px;

    @include hover(transform, scale(1.1));

    @include smalldesktop {
      width: 500px;
      height: 500px;
    }
  }

  &__element-1 {
    display: none;

    @include smartphone {
      display: flex;
      color: $tiitle-color;
      font-family: $font-family-2;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

      position: absolute;
      top: -35px;
      left: -25px;
    }

    @include smalldesktop {
      top: -50px;
      left: -10px;
    }
  }

  &__slesh {
    margin-bottom: 30px;

    @include smartphone {
      position: absolute;
      top: 25px;
      left: -51px;

      margin-bottom: 0;
    }

    @include smalldesktop {
      left: -75px;
    }
  }

  &__slesh-two {
    display: none;

    @include smartphone {
      display: inline-block;
    }
  }

  &__slesh--box1 {
    position: relative;

    img {
      position: absolute;
      top: -30px;
    }
  }

  &__slesh--box2 {
    position: relative;

    img {
      position: absolute;
      top: -30px;
    }
  }

  &__slesh--box3 {
    position: relative;

    img {
      position: absolute;
      top: -30px;
    }
  }

  &__box--1 {
    @include smartphone {
      margin-bottom: 122px;
    }
  }

  &__box--2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 57px;
    margin-bottom: 70px;

    @include smalldesktop {
      flex-direction: column;
      gap: 45px;
      margin-top: 100px;
    }
  }

  &__box--3 {

    @include smalldesktop {
      flex-direction: column;
      gap: 45px;
    }
  }

  &__img-2 {
    width: 300px;
    height: 417px;
    @include hover(transform, scale(1.1));
  }

  &__slesh-2 {
    margin-bottom: 30px;
  }

  &__text-2 {
    margin-left: 0;
    margin-top: 70px;

    @include smalldesktop {
      margin-left: 100px;
      width: 400px;
    }
  }

  &__element-2 {
    display: none;

    @include smartphone {
      display: flex;
      color: $tiitle-color;
      font-family: $font-family-2;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

      position: absolute;
      top: -51px;
      left: 164px;
    }

    @include smalldesktop {
      left: -15px;
    }
  }

  &__text-3 {
    @include smartphone {
      margin-top: 20px;
      margin-left: 65px;
    }

    @include smalldesktop {
      width: 370px;
      margin-left: 100px;
    }
  }

  &__element-3 {
    display: none;

    @include smartphone {
      display: flex;
      color: $tiitle-color;
      font-family: $font-family-2;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

      position: absolute;
      top: -49px;
      left: -18px;
    }

    @include smalldesktop {
      left: -110px;
      margin-bottom: 40px;
    }
  }

  &__slesh-3 {
    margin-bottom: 30px;

    @include smartphone {
      position: absolute;
      top: -3px;
      left: -56px;
    }

    @include smalldesktop {
      left: -95px;
    }
  }

  &__photo--2 {
    @include smalldesktop {
      margin-left: 100px;
    }
  }

  &__photo--3 {
    @include smalldesktop {
      margin-bottom: 45px;
    }
  }

  &__img-3 {
    width: 284px;
    height: 404px;
    @include hover(transform, scale(1.1));

    @include smalldesktop {
      width: 470px;
      height: 670px;
    }
  }

  &__main {
    @include smalldesktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__sub {
    color: $black-color;
    font-family: $font-family;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 5.58px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include smartphone {
      font-size: 30px;
      margin-bottom: 10px;
    }

    @include smalldesktop {
      font-size: 36px;
      margin-bottom: 10px;
      width: 470px;
    }
  }

  &__paragraph {
    color: $grey-2;
    font-family: $font-family-2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include smartphone {
      font-size: 14px;
    }

    @include smalldesktop {
      font-size: 16px;
      width: 470px;
    }
  }

  &__bottom {
    display: none;

    @include smalldesktop {
      display: flex;
      position: absolute;
      bottom: 164px;
      left: 2px;
    }
  }
}
