.yellow-bg {
  height: 464px;
  overflow: hidden;

  &__inside {
    width: 1280px;
    height: 464px;

    background-color: $c-lightYellow;

    transform: skewY(165deg);
    transform-origin: bottom left;
  }
}
