.yellow {
  display: none;
  width: 100%;
  height: 466px;
  position: absolute;
  background-image: url(../images/Rectangle.png);
  background-repeat: no-repeat;
  z-index: -1;

  @include onTablet {
    display: block;
  }

  @include onDesktop {
    background-image: url(../images/Rectangle_big.png);
  }
}
