.materials__button {
  padding: 0;
  display: inline-block;
  cursor: pointer;

  border: none;
  background-color: transparent;

  width: 51px;
  height: 51px;

  @include hover(transform, scale(1.05));

  background-image: url(../images/icons/icon-plus.svg);
  background-size: cover;

  &--close {
    background-image: url(../images/icons/icon-minus.svg);
  }
}
