.for-whom {
  margin-top: 110px;

  @include on-desktop {
    margin-top: 150px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 70px;

    margin-top: 25px;

    @include on-tablet {
      margin-top: 20px;
      gap: 110px;
    }

    @include on-desktop {
      @include page-grid;

      margin-top: 34px;
      gap: 80px;
    }
  }

  &__group-1 {
    @include on-tablet {
      @include page-grid;
    }

    @include on-desktop {
      grid-column: 1 / -1;
    }
  }

  &__group-2 {
    @include on-tablet {
      @include page-grid;

      justify-items: end;
    }

    @include on-desktop {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
      justify-items: start;
      align-content: center;
    }
  }

  &__group-3 {
    position: relative;

    @include on-tablet {
      @include page-grid;

      flex-direction: row;
    }

    @include on-desktop {
      grid-column: 7 / -1;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;

    &--1 {
      display: none;

      @include on-tablet {
        grid-column: span 3;

        display: flex;
        height: 284px;
        width: 284px;

        margin-top: 20px;
      }

      @include on-desktop {
        grid-column: span 6;

        height: 500px;
        width: 500px;
      }
    }

    &--2 {
      display: none;

      @include on-tablet {
        grid-column: 4 / -1;

        display: flex;
        height: 417px;
        width: 300px;
      }

      @include on-desktop {
        grid-column: 2 / 6;
      }
    }

    &--3 {
      display: none;

      @include on-tablet {
        grid-column: span 3;

        display: flex;
        height: 405px;
        width: 284px;
      }

      @include on-desktop {
        grid-column: 2 / -1;
        height: 670px;
        width: 470px;
      }
    }
  }

  &__title {
    color: $c-grey-dark-1;
  }

  &__info {
    display: flex;
    flex-direction: column;
    position: relative;

    @include on-tablet {
      &--1 {
        grid-column: 4 / -1;
      }

      &--2 {
        grid-row: 1;
        grid-column: 1 / 4;

        margin-top: 28px;
      }

      &--3 {
        grid-column: 4 / -1;

      }
    }

    @include on-desktop {
      &--1 {
        grid-column: 8 / 12;
        margin-top: 120px;
      }

      &--2 {
        grid-column: 2 / 6;
        grid-row: 2;
        margin-top: 0;
      }

      &--3 {
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 30px;
      }
    }

    &-caption {
      display: none;
      position: relative;

      font-family:Manrop, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

      color: $c-grey-dark-1;

      @include on-tablet {
        display: flex;

        &--star {
          position: absolute;
          left: -20px;
          top: -3px;

          font-family: Manrope, sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 3.72px;

          &-2 {
            left: auto;
            right: 70px;
          }
        }

        &--2 {
          padding-left: 80%;
        }
      }

      @include on-desktop {
        &--2 {
          padding-left: 0;
          margin-top: 45px;
        }

        &--3 {
          margin-top: 45px;

          grid-column: 2 / -1;
        }

        &--star {
          left: -40px;

          &-2 {
            right: auto;
            left: -40px;
          }
        }
      }
    }

    &-number {
      display: flex;
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        width: 25px;
        height: 47px;
        background: url(../images/icons/icon-rect.svg) center center no-repeat;
        background-size: cover;
      }

      @include on-tablet {
        &--2 {
          margin-top: 28px;
        }

        &--1,
        &--3 {
          position: absolute;
          top: 50px;
          left: -60px;
        }
      }

      @include on-desktop {
        &--1 {
          top: 65px;
          left: -100px;
        }

        &--2 {
          margin-top: 40px;
        }

        &--3 {
          position: relative;
          grid-column: 2;
          grid-row: 2;

          margin-top: 40px;
          top: auto;
          left: auto;
        }
      }
    }

    &-title {
      margin-top: 30px;
      position: relative;

      @include on-tablet {

        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          width: 25px;
          height: 47px;
          background: url(../images/icons/icon-rect.svg) center center no-repeat;
          background-size: contain;
        }

        &--1 {
          margin-top: 25px;
        }

        &--2 {
          margin-top: 22px;
        }

        &--3 {
          margin-top: 17px;
        }
      }

      @include on-desktop {
        &--1 {
          margin-top: 40px;
        }

        &--2 {
          margin-top: 27px;
        }

        &--3 {
          grid-column: 3 / -1;
          margin-top: 40px;
        }
      }
    }

    &-text {
      margin-top: 20px;

      font-family: Manrope, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

      color: $c-grey-dark-2;

      @include on-tablet {
        margin-top: 10px;
      }

      @include on-desktop {
        &--3 {
          grid-column: 3 / -1 ;
        }
      }
    }
  }
}
