$font-main: "Manrope", sans-serif;
$font-heading: "Bebas Neue", sans-serif;

$color-turquoise: #03839e;
$color-turquoise-light: #03809e66;
$color-yellow: #ffe339;
$color-yellow-light: #ffec7a;
$color-dark: #000;
$color-grey: #b3b3b3;
$color-grey1: #333;
$color-grey2: #4f4f4f;
$color-grey3: #828282;
$color-grey-light: #f8f8f8;
$color-red: #eb5757;

$transition: 0.3s ease-in;
