*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

body {
  position: relative;
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}

input {
  all: unset;
  display: block;
  font-family: inherit;
  color: inherit;
  outline: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

svg {
  fill: currentColor;
}
