.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 30px;

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
    gap: 0 20px;
  }

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 30px;
  }
}
