.tag {
  text-transform: uppercase;
  color: #828282;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.22em;
  position: absolute;
  line-height: 1;
  transform: rotate(90deg);

  &::before {
    content: "";
    position: absolute;
    width: 65px;
    top: 50%;
    right: calc(100% + 10px);
    height: 1px;
    background-color: #828282;
  }

  &--revert {
    transform: rotate(-90deg);
  }
}
