a {
  color: #000;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffe339;
  padding: 14px;

  @include onTablet {
    width: 240px;
  }

  &::after {
    content: url("../images/arrow-right.svg");
    width: 24px;
    height: 24px;
    margin-left: 24px;
  }
}
