.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #121212;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffe339;
  border: 1px solid transparent;
  padding: 14px;
  transition: all 0.3s;

  @include onTablet {
    width: 240px;
  }

  &::after {
    content: url("../images/arrow-dark.svg");
    width: 24px;
    height: 24px;
    margin-left: 24px;
  }

  &:hover {
    background-color: rgba(255, 227, 57, 0.7);
    border-color: #ffe339;
    color: rgba(18, 18, 18, 0.7);
  }
}
