.header {
  position: relative;
  width: 100%;
  padding-bottom: 110px;

  &__bg {
    @include onTablet {
      position: absolute;
      top: 0;
      right: 154px;
      z-index: -10;
      width: 100%;
      height: 466px;
      background-color: $bgColorYellow;
      clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 100%);
    }

    @include onDesktop {
      height: 610px;
      clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 100%);
      transform: translateX(-18%);
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }

  &__menu-open {
    background-image: url("../images/menu-open.svg");
    height: 32px;
    width: 32px;

    @include onDesktop {
      display: none;
    }
  }

  &__basket {
    display: none;
    background-image: url("../images/basket.svg");
    background-size: cover;
    height: 30px;
    width: 30px;
    transform: scale(1);
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    @include onDesktop {
      display: block;
    }
  }

  &__imag {
    width: 320px;
    margin: 0 auto;

    & img {
      width: 320px;
      height: auto;
    }

    @include onTablet {
      position: absolute;
      top: 120px;
      right: 34px;
      z-index: -5;
    }

    @include onDesktop {
      width: 500px;
      right: 135px;

      & img {
        width: 500px;
      }
    }
  }

  &__title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $colorBlue;
    margin: 25px 0 30px;

    &--transparent {
      @include transparentText;
    }

    @include onTablet {
      font-size: 64px;
      line-height: 64px;
      margin: 50px 0 0;
      z-index: 10;
    }

    @include onDesktop {
      margin: 50px 100px 20px;
    }
  }

  &__shop {
    @include onTablet {
      @include pageGrid;
    }
  }

  &__prise {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;

    @include onTablet {
      grid-column: 3;
      margin-top: -10px;
    }

    @include onDesktop {
      grid-column: 5 / 7;
      margin-top: 0;
    }
  }

  &__info {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 20px;

    @include onTablet {
      grid-column: 3 / 5;
      margin: 0 0 50px;
    }

    @include onDesktop {
      grid-column: 5 / 7;
    }
  }

  &__button {
    @include onTablet {
      grid-column: 2 / 5;
    }

    @include onDesktop {
      grid-column: 4 / 7;
    }
  }

  &__about {
    position: absolute;
    bottom: 110px;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;

    @media (max-width: 768px) {
      right: 5px;
    }

    @include onTablet {
      bottom: 60px;
    }

    &-text {
      font-family: "Manrope", sans-serif;
      font-size: 12px;
      line-height: 150%;
      color: $colorBlue;
      writing-mode: vertical-rl;
      cursor: pointer;

      &::after {
        content: url("../images/Arrow.svg");
        transform: rotate(270deg);
        margin-top: 10px;
      }
    }

    @include onDesktop {
      transition: transform 0.3s;
      transform: translateY(0);

      &:hover {
        transform: translateY(50px);
      }
    }
  }
}
