.materials {
  padding-bottom: 110px;

  &__title {
    font-size: 52px;
    line-height: 70px;
    letter-spacing: 0.15em;
    color: $colorBlue;
    margin: 0;
  }

  &__imag {
    width: 300px;
    height: 240px;
    margin: -75px auto 0;
    background-image: url("../images/materials.jpg");
    background-size: cover;
  }
}
