.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorBlue;
  width: 231px;
  height: 568px;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 15px;
  }

  &__link {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    color: #f8f8f8;
  }

  &__close {
    position: absolute;
    bottom: 82px;
    right: -15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #f8f8f8;
    transform: rotate(270deg);

    &-text {
      font-family: "Manrope", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      text-transform: uppercase;
      display: flex;
      align-items: center;

      &::before {
        display: block;
        content: "";
        width: 44px;
        height: 1px;
        background-color: #f8f8f8;
        margin: 0 5px 0 18px;
      }
    }

    &-button {
      background-image: url("../images/cross.svg");
      height: 12px;
      width: 12px;
    }
  }
}
