.message-us {
  position: relative;
  padding-top: 45px;
  margin-bottom: 105px;

  &__bg {
    position: absolute;
    width: 100%;
    height: 1003px;
    right: 0;
    top: 0;
    background-color: $bgColorYellow;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    z-index: -10;

    @include onTablet {
      height: 560px;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }

    @include onDesktop {
      right: 135px;
    }
  }

  &__container {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: -135px;
      width: 161px;
      height: 164px;
      background-image: url("../images/seal.png");
      z-index: 10;

      @include onDesktop {
        right: 60px;
        bottom: -70px;
      }
    }

    @include onTablet {
      @include pageGrid;
    }
  }

  &__wrap {
    @include onTablet {
      grid-column: span 4;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__text {
    @include stylesText;
    color: #000;
    margin: 0 0 40px;
  }

  &__contacts {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      &:not(:last-child) {
        margin-bottom: 34px;
      }

      @include onTablet {
        margin-bottom: 20px;
      }
    }

    &-name {
      display: block;
      font-family: "Manrope", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      color: rgba(0, 0, 0, 0.39);
      margin: 0 0 5px;
    }

    &-link {
      @include stylesText;
      color: #000;
      margin: 0;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: $colorBlue;
      }
    }

    @include onTablet {
      grid-column: span 2;
      margin-top: 72px;
    }

    @include onDesktop {
      grid-column: 7 / 11;
    }
  }

  @include onDesktop {
    margin-bottom: 184px;
  }
}
