.page {
  font-family: "Bebas Neue", "Manrope", sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    transition: transform 0.3s;
    transform: translateX(100%);

    @include onDesktop {
      position: sticky;
      transform: translateX(0);
    }

    &:target {
      transform: translateX(0);
    }
  }

  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.15em;
    margin: 0 0 100px;
    color: $colorDark;
  }
}
