a {
  color: #000;
}

.potr-team {
  position: relative;
  padding: 0 0 168px;
  overflow: hidden;

  @include onTablet {
    padding: 0 0 110px;
    overflow: hidden;

    &::before {
      content: "martin";
      display: block;
      position: absolute;
      top: 90px;
      left: -45px;
      font-size: 232px;
      line-height: 278px;
      letter-spacing: 0.15em;
      color: transparent;
      -webkit-text-stroke: 0.81px $colorBlue;
      z-index: 10;

      @include onDesktop {
        font-size: 288px;
        line-height: 346px;
        left: 74px;
        -webkit-text-stroke: 1px $colorBlue;
      }
    }

    &::after {
      content: "andy";
      display: block;
      position: absolute;
      bottom: -35px;
      right: -35px;
      font-size: 232px;
      line-height: 278px;
      letter-spacing: 0.15em;
      color: transparent;
      -webkit-text-stroke: 0.81px $colorBlue;
      z-index: 10;

      @include onDesktop {
        font-size: 288px;
        line-height: 346px;
        bottom: -90px;
        -webkit-text-stroke: 1px $colorBlue;
      }
    }

    @include onDesktop {
      padding: 0 0 240px;
    }
  }

  &__bg {
    position: absolute;
    z-index: -10;
    background-color: $bgColorYellow;
    clip-path: polygon(0 0, 100% 0, 100% 67%, 0% 100%);
    width: 100%;
    height: 290px;

    @media (max-width: 640px) {
      bottom: 150px;
    }

    @include onTablet {
      width: 435px;
      top: 170px;
      left: -185px;
    }

    @include onDesktop {
      top: 180px;
      left: 0;
    }
  }

  &__title {
    font-size: 58px;
    line-height: 70px;
    letter-spacing: 0.15em;
    color: $colorGray;
    margin: 0 0 25px;
  }

  &__imag {
    width: 320px;
    height: auto;
    margin-bottom: 30px;

    @include onTablet {
      position: absolute;
      top: 230px;
      right: 34px;
      z-index: -10;
    }

    @include onDesktop {
      width: 677px;
      right: 235px;
    }
  }

  &__text {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    color: #4f4f4f;

    @include onTablet {
      width: 315px;
      margin-top: 230px;
    }

    @include onDesktop {
      margin-top: 370px;
    }
  }
}
