.arrow-link {
  font-family: ProximaNova;
  font-size: 12px;
  line-height: 150%;
  color: $turquoise;
  position: absolute;
  left: 45px;
  bottom: 200px;

  &::after {
    content: url(../images/arrow-blue.svg);
    padding-left: 11px;

  }

  & span {
    transform: rotate(90deg);

  }
}
