.arrow-link {
  position: absolute;
  top: 65%;
  left: 75px;
  font-family: ProximaNova, sans-serif;
  font-size: 12px;
  line-height: 150%;
  color: $turquoise;

  &::after {
    position: absolute;
    bottom: -107px;
    left: 48px;
    content: url(../images/arrow-blue.svg);
    padding-left: 11px;
  }

  &--transform {
    transform: rotate(90deg);
  }
}
