.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  height: 48px;
  width: 100%;
  // background-color: #FFE339;

  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  padding: 0;

  @include onTablet {
    width: 260px;
  }
}
