.clients {

  @media (max-width: 700px) {
    margin-top: 100px;
  }

  &__container {
    position: relative;
  }

  &__title {

    &::before {
      @include slash;
      top: 2px;
      position: absolute;
      left: -12px;
    }

    &::after {
      @include slash;
      position: absolute;
      bottom: 4px;
      left: 57%;
    }

    & span {
      padding-right: 40px;

      @media (max-width: 700px) {
        display: block;
      }
    }

    &--robust {
      max-width: 470px;
      position: relative;

      &::before {
        left: -15px;
        position: absolute;
      }
    }

    &--beautiful {
      position: relative;
      max-width: 400px;

      &::after {
        left: 65%;
      }
    }

    &--time {
      max-width: 370px;
      position: relative;

      &::after {
        left: 97%;
      }
    }
  }

  &__small-text {
    @include s3Font;
    color: #333;
    margin-bottom: 39px;
    position: relative;

    @media (max-width: 700px) {
      visibility: hidden;
    }

    &::before {
      content: "*";
      @include h3Font;
      color: #000;
      position: absolute;
      left: -20px;
      top: 22%;
    }

    &--beautiful {
      margin-top: 39px;

      @media (max-width: 955px) {
        left: 94%;
        margin-top: 0;
      }
    }
  }

  &__img {

    @media (max-width: 1024px) {
      width: 284px;
    }

    @media (max-width: 700px) {
      display: none;
    }

    &--time {
      @media (max-width: 955px) {
        width: 284px;
      }
    }
  }

  &__text {
    @include s3Font;
    color: #4f4f4f;
    max-width: 370px;
    margin-top: 11px;
  }

  &__block {

    &--robust {
      margin-top: 35px;
      display: grid;
      column-gap: 200px;
      grid-template-columns: 500px 1fr;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1070px) {
        column-gap: 150px;
      }

      @media (max-width: 955px) {
        display: flex;
        column-gap: 40px;
      }

      @media (max-width: 700px) {
        justify-content: center;
        column-gap: 0;
      }

    }

    &--beautiful {
      margin-top: 185px;

      @media (max-width: 955px) {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-top: 90px;
        margin-bottom: 90px;
      }

      @media (max-width: 700px) {
        justify-content: center;
        margin: 30px 0;
      }
    }

    &--time {
      position: absolute;
      left: 58%;
      bottom: -17%;

      @media (max-width: 955px) {
        display: flex;
        justify-content: space-between;
        position: static;
      }

      @media (max-width: 700px) {
        justify-content: center;
      }
    }
  }
}
