.features {
  @include content-padding-inline;


  &__wrapper {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include page-grid;

    @include on-mobile {
      display: flex;
      flex-direction: column;
      margin-top: 0;
    }
  }

  &__title-text {
    font-family: "Bebas Neue", sans-serif;
    font-size: 58px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0.15em;
    text-align: left;
    color: transparent;
    -webkit-text-stroke: 1px #03839E;
    margin-top: 150px;

    @include on-tablet {
      margin-top: 130px;
    }

    @include on-mobile {
      margin-top: 110px;
      margin-bottom: 35px;
    }
  }

  &__title-text-begin {
    font-family: "Bebas Neue", sans-serif;
    font-size: 58px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0.15em;
    text-align: left;
    color: #03839E;
  }

  &__sec-left {
    grid-column: 1 / 5;

    @include on-tablet {
      grid-column: 1 / 3;
    }
  }

  &__sec-middle {
    grid-column: 5 / 9;

    @include on-tablet {
      grid-column: 3 / 5;
    }
  }

  &__sec-right {
    grid-column: 9 / -1;

    @include on-tablet {
      grid-column: 5 / -1;
    }
  }

  &__title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15em;
    text-align: center;
  }

  &__discription {
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 150px;

    @include on-mobile {
      margin-bottom: 110px;
    }
  }

  &__pic {
    width: 100%;
    cursor: pointer;

    @include hover(transform, scale(1.2));
  }
}
