.features {
  margin-top: 450px;

  &__title {
    margin-bottom: 75px;
    @include h1Font;
    color: $turquoise;
    letter-spacing: 0.15em;

    & span {
      color: transparent;
      -webkit-text-stroke: 1px $turquoise;
    }
  }

  &__cards {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
    column-gap: 30px;
  }

  &__card {
    text-align: center;
  }

  &__heading {
    @include h3Font;
    color: #333;
    margin-top: 33px;
    margin-bottom: 22px;
  }

  &__info {
    @include s3Font;
    color: #4f4f4f;
  }
}
