@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular-webfont.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/manrope-regular.otf);
  font-weight: normal;
  font-style: normal;
}
