@font-face {
  font-family: "Bebas";
  src: url(../fonts/bebas_neue_bold.woff);
  font-weight: 400;
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/manrope_bold.woff);
  font-weight: 700;
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/manrope_regular.woff);
  font-weight: 500;
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/manrope_semibold.woff);
  font-weight: 600;
}

@font-face {
  font-family: "Proxima";
  src: url(../fonts/proxima_nova_regular.woff);
  font-weight: 500;
}

@font-face {
  font-family: "Proxima";
  src: url(../fonts/proxima_nova_bold.woff);
  font-weight: 700;
}

@font-face {
  font-family: "Proxima";
  src: url(../fonts/proxima_nova_semibold.woff);
  font-weight: 600;
}
