.footer {
  height: 298px;

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 74px;
  }

  &__title {
    @include h3Font;
    letter-spacing: 0.15em;
    margin-bottom: 20px;
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    transition: 0.3s;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__logo {
    @include h2Font;
    letter-spacing: 0.15em;
    margin-top: 84px;

    &:hover {
      color: $turquoise;
    }
  }
}
