.form {
  &__title {
    font-size: 24px;
    margin-bottom: 23px;
  }

  &__input {
    @include s3Font;
    background-color: $yellow-light;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
    margin-bottom: 20px;
    width: 370px;

    &::placeholder {
      color: #4f4f4f;
    }
  }

  &__button {
    font-family: ProximaNova-Semibold, sans-serif;
    color: #333;
    border: none;
    margin-top: 40px;
  }

}
