.for-whom {
  width: 100%;
  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 5.58px;
    text-transform: uppercase;
  }

  &__cards {
    margin-top: 25px;
    display: grid;
    grid-template: repeat(3, auto) / 100%;
    row-gap: 70px;

    @include onTablet {
      row-gap: 110px;
    }

    @include onDesktop {
      grid-template: repeat(2, auto) / repeat(2, 50%);
      margin-top: 34px;
      row-gap: 80px;
    }
  }
}

.for-whom-card {
  @include onTablet {
    @include pageGrid;
  }

  @include onDesktop {
    &--1 {
      grid-column: span 12;
    }
    &--2 {
      display: grid;
      grid-template: 522px auto / repeat(6,70px);
      column-gap: 30px;
    }
    &--3 {
      display: grid;
      grid-template: repeat(2, auto) / repeat(6,70px);
      column-gap: 30px;
      margin-left: 15px;
    }
  }

  &__img {
    display: none;
    @include onTablet {
      display: block;
      grid-column: span 3;
      width: 284px;

      &--2 {
        justify-self: end;
        order: 1;
        width: 300px;
        margin-top: 0;
      }
    }
    @include onDesktop {
      @include hover(transform, rotate(3deg));

      &--1 {
        grid-column: 1 / 6;
        width: 500px;
        margin-top: 0;
      }
      &--2 {
        justify-self: start;
        order: 0;
        grid-column: 2 / 6;
        width: 300px;
        margin-top: 105px;
      }
      &--3 {
        grid-column: 2 / 7;
        width: 470px;
        margin-top: 0;
      }
    }
  }

  &__wrapper {
    @include onTablet {
      position: relative;
      grid-column: span 3;
    }
    @include onDesktop {
      &--1 {
        grid-column: 8 / 12;
        margin-top: 120px;
      }
      &--2 {
        grid-column: 2 / 6;
        margin-top: 45px;
      }
      &--3 {
        grid-column: 3 / -1;
        margin-top: 45px;
      }
    }
  }

  &__small-title {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    margin: 0;
    position: relative;
    display: none;

    &::before {
      content: "*";
      position: absolute;
      left: -10px;

      @include onDesktop {
        left: -30px;
      }
    }
    @include onTablet {
      display: inline;
      position: absolute;
    }

    &--1 {
      @include onTablet {
        left: 0;
        top: -25px;
      }
    }
    &--2 {
      @include onTablet {
        right: 0;
        top: 0;
      }
      @include onDesktop {
        left: 0;
        top: 0;
      }
    }
    &--3 {
      @include onTablet {
        top: -17px;
      }
      @include onDesktop {
        top: -17px;
        left: -106px;
      }
    }
  }

  &__number {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 5.58px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 48px;
      background: black;
      transform: rotate(22deg);
      left: -2px;
    }
    @include onTablet {
      position: absolute;
      left: -60px;
      top: 47px;
    }
    &--2 {
      @include onTablet {
        position: absolute;
        left: 14px;
        top: 81px;
      }
    }
    &--3 {
      @include onTablet {
        position: absolute;
        left: -40px;
        top: 40px;
      }
    }
  }

  &__txt {
    position: relative;
    margin-top: 30px;
    @include onTablet {
      margin-top: 25px;
    }
    &--2 {
      @include onTablet {
        margin-top: 150px;
      }
    }
    &--3 {
      @include onTablet {
        margin-top: 30px;
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 5.58px;
    text-transform: uppercase;
  }

  &__description {
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}
