.form {

  &__title {
    font-size: 24px;
    margin-bottom: 23px;
  }

  &__input,
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0 1000px $yellow-light inset;
    transition: background-color 5000s ease-in-out 0s;
    @include s3Font;
    background-color: $yellow-light;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
    margin-bottom: 20px;
    max-width: 370px;

    &::placeholder {
      color: #4f4f4f;
    }
  }

  &__button {
    font-family: ProximaNova-Semibold, sans-serif;
    color: #333;
    border: none;
    margin-top: 40px;
    cursor: pointer;

    &:hover {
      color: #000;
    }

    @media (max-width: 700px) {
      transform: translateX(100%);
      font-weight: bold;
    }
  }

}
