.header {
  // position: relative;
  background-image: url(../images/rectangle.png);
  background-repeat: no-repeat;
  background-size: 1090px;
  height: 784px;

  &__background {
    // background-color: $yellow-light;
    // width: 1090px;
    // height: 466.83px;
    // position: absolute;
    // z-index: -1;
    // left: 0;
    // transform: rotate(0deg) translateX(-50%) skewY(-32deg);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 78.3px;
  }

  &__logo {
    @include h2Font;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: $heading-color;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    padding-top: 63.7px;
  }

  &__info {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    @include titleFont;
    letter-spacing: 0.15em;
    color: $turquoise;

    & span {
      color: transparent;
      -webkit-text-stroke: 1px $turquoise;
      // text-stroke: 1px $turquoise;
    }
  }

  &__img {
    width: 500px;
    margin-left: 40px;
  }

  &__promo {
    @include s4Font;
    width: 139px;
    color: #4f4f4f;
    & span {
      font-size: 26px;
      line-height: 32px;
      color: #333;
      font-weight: bold;
    }
  }

  &__button {
    margin-top: 50px;
    align-self: center;
  }

}
