.header-opener {
  position: absolute;
  top: 8px;
  right: 30px;
  display: none;
  height: 50px;
  width: 50px;
  background: $colorGreyLight url("../images/menu-opener.svg") center no-repeat;
  cursor: pointer;
  @media (max-width: $screenDesktop) {
    display: block;
  }
}

.header-toggler {
  display: none;
}

.header-toggler:checked + .header {
  width: 70vw;
  padding: 42px 10vw;
}
