.icon {
  position: relative;

  display: block;
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: center;

  @include hover(transform, scale(1.2));

  &--bag {
    background-image: url(../images/icons/icon-bag.png);

    @include on-tablet {
      display: none;
    }

    @include on-mobile {
      display: none;
    }
  }

  &--menu {
    background-image: url(../images/icons/icon-menu-big.png);

    @include on-desktop {
      display: none;
    }

    @include on-tablet {
      width: 48px;
      height: 48px;
    }

    @include on-mobile {
      width: 48px;
      height: 48px;
    }
  }

  &--twitter {
    background-image: url(../images/icons/twitter.png);
  }

  &--instagram {
    background-image: url(../images/icons/instagr.png);
  }

  &--facebook {
    background-image: url(../images/icons/facebook.png);
  }

  &--close {
    background-image: url(../images/icons/icon-close.png);
  }
}
