.icon {
  width: 32px;
  height: 32px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;

  &--menu {
    background-image: url(../icons/burger-icon.png);
  }
}
