.text-input {
  display: block;
  padding: 10px 15px;
  @extend .subText--3;
  font-weight: normal;
  color: $colorDark;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $colorGrey;
  outline: none;
  &:focus {
    border-color: $colorDark;
    font-weight: bold;
  }
  &::placeholder {
    color: $colorSemiDark;
  }

  &--textaria {
    resize: none;
    overflow: hidden;
  }
}
