.materials {
  background-image: url(../images/materials.jpg);
  height: 1081px;
  background-repeat: no-repeat;
  position: relative;

  &__container {
    display: flex;
    justify-content: flex-end;
  }

  &__heading {
    font-family: Bebas, sans-serif;
    font-size: 139px;
    line-height: 139px;
    letter-spacing: 0.12em;
    color: $turquoise;
    position: absolute;
    top: -120px;
    left: 5%;
    max-width: 870px;
  }

  &__info {
    font-family: ProximaNova, sans-serif;
    font-size: 20px;
    line-height: 150%;
    color: #4f4f4f;
  }

  &__head {
    font-weight: bold;
    margin-bottom: 14px;
  }

  &__text {
    font-size: 16px;
    max-width: 470px;
  }

  &__label {
    background-image: url(../images/Component.svg);
    width: 51px;
    height: 51px;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    bottom: 50%;
  }

  &__input {
    display: none;
  }
}
