html {
  scroll-behavior: smooth;
}

li,
body,
h1 {
  margin: 0;
}

ul {
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
}

p,
a,
button {
  font-family: "Proxima Nova", Arial, sans-serif;
}
