.questions {
  background-image: url(../images/questions-bg.png);
  background-repeat: no-repeat;
  height: 568px;

  &__container {
    position: relative;
  }

  &__img {
    position: absolute;
    right: -1%;
    top: -67px;
  }

  &__heading {
    @include h2Font;
    color: #000;
    letter-spacing: 0.15em;
    margin-top: 40px;
  }

  &__content {
    margin-top: 27px;
    display: grid;
    grid-auto-flow: column;
  }

  &__field {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.39);
  }
}
