html {
  @extend %mainText;
  background: #f8f8f8;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

body,
ul,
li,
button,
textarea,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
