* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #333;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
