.size {
  padding-top: 120px;
  padding-bottom: 100px;

  &__title {
    color: #000;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
  }

  &__info {
    display: grid;
    grid-row: auto;
    gap: 67px 47px;
    align-content: space-between;
    @include s3Font;
    color: #4f4f4f;
    max-width: 546px;
    padding: 20px 0;
  }

  &__heading {
    @include h4Font;
    letter-spacing: 0.15em;
    color: #000;
    margin-bottom: 20px;
  }

  &__left-block {
    grid-area: 1 / 1 / 1 / 1;
  }

  &__right-block {
    grid-area: 1 / 2 / 1 / 2;
    position: relative;

    &::before {
      content: "";
      background-color: #d8d8d8;
      width: 1px;
      height: 100%;
      position: absolute;
      left: -30px;
    }
  }

  &__bottom {
    grid-area: 3 / 1 / 2 / 3;
  }
}
