.team {
  margin-top: 150px;
  position: relative;
  background-image: url(../images/rectangle-team.png);
  background-repeat: no-repeat;
  background-position: left 175px;
  margin-bottom: 220px;

  &__heading {
    @include h1Font;
    color: #333;
  }

  &__name {
    font-family: Bebas;
    font-size: 288px;
    line-height: 288px;
    letter-spacing: 0.155em;
    -webkit-text-stroke: 1px $turquoise;
    color: transparent;
    position: absolute;
    left: 5%;

    &--andy {
      text-align: end;
      right: 0;
      bottom: -175px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 336px 1fr;
    column-gap: 57px;
    align-items: center;
    margin-top: 150px;
  }

  &__text {
    @include s3Font;
    color: #4f4f4f;
  }
}
