.top-bar {
  padding: 15px 10px;
  @include onTablet {
    padding: 30px 35px;
  }
  @include onDesktop {
    padding: 30px 135px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-link {
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 2.16px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

  }
}
