.main-title {
  margin: 0;
  margin-bottom: 30px;
  font-family: $uppercase-font-family;
  font-weight: 400;
  font-size: 35px;
  line-height: 43.2px;
  letter-spacing: 0.15em;
  -webkit-text-stroke: 0.68px $main-text-color;
  color: transparent;
  text-transform: uppercase;

  @include on-tablet {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 9.9px;
    -webkit-text-stroke: 0.5px $main-text-color;
  }

  &--fill-color {
    color: $main-text-color;
  }
}

.buy-button {
  font-family: $lowercase-font-family;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.header {
  &__price {
    margin: 0;
    font-family: $lowercase-font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 35.52px;
  }

  &__promotion {
    margin: 0;
    margin-bottom: 20px;
    font-family: $lowercase-font-family;
    font-size: 14px;
    line-height: 21px;
    color: #4F4F4F;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__link {
    font-family: $lowercase-font-family;
    line-height: 18px;
    font-size: 12px;
    text-decoration: none;
    color: $main-text-color;
  }
}

.top-bar {
  &__logo {
    font-family: $uppercase-font-family;
    font-size: 36px;
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
    line-height: 43.2px;
    letter-spacing: 2px;
  }
}

.nav {
  &__list {
    font-family: $lowercase-font-family;
    font-size: 16px;
    line-height: 24px;
  }

  &__link {
    text-decoration: none;
    color: $darker-white;
    transition: .3s;

    &--desktop {
      @include on-desktop {
        color: #4F4F4F;

        &:hover {
          color: #000;
          letter-spacing: 1px;
        }
      }
    }
  }

  &__item--sell-count {
    &::after {
      font-size: 9px;
      color: $darker-white;
      line-height: 14px;
      font-family: $uppercase-font-family;
    }
  }
}

.close-text {
  font-family: $lowercase-font-family;
  text-transform: uppercase;
  color: $darker-white;
  font-size: 12px;
}

.section-title {
  position: relative;
  font-size: 57px;
  line-height: 69.6px;
  letter-spacing: 8px;
  font-weight: 400;
  font-family: $uppercase-font-family;
  color: $main-text-color;
  z-index: 2;

  &--for-whom {
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 5.6px;
  }

  &--black {
    color: #333;
  }

  &--fill-color {
    color: #fff;
    -webkit-text-stroke: 1px $main-text-color;
  }

  &--on-tablet {
    @include on-tablet {
      font-size: 80px;
      line-height: 96px;
      letter-spacing: 9.6px;
    }
  }

  &--on-desktop {
    @include on-desktop {
      font-size: 138.8px;
      line-height: 166.5px;
      letter-spacing: 16.6px;
    }
  }
}

.section-subtitle {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 5.6px;
  font-weight: 400;
  font-family: $uppercase-font-family;

  &--margin-top {
    margin-bottom: 0;
    margin-top: 40px;
  }
}

.article-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3.72px;
  font-family: $uppercase-font-family;
  font-weight: 400;
  text-align: center;

  &--small {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.79px;
    text-align: left;
  }
}

.regular-text {
  position: relative;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #4F4F4F;
  font-family: $lowercase-font-family;
  z-index: 2;

  &--center {
    text-align: center;

    @include on-tablet {
      text-align: start;
    }

    @include on-desktop {
      text-align: center;
    }
  }

  &--white {
    color: $darker-white;
    font-weight: 300;
  }

  &--margin-bottom {
    margin-bottom: 25px;
    grid-column: 1/-1;
  }

  &--bigger-margin-bottom {
    margin-bottom: 40px;
  }

  &--black {
    color: #000;
  }
}

.for-whom {
  &__article-number {
    font-size: 36px;
    line-height: 64.8px;
    font-family: $uppercase-font-family;

    @include on-desktop {
      line-height: 54px;
    }
  }

  &__right-text {
    font-family: $uppercase-font-family;
    letter-spacing: 2.64px;
    color: #828282;
    text-align: right;
  }

  &__pre-article-text {
    font-family: $lowercase-font-family;
    font-size: 16px;
    line-height: 24px;
    color: #333;
  }
}

.potr-team-title {
  margin: 0;
  font-family: $uppercase-font-family;
  font-weight: 400;
  font-size: 232px;
  line-height: 278px;
  letter-spacing: 36px;
  color: transparent;
  -webkit-text-stroke: 1.1px $main-text-color;

  &--andy {
    font-size: 219.6px;
    line-height: 263.5px;
    letter-spacing: 34px;
  }

  @include on-desktop {
    font-size: 288px;
    line-height: 345.6px;
    letter-spacing: 44.6px;
  }
}

.materials {
  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
    font-family: $lowercase-font-family;
    font-weight: 700;
    color: #4F4F4F;
    z-index: 3;
  }
}

.benefits {

  &__title {
    margin: 0;
    font-family: $lowercase-font-family;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #333;

    @include on-tablet {
      font-size: 36px;
      line-height: 54px;
    }
  }

  &__promotion-title {
    margin: 0;
    letter-spacing: 5.6px;
    font-size: 36px;
    line-height: 54px;
    font-family: $uppercase-font-family;
    color: #EB5757;
    font-weight: 400;

    @include on-tablet {
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 3.7px;
    }

    @include on-desktop {
      letter-spacing: 5.6px;
      font-size: 36px;
      line-height: 54px;
    }
  }

  &__promotion-text {
    margin: 0;
    letter-spacing: 3.7px;
    font-size: 24px;
    line-height: 24px;
    font-family: $uppercase-font-family;
    color: $main-text-color;

    @include on-tablet {
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 2.8px;
    }

    @include on-desktop {
      letter-spacing: 3.7px;
      font-size: 24px;
      line-height: 24px;
    }
  }
}

.questions {
  &__inputs-title {
    margin: 0;
    margin-bottom: 25px;
    font-family: $lowercase-font-family;
    font-size: 24px;
    line-height: 36px;
  }

  &__info {
    &-title {
      margin: 0;
      color: rgba(0, 0, 0, 0.39);
      font-family: $lowercase-font-family;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
    }

    &-link {
      color: #000;
      text-decoration: none;
      font-family: $lowercase-font-family;
      font-size: 16px;
      line-height: 24px;

      @include on-desktop {
        @include hover(letter-spacing, 1px);
      }
    }
  }
}

.footer {
  &__title-link {
    font-family: $uppercase-font-family;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 5.6px;
    text-decoration: none;
    color: #000;
  }

  &__article-title,
  &__text,
  &__right-title,
  &__right-text {

    @include on-tablet {
      margin: 0;
      text-align: left;
      text-decoration: none;
    }
  }

}
