.title-h1 {
  font-size: 64px;
  @extend %title;
}

.title-h2 {
  font-size: 58px;
  @extend %title;
}

.title-h3 {
  font-size: 36px;
  @extend %title;
}

.title-h4 {
  font-size: 24px;
  @extend %title;
}

.title-h5 {
  font-size: 18px;
  @extend %title;
}
