.header {
  &__title {
    @extend %title;
  }

  &__price {
    @extend %price;
  }

  &__discount {
    @extend %discount;
  }
}

.navigation {
  &__logo-link {
    @extend %h2;

    line-height: 43px;
    letter-spacing: 0.06em;
  }

  &__link {
  @extend %s3;
  }
}

.button {
  @extend %button;
}

.about-link {
  @extend %s5;
}

.menu {
  &__link {
    @extend %s3;
  }

  &__close-link {
    @extend %s5;
  }
}

.products-in-basket {
  @extend %products-in-basket;
}

.for-whom__title {
  @extend %h2;
}

.target {
  &__short-info {
    @extend %s3;
  }

  &__star {
    @extend %h3;

    letter-spacing: 0;
  }

  &__item-number {
    @extend %h2;

    line-height: 25px;
  }

  &__title {
    @extend %h2;
  }

  &__description {
    @extend %s3;
  }
}

.aside-potr-pots {
  @extend %aside-potr-pots;
}

.features__title {
  @extend %h1;
}

.feature {
  &__title {
    @extend %h3;
  }

  &__description {
    @extend %s3;
  }
}
