//screens bootstrap
$screenExtraLarge: 1440px;
$screenLarge: 1200px;
$screenDesktop: 992px;
$screenTablet: 768px;
$screenMob: 576px;

// @media (max-width: $screenExtraLarge) {
  
// }
// @media (max-width: $screenLarge) {

// }
// @media (max-width: $screenDesktop) {
  
// }
// @media (max-width: $screenTablet) {
  
// }
// @media (max-width: $screenMob) {
  
// }

//margins-paddings
$bodySidePadding: 135px;
$bodySidePaddingLp: 35px;
$bodySidePaddingMb: 30px;

//fonts
$fontBebas: "Bebas Neue", sans-serif;
$fontProxima: "Proxima Nova", sans-serif;

//colors
$colorTurq: #03839e;
$colorYellow: #ffe339;
$colorYellowLight: #ffec7a;
$colorGrey: #b3b3b3;
$colorGreyLight: #f8f8f8;
$colorRed: #eb5757;
$colorDark: #000;
$colorSemiDark: #4f4f4f;
$colorLight: #fff;
$decorGrayColor: #828282;

//header
$headerLinkPaddingVertical: 10px;
$headerLinkPaddingHorizontal: 30px;
$headerMobileLinkPadding: 15px;

//main-screen
$mainScreenTrapeseWidth: calc(100vw - #{$bodySidePadding} - 37px - 15vw);
$mainScreenTrapeseHeight: 425px;

//team
$transDuration: 0.5s;
$teamTrapeseWidth: 31vw;
$teamTrapeseHeight: 17vw;
$teamTrapeseHeightMobile: 300px;

//materials
$materialImageHeightBasis: 75vw;

$materialsImagePusherExtraLarge: 10vw;
$materialsImagePusherLarge: 20vw;
$materialsImagePusherTablet: 10vw;
$materialsImagePusherMob: 56vw;

$materialsHintTopIndentation1: 60vw;
$materialsHintTopIndentation2: 44vw;
$materialsHintTopIndentation3: 53vw;
$materialsHintTopIndentation4: 46vw;

//photo-card
$photocardSidePadding: 25px;
$photocardWidth: 270px;

$summaryPhotoCardGap: 10px;
$summaryPhotoCardHeight: 300px;

//message-us
$messageUsTrapeseWidth: calc(100vw - #{$bodySidePadding});
$messageUsTrapeseWidthLp: calc(100vw - #{$bodySidePaddingLp});
$messageUsHeight: 600px;
$messageUsHeightTablet: 930px;
$messageUsHeightMobile: 850px;
$messageUsHeightExtraMobile: 905px;
$messageUsTitleShrinkBreakpoint: 404px;

//circle-seal
$circleSealSide: 150px;

//footer
$footerGraphicLinkSide: 20px;
