//screens bootstrap
$screenExtraLarge: 1440px;
$screenLarge: 1200px;
$screenDesktop: 992px;
$screenTablet: 768px;
$screenMob: 576px;

// @media (max-width: $screenExtraLarge) {
  
// }
// @media (max-width: $screenLarge) {

// }
// @media (max-width: $screenDesktop) {
  
// }
// @media (max-width: $screenTablet) {
  
// }
// @media (max-width: $screenMob) {
  
// }

//margins-paddings
$bodySidePadd: 135px;
$bodySidePaddLp: 35px;
$bodySidePaddMb: 30px;
$mainScreenMenuLogo: 65px;

//fonts
$fontBebas: "Bebas Neue", sans-serif;
$fontProxima: "Proxima Nova", sans-serif;

//colors
$colorTurq: #03839e;
$colorYellow: #ffe339;
$colorYellowLight: #ffec7a;
$colorGrey: #b3b3b3;
$colorGreyLight: #f8f8f8;
$colorRed: #eb5757;
$colorDark: #000;
$colorSemiDark: #4f4f4f;
$colorLight: #fff;
$decorGrayColor: #828282;

//other
$transDuration: 0.5s;
