$fontBebas: "Bebas Neue", sans-serif;
$fontProxima: "Proxima Nova", sans-serif;

$screenExtraLarge: 1440px;
$screenLarge: 1200px;
$screenDesktop: 992px;
$screenTablet: 768px;
$screenMob: 576px;

$bodySidePadding: 135px;
$bodySidePaddingLaptop: 35px;
$bodySidePaddingMob: 30px;

$titleFontSize: 64px;
$heading1FontSize: 58px;
$heading2FontSize: 36px;
$heading3FontSize: 24px;
$heading4FontSize: 18px;

$subText1DescFontSize: 36px;
$subText1MobFontSize: 32px;
$subText2FontSize: 24px;
$subText3FontSize: 16px;
$subText4FontSize: 14px;
$subText5FontSize: 12px;

$buttonFontSize: 14px;

$basketSide: 30px;

$darkGrey: #333;
$grey: #b3b3b3;
$lightGrey: #f8f8f8;
$turquoise: #03839e;
$yellow: #ffe339;
$lightYellow: #ffec7a;
$red: #eb5757;
$darkColor: #000;
$lightColor: #fff;

$transitionDuration: 0.5s;
