.vertical-link {
  font-family: Bebas, sans-serif;
  font-size: 12px;
  letter-spacing: 0.22em;
  color: #828282;
  position: absolute;

  &::before {
    content: "";
    position: absolute;
    right: 74px;
    bottom: 9px;
    width: 46px;
    height: 1px;
    background-color: #828282;
  }

  &--right {
    right: -3%;
    transform: rotate(90deg);

    @media (max-width: 700px) {
      top: 560px;
    }
  }

  &--left {
    transform: rotate(-90deg);
    left: 0;
    bottom: -150px;

    @media (max-width: 955px) {
      bottom: -58px;
    }

    @media (max-width: 700px) {
      visibility: hidden;
    }
  }
}
