.whom {
  @include content-padding-inline;

  @include on-tablet {
    @include content-padding-inline;
  }

  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 150px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.15em;
    text-align: left;

    @include on-mobile {
      margin-top: 110px;
    }
  }

  &__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__left-pu-wr {
    margin-top: 35px;
  }

  &__durable-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: 35px;

    @include on-tablet {
      margin-left: 0;
    }

    @include on-mobile {
      margin-left: 0;
    }
  }

  &__left-pu {
    width: 100%;
    cursor: pointer;

    @include hover(transform, scale(1.2));


    @include on-tablet {
      width: 284px;
      height: 284px;
    }

    @include on-mobile {
      display: none;
    }
  }

  &__left-pd {
    width: 100%;
    cursor: pointer;

    @include hover(transform, scale(1.2));


    @include on-tablet {
      width: 300px;
      height: 417px;
    }

    @include on-mobile {
      display: none;
    }
  }

  &__durabble-text-down {
    @include on-mobile {
      margin-left: 0;
    }
  }

  &__dur-text {
    display: flex;
    flex-direction: row;
    margin-top: -110px;
    margin-left: 160px;

    @include on-tablet {
      position: relative;
      left: -100px;
      margin-top: -300px;
    }

    @include on-mobile {
      display: none;
    }
  }

  &__rob {
    font-family: Manrop, sans-serif;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333;
  }

  &__text-r-wr {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    margin-top: 150px;
    margin-left: -130px;

    @include on-tablet {
      margin-top: 50px;
    }

    @include on-mobile {
      margin-top: 25px;
      margin-left: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__one {
    margin-right: 50px;

    // margin-left: -150px;

    @include on-tablet {
      margin-left: -100px;
    }

    @include on-mobile {
      position: absolute;
      margin-right: 0;
      margin-left: 0;
      left: 0;
      top: -120px;
    }
  }

  &__text-down {
    @include on-tablet {
      position: absolute;
      left: 30px;
    }
  }

  &__title-r {
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.15em;
  }

  &__text-r {
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #4f4f4f;
  }

  &__right-ar {
    position: absolute;
    right: 0;
    top: -70px;

    @include on-mobile {
      display: none;
    }
  }

  &__durable-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include on-tablet {
      flex-direction: column;
    }

    @include on-mobile {
      flex-direction: column;
    }
  }

  &__left-down {
    display: flex;
    flex-direction: column;
    margin-top: 185px;
    margin-left: 100px;

    @include on-tablet {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    @include on-mobile {
      margin-left: 0;
      margin-top: 70px;
    }
  }

  &__dur-text-d {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    margin-left: -30px;

    @include on-tablet {
      position: relative;
      left: 150px;
    }

    @include on-mobile {
      display: none;
    }
  }

  &__two {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  &__durable-right {
    display: flex;
    flex-direction: column;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @include on-mobile {
      margin-top: 70px;
    }
  }

  &__text-wr {
    position: relative;
    left: 42px;
    top: -75px;

    @include on-mobile {
      position: static;
    }
  }

  &__right-wr {
    margin-top: 80px;
    margin-left: 400px;

    @include on-tablet {
      margin-left: 0;
    }

    @include on-mobile {
      display: none;
    }
  }

  &__dur-textr {
    margin-top: 45px;
    margin-left: 250px;
    white-space: nowrap;

    @include on-tablet {
      position: relative;
      margin-left: 0;
      top: -200px;
      left: 80px;

      // display: none;
    }

    @include on-mobile {
      display: none;
    }
  }

  &__three {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  &__text-rdown {
    margin-left: 300px;

    @include on-tablet {
      margin-left: -100px;
      margin-top: 80px;
    }

    @include on-mobile {
      margin-left: 0;
    }
  }

  &__arrow-l {
    position: absolute;
    left: 135px;
    margin-top: 950px;
    transform: rotate(180deg);

    @include on-tablet {
      display: none;
    }

    @include on-mobile {
      display: none;
    }
  }

  &__right-pic {
    width: 470px;
    height: 670px;
    cursor: pointer;

    @include hover(transform, scale(1.2));


    @include on-tablet {
      width: 284px;
      height: 405px;
    }

    @include on-mobile {
      display: none;
    }
  }
}

