.advantages {
  position: relative;
  padding: 182px 0 154px;

  &__side-line {
    top: -95px;
  }

  &__picture {
    position: absolute;
    padding: 20px 20px 15px;
    width: 270px;
    background-color: #fff;
    box-shadow: -4px -5px 7px 3px rgba(50, 50, 50, 0.4);

    &--1 {
      top: -262px;
      left: 270px;
      transform: rotate(-28.9deg);
    }

    &--2 {
      top: -192px;
      left: -30px;
      transform: rotate(-15deg);
    }

    &--3 {
      top: 80px;
      left: 110px;
      transform: rotate(-15.2deg);
    }

    &--4 {
      top: 150px;
      left: -150px;
    }

    &--5 {
      top: 400px;
      left: 20px;
      transform: rotate(-15.8deg);
    }

    &--6 {
      top: 340px;
      left: 280px;
      transform: rotate(-30.4deg);
    }
  }

  &__img {
    display: block;
    width: 230px;
    height: 230px;
    @include object-fit(cover);
  }

  &__caption {
    display: block;
    margin-top: 10px;
    min-height: 28px;
    @include font(11px, 14px);
    font-family: $content-text-reg;
    color: $text-light-grey;
  }

  &__content {
    position: relative;
    @include flex($x: flex-end);
  }

  &__col {
    width: 100%;
    max-width: 685px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  &__topic {
    padding-left: 27px;

    &:nth-of-type(odd) {
      margin-right: 40px;
    }
  }

  &__name {
    position: relative;
    display: block;
    margin-bottom: 3px;
    @include font(36px);
    font-family: $content-text-semi;
    color: $text-dark-grey1;

    &:before {
      position: absolute;
      z-index: 1;
      content: "";
      top: calc(50% - 5px);
      left: -25px;
      width: 7px;
      height: 7px;
      transform: rotate(45deg);
      background-color: $text-dark-grey2;
    }
  }

  &__description {
    margin-bottom: 40px;
    @extend .content-text;
    color: $text-light-grey;
  }

  &__button {
    margin-bottom: 70px;
  }

  &__discount {
    padding-left: 100px;
  }

  &__discount-value {
    display: block;
    margin-bottom: 5px;
    @extend %h3;
    color: $red;
  }

  &__discount-info {
    @extend %h4;
    color: $main-blue;
    letter-spacing: $title-letter-spacing;
  }

}
