.benefits {
  background: #f8f8f8;
  overflow: hidden;
}

.benefits__container {
  padding: 0 131px 0 0;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 25% 10% 10% 5% 10% 10%;
  height: 830px;
  overflow: hidden;
  position: relative;
  @media (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: 100%;
    padding: 0 30px 100px;
    grid-template-rows: 120px 160px 150px 150px 60px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    grid-template-columns: 50% 50%;
    padding: 0 34px 94px;
    grid-template-rows: 33% 33% 34%;
    height: 450px;
  }
}

.benefits__images {
  display: flex;
  flex-direction: column;
  width: 55vw;
  flex-wrap: wrap;
  position: absolute;
  overflow: hidden;
  @media (min-width: 320px) and (max-width: 1279px) {
    display: none;
  }
}

.benefits__images_row1 {
  overflow: hidden;
}

.benefits__image1 {
  position: absolute;
  top: -90px;
  left: 0;
  transition: all 0.5s ease-in-out;
  &:hover {
    z-index: 1;
    transform: rotate(15deg) scale(1.3);
  }
}

.benefits__image2 {
  position: absolute;
  top: -140px;
  left: -60px;
  transition: all 0.5s ease-in-out;
  &:hover {
    z-index: 1;
    transform: rotate(29deg) scale(1.3) translate(25px, 120px);
  }
}

.benefits__image3 {
  position: absolute;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.3);
    z-index: 1;
  }
}

.benefits__image4 {
  position: absolute;
  top: -50px;
  left: -45px;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: rotate(15deg) scale(1.3);
    z-index: 1;
  }
}

.benefits__image5 {
  position: absolute;
  top: -90px;
  left: -45px;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: rotate(15deg) scale(1.3) translate(150px, -150px);
    z-index: 1;
  }
}

.benefits__image6 {
  position: absolute;
  top: -150px;
  left: -130px;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: rotate(30deg) scale(1.3) translate(50px, -150px);
    z-index: 1;
  }
}

.benefits__images_row2 {
  margin-top: -140px;
  width: 50%;
}

.benefits__images_row3 {
  margin-top: -10px;
  height: 200px;
}

.benefits__card {
  position: relative;
  overflow: hidden;
}

.benefits__card_title {
  font-family: Proxima Nova, sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: bold;

  /* identical to box height, or 54px */
  display: flex;
  align-items: center;
  /* Gray 1 */
  color: #333;
  &::before {
    position: relative;
    content: "";
    width: 7.17px;
    height: 7.17px;
    background: #4f4f4f;
    transform: rotate(-45deg);
    margin-right: 13px;
  }
}

.benefits__card_info {
  font-family: Proxima Nova, sans-serif;
  font-size: 16px;
  line-height: 150%;

  /* identical to box height, or 24px */
  display: flex;
  align-items: flex-end;

  /* Gray 3 */
  color: #828282;
  margin-left: 18px;
}

.benefits__pros_card1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  @media (min-width: 320px) and (max-width: 767px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.benefits__pros_card2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding-top: 20px;
  @media (min-width: 320px) and (max-width: 767px) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.benefits__pros_card3 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  @media (min-width: 320px) and (max-width: 767px) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-top: 20px;
  }
}

.benefits__button_text {
  width: 238px;
  height: 48px;

  /* Turquoise */
  border: 1px solid #03839e;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: Proxima Nova, sans-serif;
  font-size: 14px;
  line-height: 150%;

  text-transform: uppercase;

  color: #121212;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  margin-top: 70px;
  z-index: 1;
  &::after {
    background-image: url(/images/header/button__arrow.svg);
    content: "";
    width: 26px;
    height: 20%;
    background-repeat: no-repeat;
    align-items: center;
    margin-left: 13px;
  }
  @media (min-width: 320px) and (max-width: 767px) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background: #ffe339;
    width: 85vw;
    margin: 60px auto 0;
    border: 1px solid #ffe339;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin-left: 50px;
  }
}

.benefits__discount-info_price {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  padding-left: 104px;
  padding-top: 120px;

  font-family: Bebas Neue, sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: bold;

  /* or 54px */
  letter-spacing: 0.15em;
  text-transform: uppercase;

  /* Red */
  color: #eb5757;
  @media (min-width: 320px) and (max-width: 767px) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    font-size: 24px;
    line-height: 24px;
    padding: 0;
    height: 50px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin-left: 50px;
    padding-left: 0;
    margin-top: 150px;
    font-size: 24px;
    line-height: 24px;
    padding-top: 0;
  }
}

.benefits__discount-info_offer {
  grid-column: 2 / 4;
  grid-row: 6 / 7;
  padding-left: 104px;
  padding-top: 110px;

  font-family: Bebas Neue, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;

  /* or 100% */
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  /* Turquoise */
  color: #03839e;
  @media (min-width: 320px) and (max-width: 767px) {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    font-size: 24px;
    line-height: 24px;
    padding: 0;
    height: 50px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: 50px;
    padding-left: 0;
    font-size: 24px;
    line-height: 24px;
    width: 260px;
    padding-top: 0;
    margin-top: 110px;
  }
}
