.benefits {
  @include contentPadingInline;
  @include displayGrid;
  margin-bottom: 110px;

  @include onTablet {
    position: relative;
    align-items: center;

    margin-bottom: 103px;
  }

  @include onDesktop {
    margin-bottom: 0;

    grid-template-rows: repeat(6, 1fr);
  }

  &__list {
    margin-bottom: 40px;
    position: relative;

    @include onTablet {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 50px;

      @include onTablet {
        margin-bottom: 0;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      background-color: $main-color;
      transform: rotate(45deg);
      margin-left: -18px;
      top: 24px;
    }

    &--1 {
      @include onTablet {
        grid-column: 1 / span 3;
        grid-row: 1;
      }

      @include onDesktop {
        grid-column: 6 / span 3;
        grid-row: 2;
      }
    }

    &--2 {
      @include onTablet {
        grid-column: 1 / span 3;
        grid-row: 3;
      }

      @include onDesktop {
        grid-column: 9 / span 4;
        grid-row: 2;
      }
    }

    &--3 {
      @include onTablet {
        grid-column: 1 / span 3;
        grid-row: 2;
      }

      @include onDesktop {
        grid-column: 6 / span 7;
        grid-row: 3;
      }
    }

  }

  &__title {
    font-family: "Manrope", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
    margin-bottom: 5px;
    color: #333;
  }

  &__text {
    width: 100%;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #828282;
  }

  &__cards {
    display: none;

    @include onDesktop {
      grid-column: span 5;
      grid-row: 1 / span 6;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      position: relative;
      left: -82px;
    }
  }

  &__card {
    @include hover(transform, scale(1.2));
    display: block;
    box-sizing: border-box;
    width: 214px;
    height: 240px;
    padding: 16px;
    background-color: #fff;
    margin-bottom: 10px;

    transform-origin: top left;

    &-photo {
      width: 182px;
      height: 182px;
      display: block;
      margin: 0 auto;
    }

    &-text {
      font-size: 9px;
      font-weight: 400;
      line-height: 11px;
      letter-spacing: 0;
      color: #828282;
      margin-top: 5px;
    }

    &--1 {
      grid-column: span 5;
      grid-row: 1 / span 6;
      transform: rotate(15deg);
    }

    &--2 {
      transform: rotate(-27deg);
    }

    &--3 {
      transform: rotate(-1deg);
      z-index: 1;
    }

    &--4 {
      transform: rotate(-15deg);
      z-index: 1;
    }

    &--5 {
      transform: rotate(-16deg);
    }

    &--6 {
      transform: rotate(-30deg);
    }
  }
}

.discount {
  margin-top: 50px;

  @include onTablet {
    margin-top: 35px;

    grid-column: span 3;
    grid-row: 2;
  }

  @include onDesktop {
    grid-column: 7 / span 5;
    grid-row: 5;
  }

  &__text {
    display: block;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.15em;
    color: $main-title-color;

    @include onTablet {
      width: 272px;
    }

    @include onDesktop {
      width: 100%;
    }

    &-big {
      font-size: 36px;
      line-height: 54px;
      color: $main-red-color;
    }
  }
}
