.burger {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  padding: 120px 20px;

  right: 100vw;
  height: 100vh;
  z-index: 3;
  width: 50%;
  font-size: 16px;
  line-height: 150%;
  color: $grey-light;
  background-color: $green-color;
  opacity: 0.9;

  transition: right 1s;

  @media (max-width: $screenDesktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    text-align: left;
    padding: 8px 0;
  }

  &__link {
    color: $grey-light;
    display: block;

    &--count {
      display: inline-block;
      align-items: center;
      text-align: center;

      width: 13px;
      height: 13px;
      background-color: $red-color;
      border-radius: 100%;
      font-size: 9px;
      line-height: 7px;
      padding: 4px;
      margin: 4px;
      position: relative;
      top: -6px;
      font-family: "Bebas Neue", sans-serif;
      font-weight: 700;
      color: $grey-light;
    }
  }
}
