.buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 238px;
  height: 48px;
  outline-color: #eb5757;
  border: 1px solid #03839e;
  font-family: Proxima Nova, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #121212;
  background: #f8f8f8;
  cursor: pointer;
  transition-duration: 0.5s;

  &::after {
    content: "";
    width: 26px;
    height: 8px;
    margin-left: 20px;
    background: url("../images/arrow-black.svg");
  }

  &:hover {
    background: #03839e;
    color: #f8f8f8;

    &::after {
      background: url("../images/arrow-white.svg");
    }
  }
}
