.shopping-cart {
  width: 750px;
  height: 423px;
  margin: 80px auto;
  box-shadow: 10px 6px 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  display: flex;
  flex-direction: column;

  &--disabled {
    display: none;
  }

  &--move {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
  }
}

.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  align-items: center;
}

.item:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

.buttons {
  position: relative;
  padding-top: 10px;
  margin-right: 60px;
}

.delete-btn,
.like-btn {
  display: inline-block;
  cursor: pointer;
}

.delete-btn {
  width: 18px;
  height: 17px;
  background: url("../images/icons/minus.svg") no-repeat center;
}

.like-btn {
  position: absolute;
  top: 10px;
  left: 25px;
  background: url("../images/icons/heart.svg");
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
}

.is-active {
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: right;
  }
}

.image {
  margin-right: 50px;
  width: 100px;
  height: 100px;
}

.image img {
  width: 100px;
  height: 100px;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}

.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;

}

.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
  background-color: transparent;
}

.cart-btn[class*="btn"] {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.cart-btn img {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.minus-btn img {
  margin-bottom: 3px;
}

.plus-btn img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline: 0;
}

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }

  .buttons {
    margin-right: 20px;
  }
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  right: -10px;
  top: -10px;
  position: absolute;
  border-radius: 20%;

  cursor: pointer;

  &:hover {
    box-shadow: 1px 2px 4px gray;
  }
}
