.content-container {
  width: 1170px;

  @media (max-width: 1270px) {
    width: 100%;
    padding: 0 50px;
  }

  @media (max-width: 992px) {
    width: 100%;
    padding: 0 34px;
  }

  @media (max-width: 576px) {
    width: 100%;
    padding: 0 30px;
  }
}

.link-container {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;

  @media (min-width: 1440px) {
    width: 1400px;
  }
}
