.durable__article {
  @include page-grid;
}

.durable__star-phrase {
  display: none;

  @include on-tablet {
    display: flex;
    gap: 10px;
    grid-column: 4 / 6;
    transform: translateX(-20px);
    margin-bottom: 25px;
  }

  @include on-desktop {
    grid-column: 8 / 9;
    margin-bottom: 40px;
    gap: 30px;
    transform: translateX(-40px);
  }
}

.durable__star {
  color: $balack-color;
  font-size: 24px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 3.72px;
}

.durable__phrase {
  color: $section-gray-color;
  font-size: 16px;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.for-whom__images-1 {
  display: none;

  @include on-tablet {
    display: flex;
    background-image: url(../images/for-whom/flower-1.png);
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index: -1;
    height: 284px;
    width: 284px;
    transform: translateY(24px);
  }

  @include on-desktop {
    height: 500px;
    width: 500px;
    transform: translateY(13px);
  }
}

.durable__sign-number {
  transform: translateY(-5px);
}

.durable__sign-front {
  position: absolute;
  border-left: 1px solid $section-gray-color;
  transform: rotate(22deg);
  transform-origin: bottom left;
  height: 46px;
}

.durable__number {
  color: $section-gray-color;
  font-size: 36px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 5.58px;
  margin-left: 18px;
  width: 15px;
  transform: translateY(12px);
  margin-bottom: 30px;

  @include on-tablet {
    width: 23px;
  }

  @include on-desktop {
    width: 15px;
  }
}

.durable__wraper {
  grid-column: 1 / -1;

  @include on-tablet {
    display: flex;
    gap: 20px;
    grid-column: 4 / -1;
    transform: translateX(-56px);
  }

  @include on-desktop {
    grid-column: 8 / -1;
    gap: 69px;
    transform: translateX(-105px);
  }
}

.durable__sign-moto {
  grid-column: 1 / -1;

  @include on-tablet {
    display: block;
    margin-bottom: 10px;
  }

  @include on-desktop {
    grid-column: 8 / -1;
    margin-bottom: 10px;
  }
}

.durable__moto {
  color: $balack-color;
  font-size: 36px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 54px;
  letter-spacing: 5.58px;
  margin-bottom: 20px;

  @include on-tablet {
    display: inline;
  }
  
  @include on-desktop {
    grid-column: 8 / -1;
    margin-bottom: 10px;
  }
}

.durable__sign-last {
  display: none;

  @include on-tablet {
    display: inline;
    position: absolute;
    border-left: 1px solid $section-gray-color;
    transform: rotate(22deg);
    transform-origin: bottom left;
    height: 46px;
  }
}

.durable__description {
  grid-column: 1 / -1;
  color: $description-gray-color;
  font-size: 16px;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 71px;

  @include on-tablet {
    grid-column: 4 / -1;
    margin-bottom: 153px;
    width: 340px;
    height: 72px;
  }

  @include on-desktop {
    grid-column: 8 / -1;
    margin-bottom: 307px;
    width: 370px;
    height: 76px;
  }
}
