.features {
  width: $WidthForSmallView;
  margin: 40px auto 0;

  @media screen and (min-width: 766px) {
    width: $WidthForMiddleView;
  }

  @media screen and (min-width: 1278px) {
    width: $WidthForMaxView;
  }

  &__name {
    margin-bottom: 50px;
    width: 265px;
    height: 106px;
    font-family: $BebasBold;
    font-size: 58px;
    line-height: 58px;
    letter-spacing: 0.15em;

    color: $TurquoiseColor;

    &-transparent {
      color: transparent;
      -webkit-text-stroke: 1px $TurquoiseColor;
    }

    @media screen and (min-width: 766px) {
      width: 700px;
      height: 59px;
    }

    @media screen and (min-width: 1278px) {
      width: 717px;
      height: 60px;
    }
  }
}

.contain {

  @media screen and (min-width: 766px) {
    display: flex;
  }

  &__photo1,
  &__photo2,
  &__photo3 {
    width: 260px;
    height: 260px;
    margin-bottom: 38px;

    @media screen and (min-width: 766px) {
      width: 220px;
      height: 220px;
      margin-right: 20px;
    }

    @media screen and (min-width: 1278px) {
      width: 367px;
      height: 367px;
      margin-right: 30px;
    }

  }

  &__text-name {
    margin-bottom: 22px;
    font-family: $BebasBold;
    width: 260px;
    height: 19px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $Black;

    @media screen and (min-width: 766px) {
      width: 220px;
    }

    @media screen and (min-width: 1278px) {
      width: 367px;
    }

  }

  &__text-definition {
    margin-bottom: 70px;
    width: 260px;
    height: 96px;
    font-family: $ProximaRegular;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: $Grey;

    @media screen and (min-width: 766px) {
      width: 220px;
    }

    @media screen and (min-width: 1278px) {
      width: 370px;
    }
  }
}
