.features {
  max-width: $content-width;
  justify-self: center;
  padding-bottom: 128px;
  @media (max-width: 1270px) {
    width: 100%;
    padding: 0 50px;
  }

  @media (max-width: 992px) {
    width: 100%;
    padding: 0 40px;
  }

  @media (max-width: 576px) {
    width: 100%;
    padding: 0 30px;
  }

  &__title {
    margin-top: 150px;
    padding-bottom: 77px;
    font-size: 58px;
    line-height: 58px;
    font-family: $bebasB;
    letter-spacing: 0.15em;
    color: $main-blue-color;
    @media (max-width: 376px) {
      margin-top: 50px;
    }
  }

  &__opacity {
    color: transparent;
    -webkit-text-stroke: 1px $main-blue-color;
  }

  &__all {
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    gap: 30px;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, auto);
      align-self: center;
    }
  }

  &__subtitle {
    padding: 37px 0 22px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-family: $bebasB;
    color: $dark-gray-color;
    // @media screen and (max-width: 900px) {
    // }
  }

  &__desc {
    font-family: $proximaR;
    font-size: 16px;
    line-height: 24px;
    color: $middle-gray-color;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    @media screen and (max-width: 768px) {
      width: 80%;
    }
  }
}
