.features__container {
  padding: 0 135px 150px;
  @media (min-width: 320px) and (max-width: 767px) {
    padding: 112px 30px 95px;
    margin: 0 auto;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    padding: 0 54px 152px;
  }
}

.features__title {
  font-family: Bebas Neue, sans-serif;
  font-size: 64px;
  line-height: 64px;

  /* or 100% */
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #03839e;
  padding-bottom: 77px;
  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 58px;
    padding-bottom: 50px;
    width: 265px;
    margin: 0 auto;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    padding-bottom: 50px;
  }
}

.title__fill {
  @media (min-width: 320px) and (max-width: 767px) {
    width: 260px;
    height: 20px;
  }
}

.features__cards {
  display: flex;
  flex-direction: row;

  @media (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
    margin: 0 auto;
  }
}

.features__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  margin-right: 30px;
  @media (min-width: 320px) and (max-width: 767px) {
    width: 260px;
    padding-bottom: 67px;
    margin: 0 auto;
    &:last-child {
      padding-bottom: 0;
    }
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    margin-right: 10px;
  }
}

.features__card_title {
  font-family: Bebas Neue, sans-serif;
  font-size: 24px;
  line-height: 24px;

  /* or 100% */
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;

  /* Gray 1 */
  color: #333;
  padding-top: 36px;
}

.features__card_info {
  font-family: Proxima Nova, sans-serif;
  font-size: 16px;
  line-height: 150%;

  /* or 24px */
  text-align: center;

  /* Gray 2 */
  color: #4f4f4f;
  padding-top: 22px;
}

.features__card_image1,
.features__card_image2,
.features__card_image3 {
  @media (min-width: 320px) and (max-width: 767px) {
    width: 260px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    width: 220px;
  }
}
