.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.manrope-regular {
  font-family: Manrope, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.manrope-semi-bold {
  font-family: Manrope, sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.manrope-bold {
  font-family: Manrope, sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
