.for-whom {
  position: relative;
  padding-top: 70px;
  padding-bottom: 40px;

  @include for-1024 {
    padding-top: 30px;
  }

  &__title {
    margin-bottom: 34px;
    @extend %h3;
    color: $text-dark-grey1;

    @include for-768 {
      text-align: center;
    }
  }

  &__content {
    @include flex(space-between);
    flex-wrap: wrap;
  }

  &__pic {
    margin-bottom: 39px;
    max-width: 500px;
  }

  &__img {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }

  &__info {
    max-width: 470px;

    @include for-768 {
      margin-top: 20px;
    }
  }

  &__feature {
    position: relative;
    display: block;
    margin-bottom: 39px;
    @extend .content-text;
    color: $text-dark-grey1;

    @include for-768 {
      display: none;
    }

    &:before {
      position: absolute;
      content: "*";
      left: -41px;
      top: 5px;
      @include font(24px, 24px);
      font-family: $title-bold;
      color: $text-black;
    }
  }

  &__col-title {
    position: relative;
    margin-bottom: 11px;
    @extend %h3;
  }

  &__number {
    position: absolute;
    content: "";
    left: -68px;
    top: 0;

    &:before {
      position: absolute;
      content: "";
      left: -10px;
      top: 0;
      width: 1px;
      height: 46px;
      transform: rotate(22deg);
      background-color: $text-dark-grey1;
    }
  }

  &__title-slash {
    position: relative;
    display: inline;
    width: 10px;
    height: 10px;
    background-color: $text-black;

    @include for-768 {
      display: none;
    }

    &:after {
      position: absolute;
      content: "";
      right: -9px;
      bottom: 0;
      width: 1px;
      height: 46px;
      transform: rotate(22deg);
      background-color: $text-dark-grey1;
    }
  }

  &__paragraph {
    @extend .content-text;
    max-width: 370px;

    @include for-768 {
      max-width: 100%;
    }
  }

  &__col {

    @include for-768 {
      flex-direction: column;
    }

    &--robust {
      @include flex(space-between, center);
      margin-bottom: 80px;
      width: 100%;

      .for-whom__pic {
        margin-right: 15px;
        margin-bottom: 0;

        @include for-1024 {
          max-width: 284px;
        }

        @include for-768 {
          margin-right: 0;
          max-width: 405px;
        }
      }

      .for-whom__info {
        @include for-1180 {
          padding-left: 95px;
          max-width: 500px;
        }

        @include for-1024 {
          padding-left: 65px;
          max-width: 405px;
        }

        @include for-768 {
          padding-left: 58px;
          max-width: 100%;
        }
      }

      .for-whom__paragraph {
        @include for-1024 {
          max-width: 278px;
        }

        @include for-768 {
          max-width: 100%;
        }
      }

      .for-whom__number {
        left: -40px;
      }
    }

    &--beautiful {
      @include flex($y: center);
      flex-direction: column;
      margin-right: 15px;
      padding-top: 105px;
      max-width: 500px;
      width: 100%;

      @include for-1180 {
        flex-direction: row;
        justify-content: space-between;
        margin-right: 0;
        margin-bottom: 80px;
        padding-top: 0;
        max-width: 100%;
      }

      @include for-768 {
        flex-direction: column;
      }

      .for-whom__pic {
        @include for-1180 {
          flex-grow: 1;
          margin-bottom: 0;
        }
      }

      .for-whom__img {
        @include for-1180 {
          margin: 0 auto;
        }
        
        @include for-1024 {
          margin-right: 0;
        }
      }

      .for-whom__info {
        margin-left: 100px;

        @include for-1180 {
          order: -1;
          margin-left: 0;
          margin-right: 15px;
        }

        @include for-1024 {
          max-width: 340px;
        }

        @include for-768 {
          order: 1;
          margin-right: 0;
          padding-left: 58px;
          max-width: 100%;
        }
      }

      .for-whom__feature {
        @include for-1180 {
          text-align: right;
        }
      }

      .for-whom__feature:before {
        @include for-1180 {
          left: auto;
          right: 80px;
        }
      }

      .for-whom__number {
        position: static;
        display: block;
        margin-bottom: 18px;
        padding-left: 20px;

        @include for-768 {
          position: absolute;
        }

        &:before {
          left: 10px;
        }
      }
    }

    &--time {
      @include flex($y: center);
      flex-direction: column;
      max-width: 470px;

      @include for-1180 {
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        width: 100%;
      }

      @include for-768 {
        flex-direction: column;
      }

      .for-whom__pic {
        @include for-1180 {
          margin-bottom: 0;
          margin-right: 15px;
        }

        @include for-1024 {
          max-width: 284px;
        }

        @include for-768 {
          max-width: 400px;
        }
      }

      .for-whom__info {
        @include for-1180 {
          padding-left: 95px;
          max-width: 500px;
        }

        @include for-1024 {
          padding-left: 65px;
          max-width: 405px;
        }

        @include for-768 {
          max-width: 100%;
        }
      }

      .for-whom__number {
        left: -45px;
      }
    }
  }

  &__side-line {

    &--top {
      top: 0;
    }

    &--bottom {
      bottom: 0;

      @include for-1180 {
        display: none;
      }
    }
  }
}
