.content-grid {
  --padding-inline: 30px;
  --content-max-width: 1170px;
  
  overflow-x: clip;

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];

  & > :not(.breakout, .full-width),
  .full-width > :not(.breakout, .full-width) {
    grid-column: content;
  }

  & > .full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
  }
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}
