.header {
  background-color: white;
}

.top-nav {
  @include content-padding-inline;

  display: flex;
  justify-content: space-between;
}

.top-nav__title {
  color: $section-gray-colore;
  font-size: 36px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  letter-spacing: 2.16px;
  height: 43px;
  margin-top: 15px;
  margin-bottom: 10px;

  @include on-tablet {
    margin-top: 29px;
    margin-bottom: 49px;
  }

  @include on-desktop {
    margin-top: 20.31px;
    margin-bottom: 76.69px;
  }
}
