.heading {
  font-family: $fontBebas;
  font-weight: bold;

  &--1 {
    font-size: 58px;
  }

  &--2 {
    font-size: $heading2FontSize;
    line-height: 150%;
  }

  &--3 {
    font-size: $heading3FontSize;
    line-height: 24px;
  }

  &--4 {
    font-size: $heading4FontSize;
    line-height: 130%;
  }
}
