.header {
  position: relative;
  height: max-content;
  margin-bottom: 110px;

  @include onTablet() {
    background-image: url(../images/YelowRectangle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -154px 0;
  }

  @include onDesktop {
    background-position: -405px 0;
  }

  &__background {
    width: 100%;

    @include onTablet {
      z-index: -1;
      width: 45%;
      position: absolute;
      top: 121px;
      right: 34px;
    }

    @include onDesktop {
      right: 135px;
      width: 35%;
    }
  }

  &__container {
    height: fit-content;
    @include contentPaddingInline;

    @include onTablet {
      @include pageGrid;
    }
  }

  &__title {
    padding-top: 25px;
    color: $color-turquise;

    font-family: Bebas Neue, Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 5.58px;
    -webkit-text-stroke: 1px $color-turquise;

    &--transparent {
      color: transparent;
    }

    @include onTablet {
      padding-top: 49px;
      grid-column: 1 / 5;
      font-size: 64px;
      letter-spacing: 9.92px;
    }

    @include onDesktop {
      grid-column: 2 / 7;
    }
  }
  &__discount {
    padding-top: 30px;

    @include onTablet {
      grid-column: 3 / 4;
    }

    @include onDesktop {
      grid-column: 4 / 6;
    }

    &--price {
      color: $color-grey-1;
      font-size: 26px;
      font-weight: 700;
    }
  
    &--info {
      color: $color-grey-2;
      font-size: 14px;
      font-weight: 400;
    }

  }

  &__button {
    margin-top: 20px;
    height: 20px;

    @include onTablet {
      grid-column: 2 / 4;
    }

    @include onDesktop {
      grid-column: 4 / 7;
    }
  }

  &__scroller {
    position: absolute;
    right: -175px;
    bottom: 130px;
    height: 100px;
    display: block;
    font-size: 12px;
    color: $color-turquise;
    transform: rotate(90deg);
    transform-origin: top left;
    text-decoration: none;

    &::after {
      content: "";
      position: relative;
      padding-right: 54px;
      width: 27px;
      background-image: url(../images/icons/ArrowBlue.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 27px;
    }

    &:hover {
      &::after {
        animation-name: arrowMove;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
      }
    }

    @include onTablet {
      right: auto;
      bottom: 150px;
      left: 20px;
      position: relative;
      grid-column: 1 / 3;
    }

    @include onDesktop {
      grid-column: 1 / 4;
    }
  }
}

@keyframes arrowMove {
  from {
    left: 0;
  }

  to {
    left: 20px;
  }
}
