.icon {
  display: flex;
  background-image: url(../images/logo/menu-burger.svg);
  height: 48px;
  width: 48px;
  background-size: cover;
  margin-top: 6px;

  @include hover(transform, scale(1.3));

  @include on-tablet {
    margin-top: 23px;
  }

  @include on-desktop {
    display: none;
  }
}

.icon--basket {
  display: none;

  @include on-desktop {
    display: flex;
    background-image: url(../images/logo/icon-сумка-для-покупок.svg);
    height: 30px;
    width: 30px;
    margin-top: 22.31px;

    @include hover(transform, scale(1.5));
  }
}
