.icon {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &--bg {
    background-image: url(./../images/icon/icon-bg.svg);
    width: 48px;
    height: 32px;
    align-self: flex-start;

    @include onDesktop {
      display: none;
    }
  }

  &--to-buy {
    display: none;
    background: url(./../images/icon/icon-to-buy.svg) no-repeat center center;
    width: 30px;
    height: 29px;
    
    @include onDesktop {
      display: block;
    }
  }
}
