.intro {
  padding: 70px 0 78px;

  @include for-1024 {
    padding: 30px 0;
  }
  
  @include for-768 {
    padding-top: 0;
  }

  &__content {
    @include flex(space-between, flex-start);

    @include for-768 {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    @extend %h1;
    margin-left: 100px;
    margin-bottom: 3px;
    white-space: nowrap;
    @include strokedText;

    @include for-1024 {
      margin-left: 0;
    }

    @include for-768 {
      margin-bottom: 21px;
    }

    @include for-640 {
      font-size: 56px;
    }

    @include for-480 {
      font-size: 36px;
    }
  }

  &__info {
    margin-right: 66px;

    @include for-1024 {
      position: relative;
      margin-right: -65px;
    }
    
    @include for-768 {
      order: 1;
      margin-right: 0;
      width: 100%;
      max-width: 500px;
    }
  }

  &__buying {
    @include flex(space-between);
  }

  &__buying-right {
    @include flex($y: flex-end);
    flex-direction: column;

    @include for-768 {
      align-items: flex-start;
    }
  }

  &__down-img {
    margin-top: 11px;
    margin-left: 2px;
    animation: arrow-translate 1s ease-out infinite;
  }

  &__link-down {
    @include flex($y: center);
    margin-top: 50px;
    writing-mode: vertical-rl;
    @include font(12px);
    font-family: $content-text-reg;
    color: $main-blue;
    @include hover(opacity, 0.7);

    @include for-1024 {
      margin-top: 20px;
    }

    @include for-768 {
      order: 1;
    }

    @include for-480 {
      position: absolute;
      right: -24px;
      bottom: -20px;
    }
  }

  &__price {
    margin: -7px 62px 49px 0;
    max-width: 139px;

    @include for-1024 {
      margin-right: 90px;
      margin-bottom: 36px;
    }

    @include for-768 {
      margin: 0 0 20px;
    }
  }

  &__price-text {
    @include font(14px);
    font-family: $content-text-semi;
    color: $text-dark-grey1;
  }

  &__price-value {
    display: block;
    @include font(26px, 32px);
    font-family: $content-text-bold;
    color: $text-dark-grey1;
  }

  &__button {
    margin-right: 130px;
  }

  &__img-wrapper {
    width: 100%;
    max-width: 500px;

    @include for-1024 {
      min-width: 300px;
    }

    @include for-768 {
      margin-bottom: 25px;
    }

    @include for-480 {
      margin-right: -30px;
      margin-left: -30px;
      width: calc(100% + 60px);
    }
  }

  &__img {
    display: block;
    @include object-fit(cover);
  }
}
