h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.header {
  position: relative;
  z-index: 1;
  width: 100%;
}

.header__background {
  display: none;
  position: absolute;
  height: 466px;
  width: 1035px;
  right: 28%;
  background: url(../images/header-background-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .header__background {
    display: block;
    right: 19%;
  }
}

@media (min-width: 1020px) {
  .header__background {
    display: block;
    right: 28%;
  }
}

.header__content {
  padding-top: 20px;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .header__content {
    padding-top: 27px;
  }
}

.header__logo {
  color: #000;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  text-decoration: none;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .header__logo {
    letter-spacing: 2px;
  }
}

.header__logo:hover {
  color: #03839e;
}

.header__nav {
  display: none;
}

@media (min-width: 1020px) {
  .header__nav {
    display: block;
  }
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  min-width: 340px;
}

.header__item {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.header__link {
  text-decoration: none;
  color: #4f4f4f;
}

.buyers__title svg {
  margin-bottom: -10px;
  margin-left: -17px;
}

.buy__rectangle svg {
  align-items: center;
}

.header__link svg:hover {
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.header__link:hover {
  color: #03839e;
}

.header__menu {
  display: flex;
  justify-content: end;
  height: 100%;
}

@media (min-width: 1020px) {
  .header__menu {
    display: none;
  }
}

.header__menu-icon {
  height: 100%;
  width: 32px;
}

.header__basket {
  display: none;
}

@media (min-width: 1020px) {
  .header__basket {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
  }
}

.grid {
  display: flex;
  flex-direction: column;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
  }
}

@media (min-width: 1020px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }
}

.grid__buy {
  grid-template-rows: 186px 126px 133px 118px 1fr;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__buy {
    grid-template-rows: 102px 126px 133px 118px 1fr;
  }
}

@media (max-width: 534px) {
  .grid__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.grid__buyers {
  grid-template-rows: none;
}

.grid__item--1-1-mobile {
  grid-column: 1/2;
}

.grid__item--1-2-mobile {
  grid-column: 1/3;
}

.grid__item--2-2-mobile {
  grid-column: 2/3;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__item--1-1-tablet {
    grid-column: 1/2;
  }

  .grid__item--1-2-tablet {
    grid-column: 1/3;
  }

  .grid__item--1-3-tablet {
    grid-column: 1/4;
  }

  .grid__item--1-4-tablet {
    grid-column: 1/5;
  }

  .grid__item--1-5-tablet {
    grid-column: 1/6;
  }

  .grid__item--1-6-tablet {
    grid-column: 1/7;
  }

  .grid__item--2-2-tablet {
    grid-column: 2/3;
  }

  .grid__item--2-3-tablet {
    grid-column: 2/4;
  }

  .grid__item--2-4-tablet {
    grid-column: 2/5;
  }

  .grid__item--2-5-tablet {
    grid-column: 2/6;
  }

  .grid__item--2-6-tablet {
    grid-column: 2/7;
  }

  .grid__item--3-3-tablet {
    grid-column: 3/4;
  }

  .grid__item--3-4-tablet {
    grid-column: 3/5;
  }

  .grid__item--3-5-tablet {
    grid-column: 3/6;
  }

  .grid__item--3-6-tablet {
    grid-column: 3/7;
  }

  .grid__item--4-4-tablet {
    grid-column: 4/5;
  }

  .grid__item--4-5-tablet {
    grid-column: 4/6;
  }

  .grid__item--4-6-tablet {
    grid-column: 4/7;
  }

  .grid__item--5-5-tablet {
    grid-column: 5/6;
  }

  .grid__item--5-6-tablet {
    grid-column: 5/7;
  }

  .grid__item--6-6-tablet {
    grid-column: 6/7;
  }
}

@media (min-width: 1020px) {
  .grid__item--1-1-desktop {
    grid-column: 1/2;
  }

  .grid__item--1-2-desktop {
    grid-column: 1/3;
  }

  .grid__item--1-3-desktop {
    grid-column: 1/4;
  }

  .grid__item--1-4-desktop {
    grid-column: 1/5;
  }

  .grid__item--1-5-desktop {
    grid-column: 1/6;
  }

  .grid__item--1-6-desktop {
    grid-column: 1/7;
  }

  .grid__item--1-7-desktop {
    grid-column: 1/8;
  }

  .grid__item--1-8-desktop {
    grid-column: 1/9;
  }

  .grid__item--1-9-desktop {
    grid-column: 1/10;
  }

  .grid__item--1-10-desktop {
    grid-column: 1/11;
  }

  .grid__item--1-11-desktop {
    grid-column: 1/12;
  }

  .grid__item--1-12-desktop {
    grid-column: 1/13;
  }

  .grid__item--2-2-desktop {
    grid-column: 2/3;
  }

  .grid__item--2-3-desktop {
    grid-column: 2/4;
  }

  .grid__item--2-4-desktop {
    grid-column: 2/5;
  }

  .grid__item--2-5-desktop {
    grid-column: 2/6;
  }

  .grid__item--2-6-desktop {
    grid-column: 2/7;
  }

  .grid__item--2-7-desktop {
    grid-column: 2/8;
  }

  .grid__item--2-8-desktop {
    grid-column: 2/9;
  }

  .grid__item--2-9-desktop {
    grid-column: 2/10;
  }

  .grid__item--2-10-desktop {
    grid-column: 2/11;
  }

  .grid__item--2-11-desktop {
    grid-column: 2/12;
  }

  .grid__item--2-12-desktop {
    grid-column: 2/13;
  }

  .grid__item--3-3-desktop {
    grid-column: 3/4;
  }

  .grid__item--3-4-desktop {
    grid-column: 3/5;
  }

  .grid__item--3-5-desktop {
    grid-column: 3/6;
  }

  .grid__item--3-6-desktop {
    grid-column: 3/7;
  }

  .grid__item--3-7-desktop {
    grid-column: 3/8;
  }

  .grid__item--3-8-desktop {
    grid-column: 3/9;
  }

  .grid__item--3-9-desktop {
    grid-column: 3/10;
  }

  .grid__item--3-10-desktop {
    grid-column: 3/11;
  }

  .grid__item--3-11-desktop {
    grid-column: 3/12;
  }

  .grid__item--3-12-desktop {
    grid-column: 3/13;
  }

  .grid__item--4-4-desktop {
    grid-column: 4/5;
  }

  .grid__item--4-5-desktop {
    grid-column: 4/6;
  }

  .grid__item--4-6-desktop {
    grid-column: 4/7;
  }

  .grid__item--4-7-desktop {
    grid-column: 4/8;
  }

  .grid__item--4-8-desktop {
    grid-column: 4/9;
  }

  .grid__item--4-9-desktop {
    grid-column: 4/10;
  }

  .grid__item--4-10-desktop {
    grid-column: 4/11;
  }

  .grid__item--4-11-desktop {
    grid-column: 4/12;
  }

  .grid__item--4-12-desktop {
    grid-column: 4/13;
  }

  .grid__item--5-5-desktop {
    grid-column: 5/6;
  }

  .grid__item--5-6-desktop {
    grid-column: 5/7;
  }

  .grid__item--5-7-desktop {
    grid-column: 5/8;
  }

  .grid__item--5-8-desktop {
    grid-column: 5/9;
  }

  .grid__item--5-9-desktop {
    grid-column: 5/10;
  }

  .grid__item--5-10-desktop {
    grid-column: 5/11;
  }

  .grid__item--5-11-desktop {
    grid-column: 5/12;
  }

  .grid__item--5-12-desktop {
    grid-column: 5/13;
  }

  .grid__item--6-6-desktop {
    grid-column: 6/7;
  }

  .grid__item--6-7-desktop {
    grid-column: 6/8;
  }

  .grid__item--6-8-desktop {
    grid-column: 6/9;
  }

  .grid__item--6-9-desktop {
    grid-column: 6/10;
  }

  .grid__item--6-10-desktop {
    grid-column: 6/11;
  }

  .grid__item--6-11-desktop {
    grid-column: 6/12;
  }

  .grid__item--6-12-desktop {
    grid-column: 6/13;
  }

  .grid__item--7-7-desktop {
    grid-column: 7/8;
  }

  .grid__item--7-8-desktop {
    grid-column: 7/9;
  }

  .grid__item--7-9-desktop {
    grid-column: 7/10;
  }

  .grid__item--7-10-desktop {
    grid-column: 7/11;
  }

  .grid__item--7-11-desktop {
    grid-column: 7/12;
  }

  .grid__item--7-12-desktop {
    grid-column: 7/13;
  }

  .grid__item--8-8-desktop {
    grid-column: 8/9;
  }

  .grid__item--8-9-desktop {
    grid-column: 8/10;
  }

  .grid__item--8-10-desktop {
    grid-column: 8/11;
  }

  .grid__item--8-11-desktop {
    grid-column: 8/12;
  }

  .grid__item--8-12-desktop {
    grid-column: 8/13;
  }

  .grid__item--9-9-desktop {
    grid-column: 9/10;
  }

  .grid__item--9-10-desktop {
    grid-column: 9/11;
  }

  .grid__item--9-11-desktop {
    grid-column: 9/12;
  }

  .grid__item--9-12-desktop {
    grid-column: 9/13;
  }

  .grid__item--10-10-desktop {
    grid-column: 10/11;
  }

  .grid__item--10-11-desktop {
    grid-column: 10/12;
  }

  .grid__item--10-12-desktop {
    grid-column: 10/13;
  }

  .grid__item--11-11-desktop {
    grid-column: 11/12;
  }

  .grid__item--11-12-desktop {
    grid-column: 11/13;
  }

  .grid__item--12-12-desktop {
    grid-column: 12/13;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__row--1-1-tablet {
    grid-row: 1/2;
  }
}

@media (min-width: 1020px) {
  .grid__row--1-1-desktop {
    grid-row: 1/2;
  }
}

@media (max-width: 534px) {
  .grid__row--1-1-mobile {
    grid-row: 1/2;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__row--1-2-tablet {
    grid-row: 1/3;
  }
}

@media (min-width: 1020px) {
  .grid__row--1-2-desktop {
    grid-row: 1/3;
  }
}

@media (max-width: 534px) {
  .grid__row--1-2-mobile {
    grid-row: 1/3;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__row--1-3-tablet {
    grid-row: 1/4;
  }
}

@media (min-width: 1020px) {
  .grid__row--1-3-desktop {
    grid-row: 1/4;
  }
}

@media (max-width: 534px) {
  .grid__row--1-3-mobile {
    grid-row: 1/4;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__row--1-4-tablet {
    grid-row: 1/5;
  }
}

@media (min-width: 1020px) {
  .grid__row--1-4-desktop {
    grid-row: 1/5;
  }
}

@media (max-width: 534px) {
  .grid__row--1-4-mobile {
    grid-row: 1/5;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__row--1-5-tablet {
    grid-row: 1/6;
  }
}

@media (min-width: 1020px) {
  .grid__row--1-5-desktop {
    grid-row: 1/6;
  }
}

@media (max-width: 534px) {
  .grid__row--1-5-mobile {
    grid-row: 1/6;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__row--2-2-tablet {
    grid-row: 2/3;
  }
}

@media (min-width: 1020px) {
  .grid__row--2-2-desktop {
    grid-row: 2/3;
  }
}

@media (max-width: 534px) {
  .grid__row--2-2-mobile {
    grid-row: 2/3;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__row--2-3-tablet {
    grid-row: 2/4;
  }
}

@media (min-width: 1020px) {
  .grid__row--2-3-desktop {
    grid-row: 2/4;
  }
}

@media (max-width: 534px) {
  .grid__row--2-3-mobile {
    grid-row: 2/4;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__row--2-4-tablet {
    grid-row: 2/5;
  }
}

@media (min-width: 1020px) {
  .grid__row--2-4-desktop {
    grid-row: 2/5;
  }
}

@media (max-width: 534px) {
  .grid__row--2-4-mobile {
    grid-row: 2/5;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__row--2-5-tablet {
    grid-row: 2/6;
  }
}

@media (min-width: 1020px) {
  .grid__row--2-5-desktop {
    grid-row: 2/6;
  }
}

@media (max-width: 534px) {
  .grid__row--2-5-mobile {
    grid-row: 2/6;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__row--3-3-tablet {
    grid-row: 3/4;
  }
}

@media (min-width: 1020px) {
  .grid__row--3-3-desktop {
    grid-row: 3/4;
  }
}

@media (max-width: 534px) {
  .grid__row--3-3-mobile {
    grid-row: 3/4;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__row--3-4-tablet {
    grid-row: 3/5;
  }
}

@media (min-width: 1020px) {
  .grid__row--3-4-desktop {
    grid-row: 3/5;
  }
}

@media (max-width: 534px) {
  .grid__row--3-4-mobile {
    grid-row: 3/5;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__row--3-5-tablet {
    grid-row: 3/6;
  }
}

@media (min-width: 1020px) {
  .grid__row--3-5-desktop {
    grid-row: 3/6;
  }
}

@media (max-width: 534px) {
  .grid__row--3-5-mobile {
    grid-row: 3/6;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__row--4-4-tablet {
    grid-row: 4/5;
  }
}

@media (min-width: 1020px) {
  .grid__row--4-4-desktop {
    grid-row: 4/5;
  }
}

@media (max-width: 534px) {
  .grid__row--4-4-mobile {
    grid-row: 4/5;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__row--4-5-tablet {
    grid-row: 4/6;
  }
}

@media (min-width: 1020px) {
  .grid__row--4-5-desktop {
    grid-row: 4/6;
  }
}

@media (max-width: 534px) {
  .grid__row--4-5-mobile {
    grid-row: 4/6;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__row--5-5-tablet {
    grid-row: 5/6;
  }
}

@media (min-width: 1020px) {
  .grid__row--5-5-desktop {
    grid-row: 5/6;
  }
}

@media (max-width: 534px) {
  .grid__row--5-5-mobile {
    grid-row: 5/6;
  }
}

.grid__footer {
  display: grid;
  grid-template-rows: 100px 122px;
}

@media (max-width: 534px) {
  .grid__footer {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    grid-template-rows: repeat(1, 1fr);
  }
}

@media (max-width: 534px) {
  .grid__flex {
    display: flex;
    justify-content: center;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Bebas Neue", cursive;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
  padding: 0 135px;
}

@media (max-width: 534px) {
  .container {
    max-width: 280px;
    padding: 0 20px;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .container {
    padding: 0 34px;
  }
}

.container-team {
  max-width: 1440px;
  margin: 0 auto;
}

.introduction__content {
  padding-top: 77px;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .introduction__content {
    padding-top: 51px;
  }
}

@media (max-width: 534px) {
  .introduction__content {
    padding-top: 10px;
  }
}

.introduction__title {
  display: inline;
  position: relative;
  z-index: 10;
  font-size: 64px;
  line-height: 64px;
  color: transparent;
  -webkit-text-stroke: 1px #03839e;
  letter-spacing: 10px;
}

.introduction__title:before {
  position: absolute;
  content: "More about POTR POTS";
  color: #03839e;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  rotate: 90deg;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .introduction__title:before {
    top: 304px;
    left: -59px;
  }
}

@media (min-width: 1020px) {
  .introduction__title:before {
    top: 365px;
    left: -160px;
  }
}

.introduction__title:after {
  position: absolute;
  content: url(../images/Arrow.svg);
}

@media (min-width: 535px) and (max-width: 1020px) {
  .introduction__title:after {
    top: 401px;
  }
}

@media (min-width: 1020px) {
  .introduction__title:after {
    top: 460px;
    left: -101px;
  }
}

.introduction__title:hover:after {
  translate: 0 130px;
  transition: 0.4s ease-out;
}

@media (max-width: 534px) {
  .introduction__title {
    margin-bottom: 25px;
    padding-top: 10px;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 5px;
  }

  .introduction__title:before {
    position: absolute;
    content: "More about POTR POTS";
    top: 202px;
    right: -77px;
    color: #03839e;
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    rotate: 90deg;
  }

  .introduction__title:after {
    position: absolute;
    content: url(../images/Arrow.svg);
    top: 300px;
    right: -15px;
  }
}

.introduction__stroke {
  font-size: 64px;
}

@media (max-width: 534px) {
  .introduction__stroke {
    font-size: 36px;
  }
}

.introduction__regular {
  color: #03839e;
}

.introduction__title-mix {
  display: flex;
}

.introduction__details {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

@media (min-width: 1020px) {
  .introduction__details {
    align-items: self-start;
  }
}

.introduction__details-legend {
  align-self: flex-end;
  margin-bottom: 15px;
  margin-right: -27px;
  color: #03839e;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .introduction__details-legend {
    align-self: self-end;
    margin-top: -24px;
  }
}

@media (min-width: 1020px) {
  .introduction__details-legend {
    align-self: self-end;
  }
}

.introduction__details-arrow {
  align-self: flex-end;
  margin-right: -21px;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .introduction__details-arrow {
    align-self: self-start;
    padding-left: 4px;
  }
}

@media (min-width: 1020px) {
  .introduction__details-arrow {
    align-self: self-start;
    padding-left: 4px;
  }
}

.introduction__price {
  position: relative;
  z-index: 10;
  font-family: "Manrope", sans-serif;
  font-size: 26px;
  font-weight: 700;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .introduction__price {
    margin-top: 236px;
  }
}

@media (min-width: 1020px) {
  .introduction__price {
    margin-top: 30px;
  }
}

@media (max-width: 534px) {
  .introduction__price {
    margin-top: 25px;
  }
}

.introduction__offer {
  position: relative;
  z-index: 10;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

@media (max-width: 534px) {
  .introduction__offer {
    margin-bottom: 20px;
  }
}

.introduction__link {
  text-decoration: none;
}

.introduction__button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0;
  margin-top: 50px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #ffe339;
  border: none;
  cursor: pointer;
}

@media (min-width: 1020px) {
  .introduction__button {
    margin-left: 40px;
    margin-top: 173px;
  }
}

@media (max-width: 534px) {
  .introduction__button {
    margin-top: 0;
  }
}

.introduction__button:hover {
  background-color: #ffec7a;
}

.introduction__legend {
  margin-right: 20px;
  padding: 13px 0 13px 65px;
}

.introduction__arrow {
  padding-right: 78px;
}

@media (max-width: 534px) {
  .introduction__arrow {
    padding-right: 70px;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .introduction__arrow {
    padding-right: 44px;
  }
}

.introduction__image {
  position: relative;
  width: 320px;
  height: 320px;
  flex-shrink: 0;
  background-image: url(../images/photos/kaktus-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@media (max-width: 534px) {
  .introduction__image {
    position: relative;
    margin-bottom: 25px;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .introduction__image {
    width: 100%;
    height: 100%;
    margin-left: 30px;
    background-image: url(../images/photos/kaktus-tablet.jpg);
    background-size: contain;
    z-index: 1;
  }

  .introduction__image:after {
    position: absolute;
    content: url(../images/line1.svg) " potr pots";
    bottom: -213px;
    right: -57px;
    width: 70px;
    writing-mode: vertical-lr;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #828282;
    word-spacing: 3px;
  }
}

@media (min-width: 1020px) {
  .introduction__image {
    position: relative;
    width: 500px;
    height: 500px;
    margin-left: -30px;
    background-image: url(../images/photos/kaktus-desktop.jpg);
    z-index: 1;
  }

  .introduction__image:after {
    position: absolute;
    content: url(../images/line1.svg) " potr pots";
    bottom: -239px;
    right: -56px;
    width: 70px;
    writing-mode: vertical-lr;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #828282;
    word-spacing: 3px;
  }
}

.menu {
  position: relative;
  width: 231px;
  height: 568px;
  background-color: #03839e;
}

.menu__list {
  padding: 138px 31px 10px 81px;
  list-style: none;
}

.menu__item {
  margin-bottom: 15px;
}

.menu__link {
  color: #f8f8f8;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.menu__close-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 154px;
  margin-top: 82px;
  rotate: 180deg;
}

.menu__closing-line {
  margin-top: 10px;
  margin-bottom: -10px;
}

.menu__closing-word {
  margin-left: 38px;
  color: #f8f8f8;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  rotate: 90deg;
  transform-origin: left;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.page__menu:target {
  transform: translate(0);
}

.buyers__content {
  padding-top: 139px;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buyers__content {
    padding-top: 110px;
  }
}

@media (max-width: 534px) {
  .buyers__content {
    padding-top: 110px;
  }
}

.buyers__text {
  position: relative;
  margin-top: 20px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.buyers__title {
  position: relative;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 5px;
}

@media (min-width: 1020px) {
  .buyers__title {
    margin-bottom: 34px;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buyers__title {
    margin-bottom: 42px;
  }
}

@media (max-width: 534px) {
  .buyers__title svg {
    display: none;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buyers__title--1 {
    padding-top: 25px;
    margin-bottom: 0;
  }
}

@media (min-width: 1020px) {
  .buyers__title--1 {
    padding-top: 184px;
  }
}

@media (max-width: 534px) {
  .buyers__title--1 {
    padding-top: 101px;
  }
}

.buyers__title--1:before {
  content: url(../images/slash.svg) "1";
  position: absolute;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buyers__title--1:before {
    left: -56px;
  }
}

@media (min-width: 1020px) {
  .buyers__title--1:before {
    left: -97px;
  }
}

@media (max-width: 534px) {
  .buyers__title--1:before {
    top: 28px;
    left: 0;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buyers__title--2 {
    padding-top: 259px;
  }

  .buyers__title--2:before {
    content: url(../images/slash.svg) "2";
    position: absolute;
    top: 192px;
  }
}

@media (max-width: 534px) {
  .buyers__title--2 {
    padding-top: 146px;
  }

  .buyers__title--2 .buyers__text::after {
    position: absolute;
    content: url(../images/line1.svg);
    top: 530px;
    right: -13px;
  }

  .buyers__title--2 .buyers__text::before {
    position: absolute;
    top: 620px;
    right: -39px;
    content: "potr pots";
    font-family: "Bebas Neue", sans-serif;
    font-size: 12px;
    color: #828282;
    letter-spacing: 2px;
    rotate: 90deg;
  }

  .buyers__title--2:before {
    content: url(../images/slash.svg) "2";
    position: absolute;
    top: 72px;
  }
}

@media (min-width: 1020px) {
  .buyers__title--2 {
    padding-top: 8px;
    margin-right: -40px;
  }

  .buyers__title--2:before {
    content: url(../images/slash.svg) "2";
    position: absolute;
    top: -67px;
  }

  .buyers__title--2:after {
    position: absolute;
    content: url(../images/line1.svg) " potr pots";
    bottom: -321px;
    left: -131px;
    width: 70px;
    writing-mode: vertical-lr;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #828282;
    word-spacing: 3px;
    rotate: 180deg;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buyers__title--3 {
    width: 100%;
    padding-top: 152px;
    margin-bottom: 0;
  }
}

@media (min-width: 1020px) {
  .buyers__title--3 {
    width: 370px;
    padding-top: 109px;
  }
}

@media (max-width: 534px) {
  .buyers__title--3 {
    padding-top: 146px;
  }

  .buyers__title--3 + p:after {
    position: absolute;
    content: url(../images/line1.svg) " POTR POTS";
    bottom: -19px;
    right: -67px;
    width: 68px;
    writing-mode: vertical-lr;
    font-size: 12px;
    height: 131px;
    font-family: Bebas Neue, sans-serif;
    letter-spacing: 2px;
  }

  .buyers__title--3:before {
    content: url(../images/slash.svg) "3";
    position: absolute;
    left: -86px;
  }
}

@media (max-width: 534px) and (min-width: 535px) and (max-width: 1020px) {
  .buyers__title--3:before {
    left: -63px;
  }
}

@media (max-width: 534px) and (min-width: 1020px) {
  .buyers__title--3:before {
    left: -100px;
  }
}

@media (max-width: 534px) and (max-width: 534px) {
  .buyers__title--3:before {
    left: 0;
    top: 67px;
  }
}

.buyers__remark {
  display: flex;
  margin-left: 57px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.buyers__asterik {
  margin-right: 30px;
}

.buyers__point {
  display: flex;
}

.buyers__number {
  padding-top: 11px;
  font-size: 36px;
}

.buyers__image-src {
  display: block;
  width: 100%;
  height: auto;
}

.buyers__image-1 {
  position: relative;
}

@media (max-width: 534px) {
  .buyers__image-1 {
    display: none;
  }
}

.buyers__image-1:after {
  position: absolute;
  content: url(../images/asterik.svg);
  font-family: "Manrope", sans-serif;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buyers__image-1:after {
    top: -23px;
    right: -21px;
  }
}

@media (min-width: 1020px) {
  .buyers__image-1:after {
    top: 112px;
    right: -211px;
  }
}

.buyers__image-1:before {
  position: absolute;
  content: "Robust";
  font-family: "Manrope", sans-serif;
  top: -20px;
  right: -84px;
}

@media (min-width: 1020px) {
  .buyers__image-1:before {
    top: 112px;
    right: -288px;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buyers__image-1 img {
    width: 85%;
  }
}

@media (min-width: 1020px) {
  .buyers__image-1 img {
    width: 100%;
  }
}

.buyers__image-2 {
  position: relative;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buyers__image-2 {
    padding-top: 110px;
  }
}

@media (min-width: 1020px) {
  .buyers__image-2 {
    padding-top: 45%;
  }
}

@media (max-width: 534px) {
  .buyers__image-2 {
    display: none;
  }
}

.buyers__image-2:after {
  position: absolute;
  content: url(../images/asterik.svg);
  font-family: "Manrope", sans-serif;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buyers__image-2:after {
    bottom: 71%;
    left: -135px;
  }
}

@media (min-width: 1020px) {
  .buyers__image-2:after {
    bottom: -59px;
    left: -55px;
  }
}

.buyers__image-2:before {
  position: absolute;
  content: "Beautiful";
  font-family: "Manrope", sans-serif;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buyers__image-2:before {
    bottom: 71%;
    left: -117px;
  }
}

@media (min-width: 1020px) {
  .buyers__image-2:before {
    bottom: -59px;
    left: -2px;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buyers__image-2 img {
    width: 85%;
  }
}

@media (min-width: 1020px) {
  .buyers__image-2 img {
    width: 81%;
  }
}

.buyers__image-3 {
  position: relative;
  padding-top: 80px;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buyers__image-3 {
    padding-top: 120px;
  }
}

@media (max-width: 534px) {
  .buyers__image-3 {
    display: none;
  }
}

@media (min-width: 1020px) {
  .buyers__image-3 {
    padding-top: 80px;
  }
}

.buyers__image-3:after {
  position: absolute;
  content: url(../images/asterik.svg);
  font-family: "Manrope", sans-serif;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buyers__image-3:after {
    bottom: 75%;
    right: -12px;
  }
}

@media (min-width: 1020px) {
  .buyers__image-3:after {
    bottom: -67px;
    left: -53px;
  }
}

.buyers__image-3:before {
  position: absolute;
  content: "Saves time";
  font-family: "Manrope", sans-serif;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buyers__image-3:before {
    bottom: 75%;
    right: -109px;
  }
}

@media (min-width: 1020px) {
  .buyers__image-3:before {
    bottom: -67px;
    left: 0;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buyers__image-3 img {
    width: 85%;
  }
}

@media (min-width: 1020px) {
  .buyers__image-3 img {
    width: 100%;
  }
}

@media (max-width: 534px) {
  .features__description {
    margin-bottom: 67px;
  }
}

.features__content .grid div:last-child .features__description {
  margin-bottom: 0;
}

@media (min-width: 1020px) {
  .features__content {
    padding-top: 150px;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .features__content {
    padding-top: 132px;
  }
}

@media (max-width: 534px) {
  .features__content {
    padding-top: 110px;
  }
}

.features__image {
  max-width: 371px;
  margin-bottom: 30px;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .features__image {
    margin-bottom: 25px;
  }
}

.features__image-1 {
  width: 100%;
}

.features__title {
  display: flex;
  margin-bottom: 70px;
  font-size: 58px;
  line-height: 70px;
  font-weight: 400;
  color: transparent;
  -webkit-text-stroke: 1px #03839e;
  letter-spacing: 9px;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .features__title {
    flex-wrap: wrap;
    margin-bottom: 52px;
  }
}

@media (max-width: 534px) {
  .features__title {
    flex-direction: column;
    margin-bottom: 23px;
  }
}

.features__regular {
  margin-right: 20px;
  color: #03839e;
  font-weight: 700;
}

.features__subtitle {
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: 4px;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .features__subtitle {
    text-align: left;
  }
}

@media (min-width: 1020px) {
  .features__subtitle {
    text-align: center;
  }
}

@media (max-width: 534px) {
  .features__subtitle {
    text-align: center;
  }
}

.features__text {
  text-align: center;
  font-family: "Manrope", sans-serif;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .features__text {
    text-align: left;
  }
}

@media (min-width: 1020px) {
  .features__text {
    text-align: center;
  }
}

@media (max-width: 534px) {
  .features__text {
    text-align: center;
  }
}

.features__picture img {
  width: 100%;
}

.team__content {
  padding-top: 174px;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .team__content {
    padding-top: 121px;
  }
}

@media (max-width: 534px) {
  .team__content {
    padding-top: 110px;
  }
}

.team__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0.14em;
  text-align: left;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .team__title {
    padding-left: 34px;
  }
}

@media (min-width: 1020px) {
  .team__title {
    padding-left: 135px;
  }
}

@media (max-width: 534px) {
  .team__title {
    padding: 0 30px;
  }
}

.team__name {
  position: relative;
  line-height: 189px;
  color: transparent;
  -webkit-text-stroke: 1px #03839e;
  z-index: 10;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .team__name {
    padding-top: 193px;
    font-size: 232px;
    padding-left: 30px;
    letter-spacing: 33px;
  }
}

@media (min-width: 1020px) {
  .team__name {
    margin-left: 0;
    font-size: 288px;
    letter-spacing: 44px;
  }
}

@media (max-width: 534px) {
  .team__name {
    display: none;
  }
}

.team__name--1 {
  line-height: 187px;
}

@media (min-width: 1020px) {
  .team__name--1 {
    padding-left: 77px;
    padding-top: 86px;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .team__name--1 {
    margin-left: -124px;
    padding-top: 63px;
    padding-left: 80px;
    overflow: hidden;
  }
}

@media (min-width: 1020px) {
  .team__name--2 {
    display: flex;
    justify-content: end;
    padding-top: 17px;
    margin-right: -41px;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .team__name--2 {
    display: flex;
    justify-content: end;
    margin-right: -19px;
  }
}

.team__image {
  padding-top: 116px;
  z-index: 1;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .team__image {
    padding-top: 179px;
    padding-right: 55px;
    margin-left: -19px;
  }
}

@media (min-width: 1020px) {
  .team__image {
    padding-top: 117px;
    padding-left: 35px;
    padding-right: 16px;
  }
}

@media (max-width: 534px) {
  .team__image {
    padding-top: 20px;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .team__background {
    padding-top: 99px;
    padding-right: 122px;
  }
}

@media (min-width: 1020px) {
  .team__background {
    position: relative;
    padding-top: 88px;
    padding-right: 22px;
  }
}

@media (max-width: 534px) {
  .team__background {
    padding-top: 131px;
  }
}

.team__text {
  max-width: 333px;
  margin-bottom: 40px;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .team__text {
    padding-top: 231px;
    padding-left: 34px;
  }
}

@media (min-width: 1020px) {
  .team__text {
    margin-right: -20px;
    margin-bottom: 0;
    padding-top: 61px;
  }
}

@media (max-width: 534px) {
  .team__text {
    margin: 0 auto;
    margin-top: -407px;
    padding: 0 10%;
  }
}

.team__text-1 {
  margin-bottom: 20px;
}

@media (max-width: 534px) {
  .materials__content {
    padding-top: 110px;
  }
}

.materials__title {
  position: relative;
  width: 81vw;
  padding-left: 34px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 9px;
  color: #03839e;
  z-index: 10;
}

@media (min-width: 1020px) {
  .materials__title {
    display: none;
  }
}

@media (max-width: 534px) {
  .materials__title {
    letter-spacing: 9px;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .materials__title:before {
    position: absolute;
    content: url(../images/line1.svg) " potr pots";
    bottom: -145px;
    left: -32px;
    width: 70px;
    writing-mode: vertical-lr;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #828282;
    word-spacing: 3px;
  }

  .materials__title:after {
    position: absolute;
    content: url(../images/line1.svg) " potr pots";
    bottom: 59px;
    right: -103px;
    width: 70px;
    writing-mode: vertical-lr;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #828282;
    word-spacing: 3px;
  }
}

.materials__description {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: -50px;
}

@media (min-width: 1020px) {
  .materials__description {
    display: none;
  }
}

@media (max-width: 534px) {
  .materials__description {
    display: none;
  }
}

@media (max-width: 665px) {
  .materials__description {
    margin-top: 0;
  }
}

.materials__subtitle {
  width: 46vw;
  margin-bottom: 10px;
  padding-right: 23px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #4f4f4f;
}

.materials__text {
  width: 46vw;
  padding-right: 23px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4f4f4f;
}

.materials__text span {
  font-weight: 700;
}

.materials__background {
  display: none;
  justify-content: center;
  position: relative;
  margin-top: -78px;
  margin-bottom: -53px;
  z-index: 1;
}

@media (max-width: 534px) {
  .materials__background {
    display: flex;
  }
}

.materials img {
  display: flex;
  margin: 0 auto;
  object-fit: cover;
  align-content: center;
}

.size__content {
  padding-top: 100px;
}

.size__title {
  margin-bottom: 66px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.14em;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .size__title {
    margin-bottom: 30px;
    letter-spacing: 0.15em;
  }
}

@media (max-width: 534px) {
  .size__title {
    margin-bottom: 20px;
    letter-spacing: 0.15em;
  }
}

.size__intro {
  height: 257px;
  border-right: #d8d8d8 solid 1px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .size__intro {
    height: auto;
    margin-bottom: 30px;
    border: none;
  }
}

@media (max-width: 534px) {
  .size__intro {
    height: auto;
    margin-bottom: 30px;
    border: none;
  }
}

.size__figures {
  margin-bottom: 40px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

@media (max-width: 534px) {
  .size__figures {
    margin-bottom: 40px;
  }
}

.size__note {
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

@media (max-width: 534px) {
  .size__note {
    margin-top: 15px;
    margin-right: 12px;
  }
}

.size__note::before {
  position: absolute;
  content: "*";
  left: -10px;
}

.size__image {
  display: flex;
  justify-content: center;
}

@media (max-width: 534px) {
  .size__image {
    margin-bottom: 30px;
  }
}

.size__diameters {
  margin-right: 28px;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .size__diameters {
    margin-right: -28px;
  }
}

@media (max-width: 534px) {
  .size__diameters {
    margin-right: 20px;
  }
}

.size__diameters div:last-child {
  margin-bottom: 0;
}

.size__subtitle {
  letter-spacing: 2px;
}

.buy__content {
  padding-top: 105px;
}

.buy__image {
  display: flex;
  justify-content: end;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buy__image {
    display: none;
  }
}

@media (max-width: 534px) {
  .buy__image {
    display: none;
  }
}

.buy__subtitle {
  display: flex;
  position: relative;
  font-family: "Manrope", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0;
  text-align: left;
}

.buy__subtitle::before {
  position: absolute;
  content: url(../images/photos/buy-recangle.png);
  top: -5px;
  left: -17px;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buy__subtitle {
    margin-top: 0;
  }
}

@media (max-width: 534px) {
  .buy__subtitle {
    margin: 0;
    font-size: 32px;
  }
}

.buy__text {
  margin-right: -112px;
  color: #828282;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buy__text {
    margin-bottom: 30px;
    margin-right: 20px;
  }
}

@media (max-width: 534px) {
  .buy__text {
    margin-bottom: 40px;
    margin-right: 0;
  }
}

.buy__rectangle {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

@media (max-width: 534px) {
  .buy__rectangle {
    margin-right: 7px;
  }
}

.buy__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87%;
  height: 48px;
  cursor: pointer;
  border: solid 1px #03839e;
  background-color: #f8f8f8;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buy__button {
    width: 112%;
    margin-top: -6px;
  }

  .buy__button:after {
    position: absolute;
    content: url(../images/line1.svg) " potr pots features";
    bottom: -101px;
    right: -190px;
    width: 70px;
    height: 300px;
    writing-mode: vertical-lr;
    font-size: 12px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: #828282;
    word-spacing: 3px;
  }
}

@media (max-width: 534px) {
  .buy__button {
    width: 92%;
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: #ffe339;
    border: none;
  }
}

.buy__button:hover {
  color: #fff;
  background-color: #03839e;
}

.buy__arrow-hover {
  display: none;
}

.buy__button:hover .buy__arrow-default {
  display: none;
}

.buy__button:hover .buy__arrow-hover {
  display: inline;
}

.buy__legend {
  margin-right: 10px;
}

.buy__discount {
  margin-bottom: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #eb5757;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buy__discount {
    margin-top: -75px;
    margin-bottom: -5px;
    font-size: 24px;
  }
}

@media (max-width: 534px) {
  .buy__discount {
    margin: 0 0 10px;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.15em;
  }
}

.buy__offer {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #03839e;
  letter-spacing: 0.15em;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .buy__offer {
    margin-right: 91px;
    font-size: 18px;
  }
}

@media (max-width: 534px) {
  .buy__offer {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15em;
  }
}

.grid__buy div:nth-child(2) .buy__subtitle {
  margin-right: -88px;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .grid__buy div:nth-child(2) .buy__subtitle {
    margin: 0;
  }
}

@media (max-width: 534px) {
  .grid__buy div:nth-child(2) .buy__subtitle {
    margin: 0;
  }
}

.grid div:nth-child(2) .buy__rectangle svg {
  padding-bottom: 54px;
}

.footer__content {
  padding-top: 74px;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .footer__content {
    padding-top: 0;
  }
}

@media (max-width: 534px) {
  .footer__content {
    position: relative;
    padding: 0;
    margin-top: -63px;
    margin-bottom: 30px;
    z-index: 10;
  }
}

.footer__title {
  margin-bottom: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15em;
}

@media (max-width: 534px) {
  .footer__title {
    display: none;
  }
}

.footer__text {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .footer__text {
    margin-right: 3vw;
  }
}

@media (max-width: 534px) {
  .footer__text {
    display: none;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  color: #000;
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.15em;
  text-decoration: none;
}

.footer__logo:hover {
  color: #03839e;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .footer__logo {
    margin-top: -50px;
  }
}

@media (max-width: 534px) {
  .footer__logo {
    margin-top: 40px;
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: fit-content;
  margin-left: auto;
}

@media (max-width: 534px) {
  .footer__info {
    max-width: unset;
  }
}

.footer__about-us {
  margin-bottom: 10px;
  margin-left: 40px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15em;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .footer__about-us {
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 534px) {
  .footer__about-us {
    display: none;
  }
}

.footer__copyright {
  margin-left: 40px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .footer__copyright {
    margin: 0 auto;
  }
}

@media (max-width: 534px) {
  .footer__copyright {
    margin: 0 auto;
  }
}

.footer__twitter {
  margin-left: -30px;
  cursor: pointer;
}

.footer__twitter path:hover {
  fill: #03839e;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .footer__twitter svg {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 534px) {
  .footer__twitter svg {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .footer__twitter {
    margin-left: -5px;
  }
}

@media (max-width: 534px) {
  .footer__twitter {
    margin-left: 14px;
  }
}

.footer__instagram {
  margin-left: -30px;
}

.footer__instagram path:hover {
  fill: #03839e;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .footer__instagram svg {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 534px) {
  .footer__instagram svg {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .footer__instagram {
    display: flex;
    justify-content: end;
    margin-right: -27px;
  }
}

@media (max-width: 534px) {
  .footer__instagram {
    margin-left: 134px;
    margin-right: -25px;
  }
}

.footer__facebook {
  margin-left: -30px;
}

.footer__facebook path:hover {
  fill: #03839e;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .footer__facebook svg {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 534px) {
  .footer__facebook svg {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 535px) and (max-width: 1020px) {
  .footer__facebook {
    display: flex;
    justify-content: end;
    margin-right: -5px;
  }
}

@media (max-width: 534px) {
  .footer__facebook {
    margin-left: 101px;
  }
}

.contacts__content {
  position: relative;
  padding-top: 162px;
  padding-bottom: 110px;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .contacts__content {
    padding-top: 0;
  }
}

.contacts__background {
  position: absolute;
  width: 100%;
  height: 1140px;
  max-width: 1371px;
  background-image: url(../images/photos/contacts-background-desktop.png);
  background-repeat: no-repeat;
  background-position: 0 162px;
  background-size: 95% 48%;
  z-index: -1;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .contacts__background {
    background-image: url(../images/photos/contacts-background.png);
    background-size: 100% 49%;
    background-position: 0 0;
  }
}

@media (max-width: 534px) {
  .contacts__background {
    margin-right: -11%;
    background-image: url(../images/photos/contacts-bckground-mobile.png);
    background-size: 100% 85%;
  }
}

.contacts__background::after {
  position: absolute;
  content: url(../images/photos/contacts-stamp-desktop.png);
  right: -3px;
  top: 69px;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .contacts__background::after {
    right: 0;
    top: -83px;
    content: url(../images/photos/contacts-stamp-tablet.png);
  }
}

@media (max-width: 534px) {
  .contacts__background::after {
    right: 0;
    top: 89px;
    content: url(../images/photos/contacts-stamp-mobile.png);
  }
}

.contacts__title {
  padding-top: 38px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.15em;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .contacts__title {
    margin-right: -30px;
    padding-top: 17px;
  }
}

.contacts__text {
  margin-bottom: 30px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 534px) {
  .contacts__text {
    margin-bottom: 40px;
  }
}

.contacts__message-us {
  margin-bottom: 33px;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .contacts__message-us {
    margin-bottom: 28;
  }
}

@media (max-width: 534px) {
  .contacts__message-us {
    margin-bottom: 0;
  }
}

.contacts__message {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin-bottom: 40px;
  padding: 0;
  border: none;
  border-bottom: solid 1px #4f4f4f;
  background-color: transparent;
}

@media (max-width: 534px) {
  .contacts__message {
    margin-bottom: 23px;
  }
}

.contacts__message::placeholder {
  padding-top: 20px;
  padding-left: 5px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.contacts__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 48px;
  border: none;
  color: #fff;
  background-color: #03839e;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.contacts__button:hover {
  background-color: #03909e;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .contacts__button {
    width: 65%;
    margin-top: -6px;
  }
}

@media (max-width: 534px) {
  .contacts__button {
    width: 100%;
    margin-bottom: 56px;
    background-color: #03839e;
    border: none;
  }
}

.contacts__legend {
  margin-right: 20px;
}

.contacts__phone {
  margin-top: 80px;
  margin-bottom: 25px;
}

@media (max-width: 534px) {
  .contacts__phone {
    margin-top: 0;
  }
}

.contacts__email {
  margin-bottom: 25px;
}

.contacts__address {
  margin-bottom: 25px;
}

.contacts__our {
  margin-bottom: 5px;
  font-family: Manrope, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.contacts__details {
  margin-bottom: 19px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 534px) {
  .contacts__details {
    margin-bottom: 35px;
  }
}

input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding-top: 17px;
  padding-left: 5px;
  border: none;
  border-bottom: solid 1px #4f4f4f;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  background-color: transparent;
}

input::placeholder {
  text-align: bottom;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

input:focus {
  border-color: #03839e;
  outline: none;
}

textarea:focus {
  border-color: #03839e;
  outline: none;
}

input:valid {
  color: #03839e;
  border-color: #03839e;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  /* border: 1px solid green; */
  -webkit-text-fill-color: green;
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  transition: background-color 5000s ease-in-out 0s;
}

.swiper {
  width: 100%;
  height: auto;
  z-index: 10;
}

.swiper-pagination {
  height: 100%;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .swiper-pagination {
    height: 100%;
    visibility: hidden;
  }
}

.swiper span:nth-child(1) {
  position: absolute;
  opacity: 0;
  z-index: 10;
  visibility: visible;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .swiper span:nth-child(1) {
    bottom: 54%;
    left: 72%;
    width: 6vw;
    height: 6vw;
  }
}

@media (min-width: 1020px) {
  .swiper span:nth-child(1) {
    bottom: 29.5%;
    right: 18.5%;
    width: 4%;
    height: 5%;
  }
}

.swiper span:nth-child(2) {
  position: absolute;
  opacity: 0;
  z-index: 10;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .swiper span:nth-child(2) {
    visibility: visible;
    bottom: 22.5%;
    left: 54.2%;
    width: 6vw;
    height: 6vw;
  }
}

@media (min-width: 1020px) {
  .swiper span:nth-child(2) {
    bottom: 21%;
    right: 38%;
    width: 4%;
    height: 5%;
  }
}

.swiper span:nth-child(3) {
  position: absolute;
  opacity: 0;
  z-index: 10;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .swiper span:nth-child(3) {
    visibility: visible;
    bottom: 12%;
    left: 44%;
    width: 6vw;
    height: 6vw;
  }
}

@media (min-width: 1020px) {
  .swiper span:nth-child(3) {
    bottom: 8%;
    left: 47%;
    width: 4%;
    height: 5%;
  }
}

.swiper span:nth-child(4) {
  position: absolute;
  opacity: 0;
  z-index: 10;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .swiper span:nth-child(4) {
    visibility: visible;
    bottom: 39%;
    left: 30%;
    width: 6vw;
    height: 6vw;
  }
}

@media (min-width: 1020px) {
  .swiper span:nth-child(4) {
    bottom: 31.5%;
    left: 37.5%;
    width: 4%;
    height: 5%;
  }
}

.swiper span:nth-child(5) {
  position: absolute;
  opacity: 0;
  z-index: 10;
}

@media (min-width: 535px) and (max-width: 1020px) {
  .swiper span:nth-child(5) {
    visibility: visible;
    bottom: 16.5%;
    left: 10.5%;
    width: 6vw;
    height: 6vw;
  }
}

@media (min-width: 1020px) {
  .swiper span:nth-child(5) {
    bottom: 12%;
    left: 17%;
    width: 4%;
    height: 5%;
  }
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-slide picture {
  width: 100%;
}



/*# sourceMappingURL=main.css.map */
