h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.Navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 31px 135px 0 135px;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

@media (max-width: 996px) {
  .Navigation {
    margin: 29px 34px 0 34px;
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .Navigation {
    margin: 29px 34px 0 34px;
  }
}

@media (max-width: 425px) {
  .Navigation {
    margin: 15px 30px 0 30px;
  }
}

.Navigation__title {
  font-family: "Bebas Neue", cursive;
  color: #333333;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 36px;
}

.Navigation__Link-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
          column-gap: 60px;
}

@media (max-width: 768px) and (min-width: 425px) {
  .Navigation__Link-con {
    display: none;
  }
}

@media (max-width: 425px) {
  .Navigation__Link-con {
    display: none;
  }
}

.Navigation__Link {
  color: #4f4f4f;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.Navigation__bar {
  display: none;
}

@media (max-width: 768px) and (min-width: 425px) {
  .Navigation__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 425px) {
  .Navigation__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .Navigation__bag {
    display: none;
  }
}

@media (max-width: 425px) {
  .Navigation__bag {
    display: none;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.Menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  height: 100%;
  background: #03839e;
  padding-top: 138px;
}

@media (max-width: 425px) {
  .Menu {
    padding-left: 81px;
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .Menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 425px) {
  .Menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.Menu:target {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 768px) and (min-width: 425px) {
  .Menu__con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 15px;
  }
}

@media (max-width: 425px) {
  .Menu__con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }
}

.Menu__Link {
  color: #f8f8f8;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.Menu__upsidedown {
  display: -ms-grid;
  display: grid;
  row-gap: 18px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 90px;
  margin-right: 30px;
}

.Menu__turn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #f8f8f8;
}

.Menu__turn::before {
  content: "";
  position: relative;
  display: inline-block;
  bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1px;
  height: 44px;
  background: #f8f8f8;
}

.Menu__close {
  width: 12px;
  height: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.Porteco {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (70px)[12];
      grid-template-columns: repeat(12, 70px);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin: 77px 135px 0 135px;
  background-color: blue;
  height: 500px;
}

.Porteco__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  grid-column: 1;
}

.Porteco__con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: red;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
}

.Porteco__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: blueviolet;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  margin-left: 70px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

body {
  background: #eee;
}

a {
  text-decoration: none;
}

.bg-yellow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../images/bg-yellow.png) no-repeat;
}
/*# sourceMappingURL=main.css.map */