.main-screen {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1500px;
  margin: auto;
  padding: 140px $bodySidePadding;
  @media (max-width: $screenLarge) {
    justify-content: space-between;
    padding: 120px $bodySidePaddingLp 60px;
  }
  @media (max-width: $screenTablet) {
    flex-direction: column-reverse;
    align-items: center;
  }
  @media (max-width: $screenMob) {
    align-items: flex-start;
    padding: 60px 0 100px;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    margin-right: 7vw;
    @media (max-width: $screenDesktop) {
      margin-right: 10px;
    }
    @media (max-width: $screenMob) {
      padding: 0 $bodySidePaddingMb;
    }
  }
  &__heading {
    color: $colorTurq;
    font-weight: 700;
    @media (max-width: $screenDesktop) {
      font-size: 50px;
    }
    @media (max-width: $screenMob) {
      font-size: 36px;
    }
  }
  &__promotion {
    align-self: flex-end;
    &--bold {
      display: block;
      font-size: 26px;
      font-weight: 700;
    }
    @media (max-width: $screenMob) {
      align-self: flex-start;
      margin-top: 20px;
    }
  }
  &__buy-button {
    align-self: flex-end;
    margin: 50px 5vw 0 0;
    @media (max-width: $screenTablet) {
      align-self: flex-start;
    }
  }

  &__photo {
    display: block;
    max-height: 35vw;
    width: 35vw;
    object-fit: cover;
    @media (max-width: $screenDesktop) {
      height: 40vw;
      width: 40vw;
      max-height: 100vw;
    }
    @media (max-width: $screenTablet) {
      width: 365px;
      height: 365px;
      margin-bottom: 30px;
    }
    @media (max-width: $screenMob) {
      width: 100vw;
      height: 100vw;
      margin-bottom: 20px;
    }
  }

  &__go-bottom {
    position: absolute;
    bottom: 0;
    left: $bodySidePadding;
    display: block;
    color: $colorTurq;
    transform-origin: bottom left;
    transform: rotate(90deg) translateX(-100%);
    transition-duration: $transDuration;
    &:hover {
      bottom: -10px;
    }
    @media (max-width: $screenLarge) {
      left: $bodySidePaddingLp;
      transform: rotate(90deg) translateX(-120%);
    }
    @media (max-width: $screenDesktop) {
      left: auto;
      right: $bodySidePaddingLp;
      transform: rotate(90deg) translateY(-165px) translateX(-120%);
    }
    @media (max-width: $screenMob) {
      display: none;
    }

    &:after {
      content: "";
      display: inline-block;
      height: 8px;
      width: 26px;
      margin-left: 10px;
      background: url(../images/main-screen/arrow.svg) center no-repeat;
    }
  }
}
