@import "utils";
@import "./blocks.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: $color-text-white;
  overflow-x: hidden;
}

.sample-slider {
  width: 95%;
}

.sample-slider img {
  width: 100%;
}

// .swiper {
// }

// .swiper-wrapper {
// }
// .swiper-slide {
// }
// .swiper-pagination {
// }
