.materials {
  padding-top: 50px;
  min-height: 1300px;
  background: url("../images/materials-bg.jpg") bottom center no-repeat;
  background-attachment: scroll;

  &__title {
    margin-bottom: 14px;
    @include font(139px, 100%, 0.12em);
    font-family: "Bebas Neue Bold";
    color: $main-blue;
  }

  &__info {
    @include flex($x: flex-end);
  }

  &__text {
    position: relative;
    top: -125px;
    max-width: 470px;
  }

  &__info-title {
    @include font(20px);
    color: $text-dark-grey1;
  }

  &__paragraph {
    @extend .content-text;
  }
}
