.menu {
  overflow: auto;
  z-index: 100;
  box-sizing: border-box;
  height: 100vh;
  background-color: $menu-blue-color;
  font-weight: 400;

  &__top {
    margin-top: 138px;
    margin-left: 81px;
    margin-bottom: 90px;
  }

  &__close {
    display: inline-flex;
    transform: rotate(-90deg);
    transform-origin: 6.5px 6px;
    margin-left: 183px;
  }
}

.menu__close__title {
  color: $white-menu-leter-color;
  font-size: 12px;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 18px;

  @include hover(transform, scale(1.5));

}

.menu__border {
  margin-bottom: 18px;
}

.menu__border__line {
  display: inline-flex;
  border-right: 1px solid $white-menu-leter-color;
  margin-left: 192px;
  height: 44px;
}

.close__button {
  background-image: url(../images/logo/icon-close.svg);
  background-repeat: no-repeat;
  display: flex;
  height: 12px;
  width: 12.3px;
  margin-left: 186px;
  margin-bottom: 43px;

  @include hover(transform, scale(1.5));
}

.menu__sign {
  position: absolute;
  margin-left: 142px;
  margin-top: 138px;
}

.menu__sign__zero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-menu-leter-color;
  font-size: 9.17px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  letter-spacing: 1.42px;
  text-decoration: none;
  background-color: $red-buttom-circle;
  border-radius: 50%;
  height: 14px;
  width: 14px;
}
