.message-us-section {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  position: relative;

  @include onDesktop {
    justify-content: space-around;
    margin-bottom: 54px;
  }

  .bg-rectangle {
    background: url(/images/RectangleMini.svg);
    position: absolute;
    z-index: -1;
    margin-top: 80px;
    background-repeat: no-repeat;
    width: 100%;

    background-size: auto 1003px;

    @include onMobile {
      height: 1003px;
    }

    @include onTablet {
      height: 530px;
      background-size: auto 530px;
      background-image: url(../images/Rectangle2.svg);
      margin-left: 0;
    }

    @include onDesktop {
      height: 559px;
      background-size: 1303px auto ;
    }
  }

  .stamp-img {
    position: absolute;
    z-index: -1;
    max-width: 1325px;
    width: 100%;

    .img-box {
      display: flex;
      justify-content: flex-end;
      overflow-x: hidden;

      .img {
        transform: translate(30%);

        @include onDesktop {
          transform: translate(0);
        }
      }
    }
  }

  .questions-info-box {
    padding-top: 120px;

    @include onMobile {
      padding-left: 30px;
    }

    @include onTablet {
      display: flex;
      padding-left: 35px;
    }

    @include onDesktop {
      width: 100%;
      padding-left: 0;
      max-width: 1170px;
      gap: 15px;
    }

    .questions-container {
      margin-right: 30px;

      @include onTablet {
        max-width: 371px;
        margin-right: 142px;
      }

      @include onDesktop {
        margin-right: 230px;
      }

      .title {
        font-size: 36px;
        line-height: 54px;
        letter-spacing: 0.15em;
      }

      .here-few {
        padding-bottom: 40px;
      }

      .message-us {
        font-size: 24px;
        line-height: 36px;
        text-align: left;
        padding-bottom: 25px;
        box-sizing: border-box;

        .textarea {
          padding: 4px 4px 4px 2px;
        }

        .form-input {
          font-family: "Manrope", sans-serif;
          font-size: 16px;
          line-height: 150%;
          color: #4f4f4f;
          width: 100%;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid rgba(0,0,0,0.3);
          resize: none;
          margin-bottom: 25px;
        }

        .form-input:hover,
        .form-input:focus,
        .form-input:active {
          outline: none;
          border-bottom: 1px solid rgba(117, 93, 182, 0.3);
        }

        .form-button {
          position: relative;
          margin-bottom: 56px;
          font-family: "Manrope", sans-serif;
          font-size: 14px;
          line-height: 48px;
          text-transform: uppercase;
          color: #fff;
          border: 1px solid transparent;
          background-color: #03839e;
          cursor: pointer;
          transition: all 0.5s;
        }

        .button {
          display: block;
          line-height: 48px;
          width: 260px;
          text-align: center;
          text-transform: uppercase;
          transition: background-color 0.5s;
        }

        .form-button:after {
          content: "";
          position: relative;
          top: 1px;
          display: inline-block;
          width: 25px;
          height: 10px;
          margin-left: 20px;
          background-image: url(/images/Arrow.svg);
          background-repeat: no-repeat;
          background-size: contain;
        }

        .form-button:hover {
          background-color: rgba(3, 131, 158, 0.5);
        }
      }
    }

    .info-container {
      padding-bottom: 20px;

      @include onTablet {
        padding-top: 88px;
        max-width: 270px;
      }

      .contact {
        margin-bottom: 34px;

        .contact-link {
          line-height: 150%;
          color: #000;
          border-bottom: 1px solid transparent;
          transition: all 0.5s;
          text-decoration: none;
        }

        .contact-type {
          line-height: 150%;
          padding-bottom: 5px;
          font-size: 24px;
          color: rgba(0,0,0,0.4);
        }
      }
    }
  }
}
