.nav-bar {  
  display: flex;    
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px 0;

  &__logo {      
    width: 147.25px; 
    height: 25.92px;
    background: url(../images/logo/potrpots.svg) no-repeat;    
    text-decoration: none;
  }

  &__burger-menu {
    width: 32px;
    height: 32px;
    background: url(../images/icons/menu_icon.svg);   
    overflow: hidden; 
  }
}