.nav {
  padding-right: 10px;

  &__list {
    @include flex(space-between, center);
  }

  &__item {
    margin-left: 64px;

    &:first-of-type {
      margin-left: 0;
    }

    &--basket {
      margin-left: 262px;
    }

    @include for-1024 {
      margin-left: 35px;

      &--basket {
        margin-left: 100px;
      }
    }
  }

  &__link {
    @include flex(center, center);
    height: 36px;
    @extend .content-text;
  }

  &__link-img {
    @include object-fit(contain, 30px, 30px)
  }
}
