@font-face {
  font-family: Proxima Nova;
  src: url(../fonts/ProximaNova-Regular.ttf);
}

@font-face {
  font-family: Proxima Nova;
  font-weight: 600;
  src: url(../fonts/ProximaNova-Semibold.ttf);
}

@font-face {
  font-family: Bebas Neue;
  font-weight: bold;
  src: url(../fonts/BebasNeueBold.ttf);
}

body,
h1,
h2 {
  font-family: "Bebas Neue", cursive;
  margin: 0;
}

.transparent-text {
  color: transparent;
}
