* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: Bebas Neue, sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

p {
  @extend %p;
}

html {
  font-family: Roboto, sans-serif;
}
