.photo-card {
  width: $photocardWidth;
  padding: $photocardSidePadding $photocardSidePadding 28px;
  background-color: $colorLight;

  &__image {
    display: block;
    height: $photocardWidth - $photocardSidePadding * 2;
    width: $photocardWidth - $photocardSidePadding * 2;
    object-fit: cover;
    transition-duration: $transDuration * 3;
  }

  &__description {
    margin: 7px 0;
    font-family: $fontProxima;
    font-size: 11px;
    font-weight: 130%;
    color: $decorGrayColor;
  }
}
