.popup {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition-duration: $transitionDuration;

  &__container {
    position: relative;
    width: 830px;
    padding: 50px 130px 90px;
    background-color: $colorLight;
    @media (max-width: $screenDesktop) {
      width: calc(100vw - 2 * #{$bodySidePaddingLp});
      padding: 50px $bodySidePaddingLp 90px;
    }
    @media (max-width: $screenMob) {
      width: 95vw;
    }
  }

  &__logo {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    margin-bottom: 40px;
  }
  &__logos-circle {
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    width: 80px;
    background-color: $colorYellow;
    border-radius: 50%;
  }
  &__logos-text {
    position: relative;
    z-index: 3;
    margin-left: 40px;
    transform-origin: top left;
    transition-duration: $transitionDuration;
  }

  &__link,
  &__link:visited {
    color: $colorTurq;
    transition-duration: $transitionDuration/2;
    &:hover {
      color: $colorRed;
    }
  }

  &__closer {
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 30px;
    color: $colorLight;
    background-color: $colorDark;
    border-radius: 50%;
    transition-duration: $transitionDuration;
    transform: rotate(45deg);
    cursor: pointer;
    user-select: none;
    &:hover {
      transform: rotate(135deg);
    }
    @media (max-width: $screenMob) {
      top: 3vw;
      right: 3vw;
    }
  }
}

.popup-closer {
  display: none;
}

.popup-closer:checked ~ .popup {
  z-index: 2;
  opacity: 1;
}
