.potr-team {
  position: relative;
  max-width: $content-width;
  margin-bottom: 87px;
  z-index: 1;

  @media (max-width: 1270px) {
    width: 100%;
    padding: 0 50px;
  }

  @media (max-width: 992px) {
    width: 100%;
    padding: 0 40px;
  }
  @media (max-width: 768px) {
    margin: 100px 0 250px;
    text-align: center;
  }

  @media (max-width: 576px) {
    width: 100%;
    padding: 0 30px;
  }

  &__behaind {
    position: absolute;
    top: 280px;
    left: 0;
    z-index: -1;
    width: 40vw;
    height: 100%;
    background-image: url("../img/rectangle2.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 992px) {
      width: 100%;
    }
    @media (max-width: 768px) {
      top: 350px;
      width: 90%;
    }
  }

  &__title {
    font-family: $bebasB;
    font-size: 58px;
    line-height: 58px;
    letter-spacing: 0.15em;
    color: $dark-gray-color;
    @media (max-width: 768px) {
      padding-bottom: 50px;
    }
    @media (max-width: 650px) {
      font-size: 48px;
    }
  }

  &__martin {
    position: relative;
    display: inline;
    left: -60px;
    top: 155px;
    font-family: $bebasB;
    font-size: 288px;
    line-height: 288px;
    letter-spacing: 0.15em;
    color: transparent;
    -webkit-text-stroke: 1px $main-blue-color;
    @media (max-width: 1580px) {
      width: 100%;
      left: 0;
    }

    @media (max-width: 1139px) {
      font-size: 219px;
      line-height: 220px;
      top: 70px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 336px 1fr;
    gap: 57px;
    @media (max-width: 842px) {
      gap: 0;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      margin: 0 auto;
    }
  }

  &__desk {
    white-space: pre-line;
    font-size: 16px;
    line-height: 24px;
    color: $middle-gray-color;
    font-family: $proximaR;
    align-self: center;

    @media (max-width: 768px) {
      grid-row-start: 2;
      white-space: normal;
      // white-space: pre-line;
    }
  }

  &__text {
    @media (max-width: 768px) {
      grid-row-start: 2;
      padding-top: 40px;
      text-align: start;
      // white-space: normal;
      // white-space: pre-line;
    }
  }

  &__desk2 {
    @media (max-width: 768px) {
      padding-top: 40px;
      // white-space: normal;
      // white-space: pre-line;
    }
  }

  &__andy {
    width: 100%;
    position: relative;
    display: inline;
    left: 705px;
    bottom: 70px;
    font-family: $bebasB;
    font-size: 288px;
    line-height: 288px;
    letter-spacing: 0.15em;
    color: transparent;
    -webkit-text-stroke: 1px $main-blue-color;

    @media (max-width: 1580px) {
      width: 100%;
      left: 400px;
    }
    @media (max-width: 1139px) {
      font-size: 219px;
      line-height: 220px;
    }
    @media (max-width: 1139px) {
      left: 245px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    min-width: 340px;
    min-height: 255px;
  }
  @media (max-width: 768px) {
    width: 100%;
    object-fit: cover;
  }
}
