.potr-team__title__container {
  @include content-padding-inline;
  @include page-grid;
}

.potr-team__title {
  color: $section-gray-color;
  font-size: 58px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 8.99px;
  text-transform: uppercase;
  grid-column: 1 / -1;
  margin-bottom: 25px;

  @include on-tablet {
    margin-bottom: 100px;
  }

  @include on-desktop {
    margin-bottom: 115px;
  }
}

.potr-team__photo-phone {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;

  @include on-tablet {
    display: none;
  }
}


.potr-team__rectangle__img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 293px;
  z-index: -1;
  margin-top: 100px;

  @include on-tablet {
    width: 254px;
    height: 233px;
    margin-top: 0;
  }

  @include on-desktop {
    width: 435px;
    height: 311px;
    margin-top: 0;
  }
}

.potr-team__container {
  @include content-padding-inline;
  @include page-grid;
}

.potr-team__tablet {
  @include on-tablet {
    grid-column: 4 / -1;
  }

  @include on-desktop {
    grid-column: 5 / 12;
  }
}

.potr-team__tablet-photo {
  display: none;

  @include on-tablet {
    margin-top: 77px;
    display: flex;
    width: 340px;
    height: 255px;
  }

  @include on-desktop {
    margin-top: 28px;
    width: 677px;
    height: 508px;
    margin-bottom: 226px;
    transform: translateX(-7px);
  }
}

.potr-team__description {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 1 / 4;
  }

  @include on-desktop {
    grid-column: 1 / 5;
  }
}

.potr-team__description__phrase {
  color: $description-gray-color;
  font-size: 16px;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 168px;

  @include on-tablet {
    margin-top: 130px;
    width: 313px;
    margin-bottom: 113px;
  }

  @include on-desktop {
    margin-top: 258px;
    width: 336px;
    height: 264px;
    margin-bottom: 0;
  }
}

.martin {
  display: none;

  @include on-tablet {
    display: flex;
    position: absolute;
    z-index: 1;
    transform: translate(-44px, -83px);
  }

  @include on-desktop {
    transform: translate(44px, -88px);
  }
}

.martin__title {
  font-size: 231.88px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing:  35.94px;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-color: $ingredient-color;

  @include on-desktop {
    font-size: 288px;
    letter-spacing: 44.64px;
  }
}

.thin__martin {
  display: inline-block;
  -webkit-text-stroke-width: 1px;
}

.andy {
  display: none;

  @include on-tablet {
    font-size: 219.59px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    transform: translateY(-223px);
    right: 0;
  }

  @include on-desktop {
    transform: translateY(-295px);
    right: 0;
  }
}

.andy__title {
  font-size: 219.59px;
  height: 219.59px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing:  34.04px;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-color: $ingredient-color;

  @include on-desktop {
    font-size: 288px;
    letter-spacing: 44.64px;
  }
}

.thin__andy {
  display: inline-block;
  height: 219.59px;
  -webkit-text-stroke-width: 1px;

  @include on-desktop {
    height: 288px;
    width: 598px;
  }
}
