body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  display: inline-flex;
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  @include text(inherit, inherit);
  color: inherit;
  background-color: transparent;

  &::placeholder {
    color: inherit;
  }
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
