input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #ffec7a inset;
  -webkit-text-fill-color: $blue-title-color;
}

.page {
  scroll-behavior: smooth;

  // &:has(.page__menu:target) {
  //   overflow: hidden;
  // }

  &__body {
    min-width: 320px;
    margin: 0;

    display: grid;

    font-family: "Bebas Neue", sans-serif;

    background: $gray-light;

    @include onTablet {
      background-image: url(/images/main/bg-potr-this-tab.png);
      background-position-x: -154px;
      background-repeat: no-repeat;
      background-size: 100% 525px;
    }

    @include onDescktop {
      background-image: url(/images/main/bg-potr-this-desctop.png);
      background-position-x: -405px;
      background-repeat: no-repeat;
      background-size: 100% 565px;
    }
  }

  &__body * {
    margin: 0;
    padding: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;

    transition: transform 0.3s;
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}

.main {
  display: grid;
  row-gap: 110px;

  @include onTablet {
    display: block;
  }

  @include onDescktop {
    display: grid;
    row-gap: 150px;
  }
}

p {
  font-family: "Manrope", sans-serif;
}
