#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 2;

  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background-color: rgb(255, 255, 255);
  color: $black-color;
  border: 0;
  text-decoration: none;
  border-radius: 100%;
  opacity: 0.6;

  cursor: pointer;
  transition: all 0.6s ease-out;

  &:hover {
    background-color: $yellow-color;
    opacity: 1;
    color: $black-color;
  }
}

.show {
  opacity: 1;
  z-index: 10;
}
