.section {
  padding: 80px 100px;
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;

  @media (max-width: $screenLarge) {
    padding: 80px;
  }

  @media (max-width: $screenTablet) {
    width: 100%;
    padding: 30px;
  }

  @media (max-width: $screenSmallMobile) {
    padding: 30px 20px;
  }
}
