.sub-text {
  font-family: $fontProxima;
  line-height: 150%;

  &--1-desc {
    font-size: $subText1DescFontSize;
    font-weight: 600;
  }

  &--1-mob {
    font-size: $subText1MobFontSize;
    font-weight: 600;
  }

  &--2 {
    font-size: $subText2FontSize;
  }

  &--3 {
    font-size: $subText3FontSize;
  }

  &--4 {
    font-size: $subText4FontSize;
    font-weight: 600;
  }

  &--5 {
    font-size: $subText5FontSize;
  }
}
