.swiper {
  width: 100%;
  height: auto;

  z-index: 10;

  &-pagination {

    height: 100%;

    @include onTablet {
      height: 100%;
      visibility: hidden;
    }
  }

  & span:nth-child(1) {
    position: absolute;
    opacity: 0;
    z-index: 10;
    visibility: visible;

    @include onTablet {
      bottom: 54%;
      left: 72%;

      width: 6vw;
      height: 6vw;
    }

    @include onDesktop {
      bottom: 29.5%;
      right: 18.5%;

      width: 4%;
      height: 5%;
    }
  }

  & span:nth-child(2) {
    position: absolute;
    opacity: 0;
    z-index: 10;

    @include onTablet {
      visibility: visible;
      bottom: 22.5%;
      left: 54.2%;
      width: 6vw;
      height: 6vw;
    }

    @include onDesktop {
      bottom: 21%;
      right: 38%;

      width: 4%;
      height: 5%;
    }
  }

  & span:nth-child(3) {
    position: absolute;
    opacity: 0;
    z-index: 10;

    @include onTablet {
      visibility: visible;
      bottom: 12%;
      left: 44%;
      width: 6vw;
      height: 6vw;
    }

    @include onDesktop {
      bottom: 8%;
      left: 47%;

      width: 4%;
      height: 5%;
    }
  }

  & span:nth-child(4) {
    position: absolute;
    opacity: 0;
    z-index: 10;

    @include onTablet {
      visibility: visible;
      bottom: 39%;
      left: 30%;
      width: 6vw;
      height: 6vw;
    }

    @include onDesktop {
      bottom: 31.5%;
      left: 37.5%;

      width: 4%;
      height: 5%;
    }
  }

  & span:nth-child(5) {
    position: absolute;
    opacity: 0;
    z-index: 10;

    @include onTablet {
      visibility: visible;
      bottom: 16.5%;
      left: 10.5%;
      width: 6vw;
      height: 6vw;
    }

    @include onDesktop {
      bottom: 12%;
      left: 17%;

      width: 4%;
      height: 5%;
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
  }
}

.swiper-slide picture {
  width: 100%;
}
