.top-bar {
  @include contentPaddingInline;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;

  @include onTablet {
    padding-top: 29px;
  }

  @include onDesktop {
    padding-top: 20px;
  }
}
