.top-bar {
  @include contentPadingInline;
  display: flex;
  padding-block: 15px 10px;
  align-items: flex-start;
  justify-content: space-between;

  @include onTablet {
    padding-block: 29px 49px;
  }

  @include onDesktop {
    align-items: center;
    padding-block: 20px 76px;
  }

  &__logo {
    display: flex;
  }

  &__img {
    width: 134px;
    height: 43px;
  }
}
