.outline {
  color: #03839e00;
  -webkit-text-stroke: 1px #03839e;
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  margin-block-start: 0;
  margin-block-end: 0;
}
