$width: 1440px;
$bebasB: "Bebas Neue Bold";
$proximaR: "Proxima Nova Regular";
$proximaB: "Proxima Nova Bold";
$proximaS: "Proxima Nova Semibold";
$main-blue-color: #03839e;
$middle-gray-color: #4f4f4f;
$light-gray-color: #828282;
$dark-gray-color: #333;
$middle-black-color: #121212;
$materials: &;
$main-yellow: #ffec7a;
