$WidthForSmallView: 260px;
$WidthForMiddleView: 706px;
$WidthForMaxView: 1218px;
$HoverShadow: 0 3px 2px rgba(0, 0, 0, 0.15);

$GreyLight: #f8f8f8;
$TurquoiseColor: #03839e;
$Black: #333;
$GeneralBlack: #000;
$Grey: #4f4f4f;
$MiddleGrey: #828282;
$Yellow: #ffe339;
$MainRed: #eb5757;

$BebasRegular: "Bebas Neue Regular", cursive;
$BebasBold: "Bebas Neue Bold", cursive;
$ProximaBold: "Proxima Nova Bold", cursive;
$ProximaSemibold: "Proxima Nova Semibold", cursive;
$ProximaRegular: "Proxima Nova Regular", cursive;
