.whom__container {
  padding: 150px 135px;
  position: relative;
  @media (min-width: 320px) and (max-width: 767px) {
    padding: 102px 0 0 30px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    padding: 55px 62px 130px;
    position: relative;
  }
  @media (min-width: 1280px) {
    padding: 75px 62px 130px;
  }
}

.whom__rotated_text {
  font-family: Bebas Neue, sans-serif;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 0.22em;

  /* Gray 3 */
  color: #828282;

  transform: rotate(-90deg);
  position: absolute;
  left: 20px;
  &::before {
    content: "";
    width: 65px;
    height: 1px;
    background: #828282;
    margin-right: 10px;
  }
  @media (min-width: 320px) and (max-width: 767px) {
    transform: rotate(90deg);
    position: absolute;
    width: 150px;
    margin-left: 65%;
    top: 65%;
  }

  @media (min-width: 768px) and (max-width: 1440px) {
    transform: rotate(90deg);
    position: absolute;
    width: 150px;
    margin-left: 85%;
    top: 0;
  }
  @media (min-width: 1280px) and (max-width: 2560px) {
    transform: rotate(90deg);
    position: absolute;
    width: 150px;
    left: 1%;
  }
}

.whom__title {
  font-family: Bebas Neue, sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: bold;

  /* identical to box height, or 54px */
  letter-spacing: 0.15em;
  text-transform: uppercase;

  /* Gray 1 */
  color: #333;
  padding-bottom: 34px;
  @media (min-width: 320px) and (max-width: 767px) {
    padding-bottom: 130px;
    margin: 0 auto;
  }
}

.whom__card {
  display: flex;
  flex-direction: row;
  @media (min-width: 767px) and (max-width: 1279px) {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
}

.whom__card2 {
  padding-left: 100px;
  @media (min-width: 320px) and (max-width: 767px) {
    padding-left: 0;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    flex-direction: row;
  }
}

.whom__card3 {
  padding-left: 100px;
  @media (min-width: 320px) and (max-width: 767px) {
    padding-left: 0;
    padding-top: 150px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-top: 111px;
  }
}

.whom__card_image1 {
  @media (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    width: 284px;
  }
}

.whom__card_image2 {
  display: flex;
  @media (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    order: 2;
  }
}

.whom__card_image3 {
  display: flex;
  @media (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    width: 284px;
  }
}

.whom__card_info_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 320px) and (max-width: 767px) {
    width: 80vw;
    margin: 0 auto;
    align-items: center;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    width: 278px;
  }
}

.whom__star {
  margin-left: 119px;
  align-items: center;
  justify-content: center;
  display: flex;
  @media (min-width: 320px) and (max-width: 767px) {
    margin: 0;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    margin-left: 55px;
  }
}

.whom__star_text2 {
  margin-top: 39px;
  display: flex;
  flex-direction: row;
  position: relative;
  @media (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    justify-content: end;
    margin-right: 57px;
  }
}

.whom__star2 {
  margin-left: -36px;
}

.star__text,
.star__text2 {
  margin-left: 30px;
  font-family: Proxima Nova, sans-serif;
  font-size: 16px;
  line-height: 150%;

  /* identical to box height, or 24px */

  /* Gray 1 */
  color: #333;
  @media (min-width: 768px) and (max-width: 1279px) {
    margin-left: 10px;
  }
}

.whom__star2,
.whom__star3 {
  font-family: Proxima Nova, sans-serif;
  font-size: 16px;
  line-height: 150%;

  /* identical to box height, or 24px */

  /* Gray 1 */
  color: #333;
}

.whom__card_title {
  font-family: Bebas Neue, sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: bold;

  /* or 54px */
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #000;
  margin-left: 159px;
  display: flex;
  flex-direction: row;
  @media (min-width: 320px) and (max-width: 767px) {
    margin-left: 0;
    width: 260px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    margin-left: 76px;
    width: 278px;
  }
}

.whom__card_title_number3 {
  font-family: Bebas Neue, sans-serif;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.15em;

  color: #000;
  font-weight: bold;
  position: absolute;
  top: 100px;
  @media (min-width: 320px) and (max-width: 767px) {
    top: -100px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    top: 23px;
  }
}

.whom__card_info_container3 {
  display: flex;
  flex-direction: column;
  position: relative;
  @media (min-width: 768px) and (max-width: 1279px) {
    margin-left: 20px;
  }
  @media (min-width: 1280px) {
    margin-top: 30px;
  }
}

.whom__card_title_number {
  position: absolute;
  left: 710px;
  @media (min-width: 320px) and (max-width: 767px) {
    top: 180px;
    left: 35%;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    left: 52%;
  }
}

.whom__card_title2,
.whom__card_title3 {
  font-family: Bebas Neue, sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: bold;

  /* or 54px */
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #000;
  width: 400px;
  padding-top: 39px;
  @media (min-width: 320px) and (max-width: 767px) {
    margin: 0;
    width: 260px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    width: 300px;
  }
}

.title3__margin {
  margin-left: 67px;
  padding-top: 0;
  margin-top: 15px;
  @media (min-width: 320px) and (max-width: 767px) {
    margin-left: 0;
    width: 260px;
    margin-top: 0;
  }
}

.whom__card_info {
  font-family: Proxima Nova, sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #4f4f4f;
  margin-left: 159px;
  margin-top: 14px;
  width: 370px;
  @media (min-width: 320px) and (max-width: 767px) {
    margin: 0;
    width: 260px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    margin-left: 76px;
    width: 278px;
  }
}

.whom__card_info2,
.whom__card_info3 {
  font-family: Proxima Nova, sans-serif;
  font-size: 16px;
  line-height: 150%;

  /* or 24px */

  /* Gray 2 */
  color: #4f4f4f;
  margin-top: 14px;
  width: 300px;
  @media (min-width: 320px) and (max-width: 767px) {
    width: 260px;
  }
}

.info3__margin {
  margin-left: 67px;
  @media (min-width: 320px) and (max-width: 767px) {
    margin-left: 0;
    width: 260px;
  }
}

.whom__cards {
  @media (min-width: 320px) and (max-width: 767px) {
    margin: 0 auto;
  }
}

.whom__cards_bottom {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    flex-direction: column;
  }
}

.whom__star_text {
  display: flex;
  flex-direction: row;
  @media (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
}

.whom__star_text3 {
  display: flex;
  flex-direction: row;
  height: 10px;
  position: relative;
  left: 50px;
  width: 120px;
  @media (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
}
