@mixin onTablets {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin section-BigText {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

@mixin section-1Text {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
}

@mixin section-2Text {
  font-size: 24px;
  line-height: 150%;
}

@mixin section-3Text {
  font-size: 16px;
  line-height: 150%;
}

@mixin section-4Text {
  font-size: 14px;
  line-height: 150%;
}

@mixin section-5Text {
  font-size: 12px;
  line-height: 150%;
}
