html {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 400;
  scroll-behavior: smooth;
}

.big-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 58px;
  line-height: 70px;
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;
}

h4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;
}
