html {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 400;
  
  scroll-behavior: smooth;
}

body {
  background-color: $grey-light;
}

span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: $turquoise;
}

.big-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 58px;
  line-height: 70px;
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;
}

h4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $yellow-light;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 0 0 1000px $yellow-light inset;
}
