@keyframes headerSlideLeft-t {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes headerSlideLeft-d {
  0% {
    left: 100%;
  }
  100% {
    left: 10%;
  }
}

@keyframes headerSlideRight {
  0% {
    right: 100%;
  }
  100% {
    right: $paddingTablet;
  }
}

@keyframes headerSlideBottom-t {
  0% {
    top: 0;
  }
  100% {
    top: 39%;
  }
}

@keyframes headerSlideBottom-d {
  0% {
    top: 0;
  }
  100% {
    top: 45%;
  }
}
