@mixin button-primary {
  display: flex;
  height: 48px;
  align-items: center;
  flex-shrink: 0;
  background-color: $turquoise;
  color: $white;
  border: 0;
  padding-left: 70px;
  background-image: url('././icons/arrow-white.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 161px;

  @media (max-width: 767px) {
    width: 260px;
  }

  @media (min-width: 768px) {
    width: 238px;
  }
}

@mixin button-primary2 {
  display: flex;
  height: 48px;
  box-sizing: border-box;
  padding-left: 70px;
  align-items: center;
  flex-shrink: 0;
  background-color: $yellow;
  color: $primary;
  border: 1px solid $yellow;
  justify-content: flex-start;
  background-image: url('././icons/arrow-black.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 161px;

  @media (max-width: 767px) {
    width: 260px;
  }

  @media (min-width: 768px) {
    width: 238px;
  }
}

@mixin button-secondary {
  display: flex;
  width: 238px;
  height: 48px;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  color: $primary;
  border: 1px solid $turquoise;
  padding-left: 67px;
  box-sizing: border-box;
  background-image: url('././icons/arrow-black.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 161px;

  @media (max-width: 767px) {
    width: 260px;
  }

  @media (min-width: 768px) {
    width: 238px;
  }
}

@mixin button-secondary2 {
  display: flex;
  width: 238px;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid $primary;
  color: $primary;
}

@mixin button-primary-hover {
  display: flex;
  width: 238px;
  height: 48px;
  cursor: pointer;
  align-items: center;
  flex-shrink: 0;
  border: 0;
  background: rgba(3, 128, 158, 0.40);
  color: $white;
  animation: arrow-animation 1.5s ease-in-out infinite;
  justify-content: flex-start;
  background-image: url('././icons/arrow-white.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 161px;

  @media (max-width: 767px) {
    width: 260px;
  }

  @media (min-width: 768px) {
    width: 238px;
  }
}

@mixin button-primary2-hover {
  height: 48px;
  flex-shrink: 0;
  opacity: 0.7;
  background-color: $yellow;
  color: $grey-dark;
  border: 1px solid $yellow;
  animation: arrow-animation 1.5s ease-in-out infinite;

  @media (max-width: 767px) {
    width: 260px;
  }

  @media (min-width: 768px) {
    width: 238px;
  }
}

@mixin button-secondary-hover {
  width: 238px;
  height: 48px;
  flex-shrink: 0;
  opacity: 0.7;
  background-color: $turquoise;
  color: $white;
  border: 1px solid $turquoise;
  background-image: url('././icons/arrow-white.svg');
  animation: arrow-animation 1.5s ease-in-out infinite;

  @media (max-width: 767px) {
    width: 260px;
  }

  @media (min-width: 768px) {
    width: 238px;
  }
}

@mixin button-secondary2-hover {
  width: 238px;
  height: 48px;
  flex-shrink: 0;
  opacity: 0.7;
  background-color: $white;
  color: $primary;
  border: 1px solid $primary;
}
