@mixin button-primary {
  display: flex;
  width: 238px;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: $turquoise;
  color: $white;
  border: 1px solid $turquoise;
}

@mixin button-primary2 {
  display: flex;
  width: 238px;
  height: 48px;
  box-sizing: border-box;
  padding-left: 70px;
    align-items: center;
  flex-shrink: 0;
  background-color: $yellow;
  color: $primary;
  border: 1px solid $yellow;

  justify-content: flex-start;
  background-image: url('././icons/arrow-black.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 161px;
}

@mixin button-secondary {
  display: flex;
  width: 238px;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: $primary;
  border: 1px solid $turquoise;

}

@mixin button-secondary2 {
  display: flex;
  width: 238px;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid $primary;
  color: $primary;
}

@mixin button-primary-hover {
  display: flex;
  width: 238px;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid rgba(3, 128, 158, 0.40);
  background: rgba(3, 128, 158, 0.40);
  color: $white;
}

@mixin button-primary2-hover {
  width: 238px;
  height: 48px;
  flex-shrink: 0;
  opacity: 0.7;
  background-color: $yellow;
  color: $grey-dark;
  border: 1px solid $yellow;
  animation: arrow-animation 1.5s ease-in-out infinite;
}

@mixin button-secondary-hover {
  width: 238px;
  height: 48px;
  flex-shrink: 0;
  opacity: 0.7;
  background-color: $turquoise;
  color: $white;
  border: 1px solid $turquoise;
}

@mixin button-secondary2-hover {
  width: 238px;
  height: 48px;
  flex-shrink: 0;
  opacity: 0.7;
  background-color: $white;
  color: $primary;
  border: 1px solid $primary;
}
