$turquoiseMain: #03839e;
$yellowMain: #ffe339;
$yellowLigth: #ffec7a;
$greyMain: #b3b3b3;
$greyLigth: #f8f8f8;
$redMain: #eb5757;
$textMainColor: #333;
$textSecondaryColor: #4f4f4f;
$textLightGrey: #828282;
$textButtonsColor: #121212;
$textBlack: #000;
$tooltipColor: rgba(36, 35, 35, 0.75);
$infoHeadColor: rgba(0, 0, 0, 0.39);
