:root {
  --color-primary1-400: #{$color-Turquoise-light};
  --color-primary1-500: #{$color-Turquoise};

  --color-primary2-400: #{$color-Yellow-light};
  --color-primary2-500: #{$color-Yellow};

  --color-secondary-400: #{$color-Grey-dark-1};
  --color-secondary-500: #{$color-Grey-dark-2};
  --color-secondary-600: #{$color-Grey-dark-3};
  --color-secondary-700: #{$color-Grey-dark-4};
  --color-secondary-900: #{$color-Black};

  --color-neutral-100: #{$color-White};
  --color-neutral-200: #{$color-Grey-light};
  --color-neutral-500: #{$color-Grey};

  --color-accent-500: #{$color-Red};
  --color-accent-900: #{$color-Red-dark};
}
