.container {
  @include media-Mobile {
    padding: 0 $container-block-padding;

    max-width: $max-hero-width;
    margin: 0 auto;
  }

  @media (min-width: $max-hero-width) {
    padding: 0;
  }
}
