%title {
  font-family: $ff-titles;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  @include onTablet {
    font-size: 64px;
    line-height: 64px;
  }
}

%h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

%s1 {
  font-family: $ff-strings;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $c-gray-strings;
  
}
%s3 {
  font-family: $ff-strings;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $c-gray-strings;
}
