%title {
  font-family: "Bebas Neue", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0.16em;
  color: $c-black;
}

%h1 {
  font-family: "Bebas Neue", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  letter-spacing: 0.16em;
  color: $c-black;
}

%h2 {
  font-family: "Bebas Neue", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.06em;
  color: #333;
}

%h3 {
  font-family: "Bebas Neue", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.16em;
  color: $c-black;
}

%h4 {
  font-family: "Bebas Neue", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.16em;
  color: $c-black;
}

%s1-36 {
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: $c-black;
}

%s1-32 {
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: $c-black;
}

%s2 {
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: $c-black;
}

%s3 {
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $c-black;
}

%s4 {
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: $c-black;
}

%s5 {
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: $c-black;
}

%button {
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: $c-black;
}

%bebas-36-150 {
  font-family: "Bebas Neue", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: $c-black;
}

%manrope-16-150 {
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #4f4f4f;
}
