@mixin font-title-large {
  color: $turquoise;
  font-family: $font-h;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 9.92px;
  text-transform: uppercase;
}

@mixin font-title-small {
  color: $turquoise;
  font-family: $font-h;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 5.58px;
  text-transform: uppercase;
}

@mixin font-h1 {
  color: $primary;
  font-family: $font-h;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 8.99px;
}

@mixin font-h2 {
  color: $primary;
  font-family: $font-h;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 5.58px;
  text-transform: uppercase;
}

@mixin font-h3 {
  color: $primary;
  font-family: $font-h;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3.72px;
  text-transform: uppercase;
}

@mixin font-h4 {
  color: $primary;
  font-family: $font-h;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2.79px;
}

@mixin font-s1 {
  color: $primary;
  font-family: $font-s;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

@mixin font-s2 {
  color: $primary;
  font-family: $font-s;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@mixin font-s3 {
  color: $primary;
  font-family: $font-s;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@mixin font-s4 {
  color: $primary;
  font-family: $font-s;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

@mixin font-s5 {
  font-family: $font-s;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@mixin font-price {
  color: $primary;
  font-family: $font-s;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin font-info {
  color: $primary;
  font-family: $font-s;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}


@mixin font-button {
  font-family: $font-s;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

@mixin font-menu-desktop {
  @media (min-width: 1260px) {
  color: $menu-color;
  font-family: $font-s;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  }
}

@mixin font-menu-mobile{
  @media (max-width: 1259px) {
color: $grey-light;
font-family: $font-s;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
text-decoration: none;
  }
}
