@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/proxima-nova-regular/proxima_nova_regular.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/proxima-nova-semibold/proxima_nova_semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/proxima-nova-bold/proxima_nova_bold.woff2") format("woff2");
}

@font-face {
  font-family: "Bebas Bold";
  src: url("../fonts/bebas/BebasBold.woff2") format("woff2");
}
