@font-face {
  font-family: $h-font;
  src: url("../fonts/bebas-neue-bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: $s-font;
  src: url("../fonts/proxima-nova-regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: $s-font;
  src: url("../fonts/proxima-nova-semibold.ttf") format("truetype");
  font-weight: 600;
}
