@mixin form-input-default {
  color: red;

  /*   TO BE UPDATED */
}

@mixin form-input-selected {
  color: red;

  /*   TO BE UPDATED */
}

@mixin form-input-success {
  color: red;

  /*   TO BE UPDATED */
}

@mixin form-input-error {
  color: red;

  /*   TO BE UPDATED */
}
