@keyframes wiggle {
  from {
    transform: rotate(0);
  }
  25% {
    transform: rotate(8deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes rotateAnim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
