.background-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 20%;
  height: 400px;
  z-index: -1;
  background-color: $main-bg-color;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);

  @include on-tablet {
    display: block;
  }

  @include on-desktop {
    height: 500px;
  }
}

body {
  scroll-behavior: smooth;
}
