@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin content-padding-in-line() {
  padding-inline: 30px;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-desktop {
    margin-inline: auto;
    padding-inline: 135px;
  }
}

@mixin content-padding-rigth() {
  padding-right: 30px;

  @include on-tablet {
    padding-right: 34px;
  }

  @include on-desktop {
    margin-inline: auto;
    padding-right: 135px;
  }
}

@mixin page-grid {
  --columns: 2;

    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

  }

  @include on-desktop {
    --columns: 12;

    column-gap: 30px;
  }
}

@mixin line-after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  height: 1px;
  width: 100%;
  cursor: pointer;

  transition: all $effect-duration;
  transform: scale(0);
  transform-origin: right;
}

@mixin line-hover-after() {
  transform: scale(1);
}

@mixin for-line-hover-effect() {
  transition: all $effect-duration;
}

@mixin line-after-title() {
  content: "";
    position: absolute;
    display: block;
    right: 63%;
    top: 67%;
    height: 46.29px;
    width: 1px;
    background-color: $dark-grey-color;
    rotate: 22deg;
}

@mixin pop-up-window() {
  overflow: auto;
  position: fixed;
  margin: 0;

  transition: all 0.5s;
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);

  &:target {
    opacity: 1;
    pointer-events: all;
    transform: translateY(50%);
    z-index: 1;

    @include on-tablet {
      transform: translateY(10%);
    }
  }
}

@mixin desription-text-style {
  text-align: left;
  width: 213px;
  color: $c-gray;
}

@mixin footer-text-style() {
  font-weight: $middle-font;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

@mixin side-text-style {
  position: relative;
  font-family: $bebas-font-family;
  font-weight: $middle-font;
  font-size: 12px;
  line-height: 14.4px;
  color: #828282;
  letter-spacing: 2.6px;
}

@mixin potr-pots-side-text {
    content: '';
    position: absolute;
    right: 69px;
    top: 4px;
    bottom: 0;
    width: 65px;
    height: 1px;
    padding-right: 10px;
    background-color: #828282;
}

