*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
li,
ul,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  background-color: $c-white;

  &__description-pos {
    margin: 100px 0;

    @include desktop {
      margin: 150px 0;
    }
  }
  &__features-pos {
    margin-bottom: 110px;
    @include desktop {
      margin-bottom: 150px;
    }
  }
  &__team-pos {
    margin-bottom: 168px;
    @include tablet {
      margin-bottom: 100px;
    }
    @include desktop {
      margin-bottom: 150px;
    }
  }
  &__materials-pos {
    margin-bottom: 110px;
  }
  &__sizes-pos {
    margin-bottom: 110px;
  }
}
