* {
  box-sizing: border-box;
}

html {
  font-family: $ff-main;
  font-size: 16px;
  line-height: 150%;
  font-weight: normal;
  overflow-x: hidden;
}

body {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }
}
