@mixin blur-bcg-box {
  /*     width: 303px;
      height: 237px; */
      flex-shrink: 0;
      background: rgba(0, 0, 0, 0.41);
      backdrop-filter: blur(17px);

      display: inline-flex;
      padding: 35px;
      align-items: flex-start;
      gap: 10px;/*  ??? */
  }

  @mixin blur-bcg-box-mobile {
      width: 302px;
      height: 254px;
      flex-shrink: 0;
      background: rgba(0, 0, 0, 0.45);
      box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.15);
      backdrop-filter: blur(17px);
      padding-top: 28px;
      padding-right: 45px;
      padding-left: 44px;
      }

      @mixin visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }
