@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin large-icon-size {
  width: 30px;
  height: 30px;
}

@mixin small-icon-size {
  width: 20px;
  height: 20px;
}

@mixin alert-on {
  @media (max-width: 319px) {
    display: none;
  }
}
