%for_whom {
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  line-height: 150%;
  color: $c-grey-1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

%a {
  width: 10px;
  height: 10px;
  background-color: #000;
}
