* {
  padding: 0;
  margin: 0;
  border: 0;
  // outline: solid 1px red;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid $c-b000;
  -webkit-text-fill-color: $c-b000;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5s ease-in-out 0s;
}

input:valid:not(:placeholder-shown) {
  color: rgba(3, 131, 158, 1);
  border-bottom: 1px solid rgba(3, 131, 158, 1);
}

input:invalid:not(:placeholder-shown) {
  color: rgba(235, 87, 87, 1);
  border-bottom: 1px solid rgba(235, 87, 87, 1);
}
