*,
*::after,
*::before,
*:hover {
  box-sizing: border-box;
}

a,
ul,
h1,
h2,
h3,
p {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;

  list-style: none;
  margin: 0;
  padding: 0;
}
