.swiper {
  background-color: rgba(0, 0, 0, 0.45);
  margin: 0 9px;
  backdrop-filter: blur(34px);

  &-item {
    height: 254px;
    color: $grey-light;
    padding: 28px 44px 0 45px;
  }

  &-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    bottom: 37px;
    gap: 10px;
    justify-content: center;
  }

  &-pagination-horizontal.swiper-pagination-bullets &-pagination-bullet {
    width: 7px;
    height: 7px;
    background-color: $grey-light;
    border-radius: 0;
    opacity: 1;
    transform: rotate(45deg);
    margin: 0;

    &.swiper-pagination-bullet-active {
      background-color: rgba(0, 0, 0, 0.3);
      border: 1px solid $grey-light;
    }
  }
}
