%title {
  font-family: "Bebas Bold", sans-serif;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  @include mobile {
    font-size: 32px;
    line-height: 100%;
  }
}
%bg-text {
  font-family: "Bebas Bold", sans-serif;
  font-size: 276px;
  line-height: 100%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  @include tablet {
    font-size: 220px;
  }
  @include s-tablet {
    font-size: 160px;
  }
}
%bg-title {
  font-family: "Bebas Bold", sans-serif;
  font-size: 138px;
  line-height: 100%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  @include tablet {
    font-size: 80px;
  }
  @include mobile {
    font-size: 58px;
  }
}

%h1 {
  font-family: "Bebas Bold", sans-serif;
  font-size: 58px;
  line-height: 100%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

%h2 {
  font-family: "Bebas Bold", sans-serif;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

%h3 {
  font-family: "Bebas Bold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

%h4 {
  font-family: "Bebas Bold", sans-serif;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

%side-text {
  font-family: "Bebas Bold", sans-serif;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.22em;
  text-transform: uppercase;
}

%counter {
  font-family: "Bebas Bold", sans-serif;
  font-size: 9px;
  line-height: 130%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

%s1 {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 36px;
  line-height: 150%;
}

%s2 {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 24px;
  line-height: 150%;
}

%s3-title {
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 20px;
  line-height: 150%;
}

%s3 {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

%s4 {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 14px;
  line-height: 150%;
}

%s5 {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 12px;
  line-height: 150%;
}
%card-sign {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 11px;
  line-height: 132%;
}

%button {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

%price {
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 26px;
  line-height: 100%;
}
