h1 {
  @include typography;
  font-size: 64px;
  line-height: 64px;

  @include onMobile {
    font-size: 36px;
    line-height: 43px;
  }
}

h2 {
  @include typography;
  font-size: 58px;
  line-height: 70px;

  @include onMobile {
    font-size: 36px;
    line-height: 43px;
  }

}

h3 {
  @include typography;
  font-size: 36px;
  line-height: 150%;

  @include onTablet {
    font-size: 24px;
    line-height: 24px;
  }
}

h4 {
  @include typography;
  font-size: 24px;
  line-height: 24px;

  @include onTablet {
    font-size: 18px;
    line-height: 18px;
  }
}
