$c-gray: #eee;
$transition: all 0.2s ease-in;
$blue: #03839e;
$yellow: #ffe339;
$lightYellow: #ffec7a;
$grey: #b3b3b3;
$lightGrey: #f8f8f8;
$darkGrey: #4f4f4f;
$red: #eb5757;
$black: #121212;
$white: #fff;
