$font-main: "Manrope", arial, helvetica, sans-serif;
$font-secondary: "Bebas Neue", cursive;

$main-color: #4f4f4f;
$blue: #03839e;
$yellow: #ffe339;
$yellow-light: #ffec7a;
// $gray: #B3B3B3;
$gray-light: #f8f8f8;
$gray-dark: #333;
$gray-secondary: #828282;
$red: #eb5757;

$gridTablet: 6;
$gridDesktop: 12;
$gap: 20px;
$gapBig: 30px;

$transition: 0.3s;
