$c-gray: #eee;
$blue: #03839E;
$main-transition: transform 0.3s;
$yellow: rgb(255, 227, 57);
$grey: rgb(79, 79, 79);
$black: rgb(51, 51, 51);
$white: rgb(224, 224, 224);
$scale-transform: scale(1.05);
$margin-top: 110px;
$red: rgb(235, 87, 87);
