$main-accent-color: #03839E;
$main-bg-color: #FFEC7A;
$secondary-button-color: #FFE339;
$main-text-color: #000;
$accent-text-color: #333;
$secondary-text-color: #4F4F4F;
$light-text-color: #F8F8F8;
$button-main-color: #121212;
$button-secondary-color: #FFF;
$main-red: #EB5757;

