// Colors

$turquoise: #03839e;
$turquoiseHovered: rgba(3, 128, 158, 0.6);
$yellow: #ffe339;
$yellowHowered: rgba(255, 227, 57, 0.6);
$yellowLight: #ffec7a;
$grey: #b3b3b3;
$grey1: #333;
$grey2: #4f4f4f;
$greyLight: #f8f8f8;
$red: #eb5757;
$black: #000;
$white: #fff;

// Other

$smooth-transition: 0.2s;
$smooth-transition-2: 0.3s;
$tablet-max-width: 828px;
$desktop-max-width: 1170px;
