$color-yellow: #ffe339;
$color-yellow-light: #ffec7a;
$color-red: #eb5757;
$color-turquoise: #03839e;
$color-black: #000;
$color-semi-black: #121212;
$color-grey: #b3b3b3;
$color-grey-light: #f8f8f8;
$color-grey-1: #333;
$color-grey-2: #4f4f4f;
$color-grey-3: #828282;
$color-grey-4: #bdbdbd;
$color-grey-5: #e0e0e0;
$color-grey-input: #bdbdbd;

$side-pading-m: 30px;
$side-pading-t: 34px;
$side-pading-d: 135px;
$colums-gap-m: 20px;
$colums-gap-t: 24px;
$colums-gap-d: 30px;
$colums-width-m: 120px;
$colums-width-t: 100px;
$colums-width-d: 70px;
$colums-count-m: 2;
$colums-count-t: 6;
$colums-count-d: 12;

$stamp-size: 160px;

$transition-time: 0.2s;
