     // burger menu

     @keyframes move-up-then-down {
       0% {
         top: 0;
       }

       50% {
         top: -27px;
       }

       100% {
         top: -14px;
       }
     }

     @keyframes shake-while-oving-up {
       0% {
         transform: rotateZ(0);
       }

       25% {
         transform: rotateZ(-10deg);
       }

       50% {
         transform: rotateZ(0deg);
       }

       75% {
         transform: rotateZ(10deg);
       }

       100% {
         transform: rotateZ(0);
       }
     }

     @keyframes shake-while-moving-down {
       0% {
         transform: rotateZ(0);
       }

       80% {
         transform: rotateZ(3deg);
       }

       90% {
         transform: rotateZ(-3deg);
       }

       100% {
         transform: rotateZ(0);
       }
     }

     // header

     @keyframes slide-bottom {
       0% {
        transform: translateY(0) rotate(90deg);
       }

       100% {
        transform: translateY(40px) rotate(90deg);
       }
     }

     // footer rotating text

     @keyframes rotating {
       from {
         transform: rotate(360deg);
       }

       to {
         transform: rotate(0deg);
       }
     }

     // section-team animation name

     @keyframes stroke {
       0% {
         fill: #03849e3f;
         stroke: $text-color-turquoise;
         stroke-dashoffset: 25%;
         stroke-dasharray: 0 50%;
         stroke-width: 1;
       }

       70% {
         stroke: $text-color-turquoise;
       }

       80% {
         stroke: $text-color-turquoise;
         stroke-width: 2;
       }

       100% {
         fill: transparent;
         stroke: $text-color-turquoise;
         stroke-dashoffset: -25%;
         stroke-dasharray: 50% 0;
         stroke-width: 1;
       }
     }

     // slider

     @keyframes scale-up-center {
       0% {
         transform: scale(0.1);
       }

       100% {
         transform: scale(1);
       }
     }

     @keyframes swirl-out-bck {
       0% {
         transform: rotate(0) scale(1);
         opacity: 1;
       }

       100% {
         transform: rotate(-540deg) scale(0);
         opacity: 0;
       }
     }
