*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  line-height: 150%;
  border: none;
}

a {
  text-decoration: none;
  line-height: 150%;
  color: #000;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px $yellow-light inset;
}
