@keyframes bounceAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: rotate(90deg) translateY(calc(100% + 5px)) translateX(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: rotate(90deg) translateY(calc(100% + 5px)) translateX(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: rotate(90deg) translateY(calc(100% + 5px)) translateX(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: rotate(90deg) translateY(calc(100% + 5px)) translateX(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: rotate(90deg) translateY(calc(100% + 5px)) translateX(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: rotate(90deg) translateY(calc(100% + 5px)) translateX(0);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: rotate(90deg) translateY(calc(100% + 5px)) translateX(0);
  }
}
