@keyframes Appearance-radius {
  0% {opacity: 0; border-radius: 50%;}
  100% {opacity: 1; border-radius: 0;}
}

@keyframes appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes scale {
  0% {scale: 0;}
  100% {scale: 1.5;}
}

@keyframes sliderLeft {
  0% {opacity: 0; left: 100%;}
  100% {opacity: 1; left: 240px;}
}

@keyframes roll {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
