html {
  // font-family: "Manrope", sans-serif;
  color: #4f4f4f;
  background-color: #f8f8f8;

  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  line-height: 24px;
  box-sizing: border-box;
  // background-color: rgba(255,255,255, 0);
}

.title {
  font-family: "Bebas Neue", cursive;
}

.price-text {
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

li {
  display: block;
  cursor: pointer;
}
