$colorTurquoise: #03839e;
$colorYellow: #ffe339;
$colorYellowLight: #ffec7a;
$colorGrey: #b3b3b3;
$colorGreyLight: #f8f8f8;
$colorRed: #eb5757;
$colorTextGrey: #4f4f4f;
$colorVerticalText: #828282;
$colorTextBlack: #333;

$_bebas: "Bebas Neue", "Arial", sans-serif;
$_manrope: "Manrope", "Arial", sans-serif;

$smoothTime: 300ms;
