$text-color-grey: #333;
$text-color-white: #f8f8f8;
$ellipse-color: #eb5757;
$font-bebas-neue: Bebas-Neue,
  Arial,
  Helvetica,
  sans-serif;
$font-manrope: Manrope,
  Arial,
  Helvetica,
  sans-serif;
