$on-tablet: 640px;
$on-tablet-vp-768: 768px;
$on-desktop: 1280px;
$on-large-desktop: 1440px;
$disable-slider: 639.9px;
$text-color-grey: #4f4f4f;
$text-color-light-grey: #828282;
$title-color-dark-grey: #333;
$black-color: #000;
$color-darkgrey: #333;
$text-color-white: #f8f8f8;
$text-color-turquoise: #03839e;
$color-red: #eb5757;
$button-color-yellow: #ffe339;
$button-color-yellow-hover: #ffec7a;
$button-color-turquoise: #03839e;
$button-color-turquoise-hover: #03839eb2;
$button-white-turquoise-hover: #03839e;
$background-color: #ffec7a;
$font-bebas-neue: Bebas-Neue, Arial, Helvetica, sans-serif;
$font-manrope: Manrope, Arial, Helvetica, sans-serif;
$middle-font: 400;
$big-font: 600;
$bold-font: 700;
$effect-duration: 0.5s;
