$turquoise: #03839E;
$yellow: #FFE339;
$yellow-light: #FFEC7A;
$grey: #B3B3B3;
$grey-light: #F8F8F8;
$red: #EB5757;
$gray-1: #333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$grey-light: #f8f8f8;
$black-1: #000;
$black-2: #121212;
$tablet-min-width: 600px;
$tabletbig-min-width: 800px;
$desktop-min-width: 1024px;
$mobile-padding-inline: 30px;
$tablet-padding-inline: 34px;
$tablet-grid-gap: 20px;
$desktop-grid-gap: 20px;
$desktop-padding-inline: 135px;
$header-cost-shift: -38px;
$star-width: 14px;
