$c-gray: #eee;
$main-title-text-color: rgba(0, 0, 0, 1);
$menu-text-color: rgba(248, 248, 248, 1);
$color-gray-1: rgba(51, 51, 51, 1);
$color-gray-2: rgba(79, 79, 79, 1);
$color-turquoise: rgba(3, 131, 158, 1);
$color-button-1: rgba(255, 227, 57, 1);
$color-button-text: rgba(18, 18, 18, 1);
$color-section-title: rgba(0, 0, 0, 1);
$color-grey-light: rgba(248, 248, 248, 1);
$tablet-min-width: 640px;
$desktop-min-width: 1000px;
$content-padding-tablet: 34px;
$content-padding-desktop: 135px;


