$font-h: Bebas Neue, sans-serfif;
$font-s: Manrope, sans-serfif;
$primary: #000;
$turquoise: #03839E;
$yellow: #FFE339;
$yellow-light: #FFEC7A;
$grey: #B3B3B3;
$grey-dark: #121212;
$red: #EB5757;
$white: #fff;
$menu-color: #4F4F4F;
$grey-light: #F8F8F8;
$grey5: #E0E0E0;

