.icon {
  &-link {
    display: flex;

    &--menu {
      @include on-tablet {
        padding-right: 8px;
      }

      @include on-desktop {
        display: none;
      }
    }

    &--bag {
      display: none;

      @include on-desktop {
        display: flex;
        padding-right: 9px;
      }
    }
  }

  &--arrow {
    &-right {
      stroke-width: 1px;
      width: 27px;
    }

    &-down {
      transform: rotate(-90deg);
      position: relative;
      bottom: 15px;
    }
  }
}
