.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  background-color: $c-turquoise;

  &__close {
    position: absolute;
    bottom: 40px;
    right: -80px;

    display: flex;
    gap: 18px;

    transform: rotate(-90deg);
    transform-origin: left bottom;


    &-additional {
      display: flex;
      align-items: center;
      gap: 5px;

      &-rectangle {
        height: 1px;
        width: 44px;
        background-color: $c-grey-light;
      }

      &-text {
        font-family: Manrope, sans-serif;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0;
        text-transform: uppercase;

        color: $c-grey-light;
      }
    }
  }
}
