.article-three {
  margin: 0;

  @include pageGrid;

  @include onTablet {
    margin-top: 110px;
  }

  @include onDesktop {
    margin-top: 80px;
  }

  &__image {
    display: none;

    @include onTablet {
      grid-column: 1 / 4;
      display: block;
      width: 284px;
    }

    @include onDesktop {
      grid-column: 8 / -1;
      width: 470px;
    }
  }

  &__content {
    grid-column: 1 / -1;
    margin-top: 70px;

    @include onTablet {
      grid-column: 4 / -1;
      margin-top: -20px;

      display: flex;
      flex-direction: column;
    }

    @include onDesktop{
      grid-column: 9 / -1;
      margin-top: 45px;
    }
  }

  &__note {
    display: none;
    color: $clr--gray-1;

    @include onTablet {
      display: block;
      margin-left: -20px;
    }

    @include onDesktop {
      margin-left: -145px;
    }

    span {
      padding-right: 10px;

      color: $clr--black;
      font-family: $font--main;
      font-size: 24px;
      line-height: normal;
      letter-spacing: 3.72px;

      @include onDesktop {
        padding-right: 30px;
      }
    }
  }

  &__head {
    @include onTablet {
      display: flex;
      align-items: start;
      gap: 30px;
      margin-left: -70px;
      margin-top: 17px;
    }

    @include onDesktop {
      gap: 60px;
      margin-left: -100px;
      margin-top: 40px;
    }
  }
}
