.benefits {
  position: relative;
  padding: 0 30px;

  @include onTablet {
    padding: 0 0 0 60px;
  }

  @include onDesktop {
    padding: 0 0 0 50%;
    margin-bottom: 220px;
  }

  &__photo {
    width: 182px;
    height: 182px;

    &-first {
      transform: translateX(-250%) rotate(-10deg);
      transition: 0.5s;

      &:hover {
        transform: scale(1.15) translateX(-220%) rotate(-10deg);
        filter: drop-shadow(3px 3px 12px #000);
      }
    }

    &-second {
      transform: translateX(-135%) translateY(-20%) rotate(-30deg);
      transition: 0.5s;

      &:hover {
        transform: scale(1.15) translate(-120%, -20%) rotate(-30deg);
        filter: drop-shadow(3px 3px 12px #000);
      }
    }

    &-fifth {
      transform: translateX(-275%) translateY(110%);
      z-index: 7;
      transition: 0.5s;

      &:hover {
        transform: scale(1.15) translateX(-240%) translateY(100%);
        filter: drop-shadow(3px 3px 12px #000);
      }
    }

    &-fourth {
      transform: translateX(-165%) translateY(80%) rotate(-10deg);
      transition: 0.5s;

      &:hover {
        transform: scale(1.15) translateX(-150%) translateY(70%) rotate(-10deg);
        filter: drop-shadow(3px 3px 12px #000);
      }
    }

    &-third {
      transform: translateX(-235%) translateY(190%) rotate(-10deg);
      transition: 0.5s;

      &:hover {
        transform: scale(1.15) translate(-200%, 170%) rotate(-10deg);
        filter: drop-shadow(3px 3px 12px #000);
      }
    }

    &-sixth {
      transform: translateX(-125%) translateY(190%) rotate(-20deg);
      transition: 0.5s;

      &:hover {
        transform: scale(1.15) translate(-105%, 160%) rotate(-20deg);
        filter: drop-shadow(3px 3px 12px #000);
      }
    }

    &-container {
      display: none;

      @include onDesktop {
        display: block;
        position: absolute;
        padding: 20px;
        background-color: #fff;
        max-width: 180px;
      }
    }

    &-text {
      font-size: 10px;
      line-height: 130%;
      color: #828282;
      margin: 0;
    }
  }

  &__content {
    @include onTablet {
      display: flex;
      flex-direction: row;
      gap: 20px;
      margin-bottom: 103px;
    }

    @include onDesktop {
      display: flex;
      flex-direction: column;
      padding-top: 100px;
    }

    &--about {
      @include onDesktop {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
      }

      &-top {
        @include onDesktop {
          display: flex;
          flex-direction: row;
          gap: 50px;
        }
        &-first {
          margin-bottom: 40px;
          &-title {
            font-family: "Manrope", sans-serif;
            font-size: 32px;
            line-height: 150%;
            color: #333;
            margin: 0;
            margin-bottom: 5px;

            &::before {
              content: "";
              position: absolute;
              width: 7px;
              height: 7px;
              background-color: #121212;
              color: #4f4f4f;
              transform: rotate(45deg) translateX(5px) translateY(25px);
            }
          }

          &-text {
            font-family: "Manrope", sans-serif;
            font-size: 16px;
            line-height: 150%;
            color: #828282;
            margin: 0;
          }
        }
        &-second {
          margin-bottom: 40px;

          @include onTablet {
            display: none;
          }

          @include onDesktop {
            display: block;
          }
        }
      }

      &-bottom {
        &-first {
          margin-bottom: 50px;
        }

        &-second {
          display: none;

          @include onTablet {
            display: block;
          }

          @include onDesktop {
            display: none;
          }
        }
      }
    }

    &--link {
      margin: 0 auto;
      margin-bottom: 110px;

      @include onTablet {
        margin-top: 110px;
      }

      @include onDesktop {
        margin: 0;
      }

      &-button {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        text-transform: uppercase;
        color: #121212;
        text-decoration: none;
        background: #ffe339;
        padding: 15px 60px;
        transition: 0.5s;

        &-black {
          padding-left: 9px;
        }

        &-white {
          display: none;
          padding-left: 9px;
        }

        @include onTablet {
          border: 1px solid #03839e;
          background-color: transparent;
        }

        &:hover {
          opacity: 0.7;

          @include onTablet {
            background: #03839e;
            color: white;
            opacity: 1;
          }
        }

        &:hover &-black {
          @include onTablet {
            display: none;
          }
        }

        &:hover &-white {
          @include onTablet {
            display: inline;
          }
        }
      }

      &-procent {
        font-family: "Bebas Neue", sans-serif;
        font-size: 36px;
        line-height: 150%;
        letter-spacing: 00.15em;
        text-transform: uppercase;
        color: #eb5757;
        margin-top: 50px;

        @include onTablet {
          font-size: 24px;
          line-height: 24px;
          margin-bottom: 10px;
        }

        @include onDesktop {
          margin-left: 100px;
          margin-top: 80px;
        }
      }

      &-text {
        font-family: "Bebas Neue", sans-serif;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 00.15em;
        text-transform: uppercase;
        margin: 0;
        color: #03839e;

        @include onTablet {
          width: 280px;
          font-size: 18px;
          line-height: 18px;
        }

        @include onDesktop {
          margin-left: 100px;
          margin-top: 20px;
          width: max-content;
        }
      }
    }
  }
}
