.features {
  &__title {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 70px;
    letter-spacing: 00.15em;
    color: transparent;
    -webkit-text-stroke: 0.68px #03839e;
    text-align: justify;
    margin: 0;
    margin-bottom: 22px;

    @include onTablet {
      margin-bottom: 32px;
    }
    &-span {
      color: #03839e;
    }
  }

  &__about {
    padding-bottom: 100px;

    @include onTablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
    }

    @include onDesktop {
      gap: 30px;
      justify-content: space-between;
    }
  }

  &__block {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 67px;

    @include onTablet {
      width: 220px;
    }

    @include onDesktop {
      width: 370px;
    }

    &--img {
      width: 260px;
      display: flex;
      margin: 0 auto;
      transition: 0.5s;
      cursor: pointer;

      @include onTablet {
        width: 220px;
      }

      @include onDesktop {
        width: 370px;
        margin-bottom: 30px;
      }

      &:hover {
        transform: scale(1.15);
        filter: drop-shadow(3px 3px 12px #000);
      }
    }

    &--subtitle {
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 00.15em;
      text-transform: uppercase;
      color: #333;
    }

    &--text {
      font-family: "Manrope", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #4f4f4f;

      @include onTablet {
        text-align: start;
      }

      @include onDesktop {
        text-align: center;
      }
    }
  }
}
