.form {
  &__title {
    font-size: 24px;
    margin-top: 50px;
  }
  
  &__wrapper {
    margin-top: 20px;
  }
  
  &__field {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #0003;
    width: 100%;
    font-family: "Manrope", sans-serif;
    padding-bottom: 5px;
    margin-top: 25px;
    font-size: 17px;
    outline: none;
    transition: 300ms;
  
    &:hover {
      &::placeholder {
        color: #000;
      }
    }
  
    &:focus {
      border-bottom: 1px solid #000;
  
      &::placeholder {
        color: #000;
      }
    }
  
    &--textarea {
      margin-top: 35px;
      margin-bottom: 35px;
    }
  }
}
