.header {
  padding: 15px 0 0;
  background-color: #f8f8f8;
  // height: 100vh;
  margin-bottom: 100px;

  @include onTablet {
    margin-bottom: 50px;
    padding: 15px 0 110px;
  }

  &__logo {
    width: 134px;
    height: 34px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/Logo.svg);

    transition: transform 0.5s;

    &:hover {
      transform: scale(1.3);
    }
  }

  &__nav {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__menu {
    margin-right: 8px;

    width: 32px;
    height: 32px;

    background-image: url(../images/menu.svg);

    @include onDesktop {
      display: none;
    }
  }

  &__shop-icon {
    display: none;

    transition: all 0.2s;

    @include onDesktop {
      display: block;

      margin-right: 8px;

      width: 30px;
      height: 30px;

      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/shop.svg);
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__img {

    &--phone {
      width: 100vw;
      height: 320px;
      margin-bottom: 25px;

      background-position: left;
      background-size: cover;
      background-image: url(../images/backImage.png);

      @include onTablet {
        display: none;
      }
    }
  }

  &__title {
    margin-bottom: 30px;

    color: transparent;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.15em;
    -webkit-text-stroke: 1px $sea-color;

    cursor: default;

    &--color {
      color: $sea-color;
    }

    @include onTablet {
      font-size: 64px;
      line-height: 64px;
    }

    @include onDesktop {
      margin-bottom: 20px;
    }
  }

  &__face {
    position: relative;

    @include onTablet {

      background-size: 320px;
      background-repeat: no-repeat;
      background-position: top right;
      background-image: url(../images/backImage.png);
    }

    @include onDesktop {
      background-size: contain;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 26px;
    color: $dark-color;
    line-height: 35px;

    cursor: default;
  }

  &__top {
    margin-bottom: 20px ;

    font-size: 14px;
    line-height: 21px;

    cursor: default;

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  @include onTablet {
    padding-bottom: 115px;

    background-position: top left;
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 80%;
    background-image: url(../images/YellowBack.svg);
  }

  @include onDesktop {
    padding-bottom: 150px;
  }
}
