.menu {
  background-color: #03839e;
  z-index: 5;

  &__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 50px;

    height: 100vh;

    overflow: hidden;
  }

  &__button {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    text-align: left;
    align-items: left;
    top: 0;
    left: 50px;

    font-size: 16px;
    color: #f8f8f8;
    transform: rotate(-90deg);
    &::after {
      content: "";
      position: relative;
      top: 11px;
      left: 130px;
      height: 1px;
      width: 80px;
      background-color: #f8f8f8;
    }

    @include onTablet {
      top: 210px;
      left: 140px;
    }

  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 120px;
    margin-bottom: 100px;
  }

  &__link {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 5px;

    color: #f8f8f8;
    border-bottom: 1px solid transparent;

    transition: border-color 0.5s;

    @include onTablet {
      font-size: 40px;
    }
    &:hover {
      border-color: #f8f8f8;
    }
  }
}
