.nav {

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    width: 470px;
    height: 100%;
  }

  &__item {
    padding: 5px;
    color: #4f4f4f;
    line-height: 24px;
  }
}
