.nav {

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;

    width: 500px;
    height: 100%;

    @include onDesktop {
      width: 600px;
    }
  }

  &__item {
    padding: 5px;
    color: #4f4f4f;
    line-height: 24px;
  }

  &__link {
    transition: color 0.5s;

    &:hover {
      color: $sea-color;
    }
  }
}
