.team {
  display: block;
  margin-bottom: 160px;

  background-size: 100% 80%;
  background-position: left 170%;
  background-repeat: no-repeat;
  background-image: url(../images/teamBackPicture.svg);

  cursor: default;

  @include onTablet {
    background-size: 45% 45%;
    background-position: left 50%;
    margin-bottom: 0;
  }

  @include onDesktop {
    background-size: 29% 60%;
    background-position: left 25%;
    margin-bottom: 80px;
  }

  &__title {
    font-family: Bebas Neue, sans-serif;
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.12em;
    color: #333;
    text-transform: uppercase;

    @include onTablet {
      font-size: 48px;
      margin-bottom: -20px;
    }

    // @include onDesktop {
    //   padding-bottom: -100px;
    // }
  }

  &__martin-back {
    box-sizing: content-box;
    display: none;

    @include onTablet {
      display: block;
      position: relative;
      top: 50px;
      left: -20px;
      font-size: 200px;
      line-height: 1;
      -webkit-text-stroke-width: 1px;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: #03839e;
      letter-spacing: 0.12em;
      text-transform: uppercase;

      order: 1;
      z-index: 1;
    }

    @include onDesktop {
      font-size: 300px;
      position: relative;
      top: 100px;
      left: -60px;

    }
  }

  &__andy {
    display: none;
    box-sizing: border-box;
    max-width: max-content;

    @include onTablet {
      display: block;
      position: relative;
      left: 250px;
      top: -50px;

      font-size: 232px;
      line-height: 1;
      -webkit-text-stroke-width: 1px;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: #03839e;
      letter-spacing: 0.12em;
    }

    @include onDesktop {
      left: 660px;
      top: -20px;
    }
  }

  &__photo {
    position: relative;
    top: 0;
    left: -30px;

    transition: all 0.5s;

    &:hover {
      box-shadow: 0 30px 50px rgba(0, 0 , 0, 0.8);
      transform: scale(1.15) translateX(50px);
      z-index: 1;
    }

    @include pictureSize (240px, 320px);

    @include onTablet {
      @include pictureSize (255px, 340px);
      z-index: 0;
      order: 3;
    }

    @include onDesktop {
      @include pictureSize (505px, 655px);
    }
  }

  &__text {
    font-family: Manrope, cursive, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #4f4f4f;

    order: 2;

    @include onDesktop {
      padding-top: 200px;
    }
  }

  &__position-spesial {

    @include onDesktop {
      margin-top: -100px;
    }
  }
}
