.title {
  &--def {
    color: #333;
    font-size: 32px;
    font-weight: 700;
  }
  
  &--whom {
    margin-top: 20px;
  
    &__number {
      font-size: 36px;
      font-weight: 700;
    }
  
    &__count {
      display: flex;
    }
  
    &__title {
      color: #333;
    }
  
    &__text {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 34px;
  
      letter-spacing: 0.15em;
  
      @media (min-width:750px) {
        font-size: 32px;
        line-height: 54px;
      }
  
      @media (min-width:640px) {
        font-size: 18px;
        line-height: 25px;
      }
    }
  
    &__content {
      display: flex;
      gap: 50px;
  
      margin-top: 20px;
    }
  
    &__line {
      background-size: cover;
      height: 50px;
  
      &--close {
        display: none;
        width: 35px;
        height: 35px;
  
        @include tablet() {
          display: inline-block;
        }
      }
    }
  }
}
