.whom {
  position: relative;

  &__right {
    position: absolute;
    top: 80px;
    right: calc((100% - 1440px) / 2);
    color: #828282;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.22em;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    text-decoration: none;

    @include iPad {
      right: 38px;
    }

    @include iPhone {
      right: 6px;
      top: 750px;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 1px;
      height: 65px;
      background-color: #828282;
      margin-bottom: 10px;
    }

    &--2 {
      position: absolute;
      top: 1700px;
      left: calc((100% - 1400px) / 2);
      color: #828282;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.22em;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      text-transform: uppercase;
      text-decoration: none;
  
      &::before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 65px;
        background-color: #828282;
        margin-bottom: 10px;
      }

      @include iPad {
        display: none;
      }

      @include iPhone {
        display: none;
      }
    }
  }

  &__title {
    font-family: "bebas", sans-serif;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    grid-column: 1 / 13;
    margin-top: 150px;

    @include iPad {
      grid-column: 1 / 7;
    }

    @include iPhone {
      grid-column: 1 / 3;
      margin-top: 100px;
    }
  }

  &__content {
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;

    @include iPad {
      grid-column: 1 / 7;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 20px;
    }
    
    @include iPhone {
      grid-column: 1 / 3;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
    }
  }

  &__item {
    margin-top: 34px;
    
    &:first-child {
      grid-column: 1 / 13;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 30px;

      @include iPad {
        grid-column: 1 / 7;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 20px;
      }
      
      @include iPhone {
        grid-column: 1 / 3;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
      }
    }

    &:nth-child(2) {
      grid-column: 1 / 6;
      margin-top: 185px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 30px;
      grid-template-rows: min-content;

      @include iPad {
        grid-column: 1 / 7;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 20px;
        margin-top: 110px;
      }

      @include iPhone {
        grid-column: 1 / 3;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        margin-top: 70px;
      }
    }

    &:last-child {
      grid-column: 8 / 13;
      margin-top: 80px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 30px;

      @include iPad {
        grid-column: 1 / 7;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 20px;
        margin-top: 120px;
      }

      @include iPhone {
        grid-column: 1 / 3;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        margin-top: 70px;
      }
    }

    &--content {

      &-1 {
        grid-column: 7 / 13;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: min-content min-content min-content min-content;
        column-gap: 30px;
        height: 390px;

        @include iPad {
          grid-column: 3 / 7;
          column-gap: 20px;
          grid-template-columns: repeat(4, 1fr);
          margin-top: -20px;
          height: min-content;
        }

        @include iPhone {
          grid-column: 1 / 3;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 20px;
          height: min-content;
        }
      }

      &-2 {
        grid-column: 1 / 6;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: min-content min-content min-content;
        column-gap: 30px;

        @include iPad {
          grid-column: 1 / 4;
          column-gap: 20px;
          grid-template-columns: repeat(3, 1fr);
          margin-top: -20px;
        }

        @include iPhone {
          grid-column: 1 / 3;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 20px;
        }
      }

      &-3 {
        grid-column: 1 / 6;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        // grid-template-rows: min-content min-content min-content;
        column-gap: 30px;

        @include iPad {
          grid-column: 3 / 7;
          column-gap: 20px;
          grid-template-columns: repeat(4, 1fr);
          margin-top: -20px;
          height: min-content;
        }

        @include iPhone {
          grid-column: 1 / 3;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 20px;
        }
      }
    }

    &--title {
      font-family: "bebas", sans-serif;
      font-size: 36px;
      line-height: 54px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      position: relative;
      padding-right: 10px;

      &-slesh {
        font-family: "thin", sans-serif;
        height: 50px;
        margin-bottom: -12px;

        &--title {
          font-family: "thin", sans-serif;
          height: 50px;
          margin-bottom: -12px;

          @include iPhone {
            display: none;
          }
        }
      }

      &-1 {
        grid-column: 2 / 6;

        @include iPad {
          grid-column: 2 / 5;
          margin-left: 0;
          margin-top: 20px;
        }

        @include iPhone {
          grid-column: 1 / 3;
          margin-top: 34px;
          padding-right: 0;
        }
      }

      &-2 {
        grid-column: 2 / 6;
        margin-top: 25px;

        @include iPad {
          grid-column: 1 / 4;
        }

        @include iPhone {
          grid-column: 1 / 3;
        }
      }

      &-3 {
        grid-column: 2 / 6;
        margin-top: 40px;

        @include iPad {
          grid-column: 2 / 5;
          margin-left: 0;
          margin-top: 20px;
        }

        @include iPhone {
          grid-column: 1 / 3;
          margin-top: 28px;
        }
      }
    }
  }

  &__image {
     
    @include iPhone {
      display: none;
    }

    &--1 {
      grid-column: 1 / 7;

      @include iPad {
        grid-column: 1 / 3;
        margin-right: -75px;
        height: min-content;
      }

      &-img {

        @include iPad {
          width: 100%;
        }
      }
    }

    &--2 {
      grid-column: 2 / 6;
      grid-template-rows: auto;
      height: min-content;

      @include iPad {
        grid-column: 4 / 7;
        order: 2;
        text-align: end;
        margin-left: 40px;

        &-img {

          @include iPad {
            width: 100%;
          }
        }
      }
    }

    &--3 {
      grid-column: 1 / 6;

      @include iPad {
        grid-column: 1 / 3;
        margin-right: -75px;
        height: min-content;
      }

      &-img {

        @include iPad {
          width: 100%;
        }
      }
    }
  }

  &__star {
    font-family: "proxima", sans-serif;
    font-size: 16px;
    line-height: 24px;

    &--1 {
      grid-column: 2 / 7;
      margin-top: 130px;
      margin-left: -28px;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      height: 24px;

      @include iPad {
        grid-column: 2 / 3;
        margin-top: 0;
        margin-left: -28px;
      }

      @include iPhone {
        display: none;
      }
    }

    &--2 {
      grid-column: 1 / 3;
      margin-top: 28px;
      display: flex;
      align-items: center;
      height: 24px;
      justify-content: flex-end;
      padding-right: 7px;

      @include iPad {
        grid-column: 3 / 4;
        margin-top: 38px;
        margin-left: -28px;
      }

      @include iPhone {
        display: none;
      }
    }
    &--3 {
      grid-column: 1 / 3;
      margin-top: 28px;
      display: flex;
      align-items: center;
      height: 24px;
      margin-left: -28px;

      @include iPad {
        grid-column: 2 / 3;
        margin-top: 0;
        margin-left: -28px;
      }

      @include iPhone {
        display: none;
      }
    }

    &--24 {
      font-family: "proxima", sans-serif;
      font-size: 24px;
      line-height: 24px;
      margin-right: 20px;
      margin-top: 10px;
    }
  }

  &__number {
    font-family: "bebas", sans-serif;
    font-size: 36px;
    line-height: 54px;
    position: relative;

    &--1 {
      grid-column: 1 / 2;
      margin-left: 20px;

      @include iPad {
        text-align: end;
        margin-top: 20px;
      }

      @include iPhone {
        grid-column: 1 / 3;
        margin-left: 0;
      }
    }

    &--2 {
      grid-column: 2 / 3;
      margin-top: 40px;

      @include iPad {
        grid-column: 1 / 2;
      }

      @include iPhone {
        grid-column: 1 / 3;
        margin-left: 0;
        margin-top: 0;
      }
    }

    &--3 {
      grid-column: 1 / 2;
      margin-top: 40px;

      @include iPad {
        text-align: end;
        margin-top: 20px;
      }

      @include iPhone {
        grid-column: 1 / 3;
        margin-left: 0;
        margin-top: 0;
      }
    }
  }

  &__text {
    font-family: "proxima", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    height: min-content;

    &--1 {
      grid-column: 2 / 5;

      @include iPad {
        grid-column: 2 / 5;
      }

      @include iPhone {
        grid-column: 1 / 3;
        margin-top: 34px;
      }
    }

    &--2 {
      grid-column: 2 / 6;

      @include iPad {
        grid-column: 1 / 4;
      }

      @include iPhone {
        grid-column: 1 / 3;
      }
    }

    &--3 {
      grid-column: 2 / 6;

      @include iPad {
        grid-column: 2 / 5;
      }

      @include iPhone {
        grid-column: 1 / 3;
        margin-top: 30px;
      }
    }
  }
}
