@import "../utils";

.Porteco{
    display: grid;
    grid-template-columns: repeat(12, 70px);
    column-gap:30px;
    margin: 77px 135px 0 135px;
    background-color: blue;
    height: 500px;

    &__more {
        display: flex;
        grid-column: 1;
    }

    &__con {
        display: flex;
        background: red;
        grid-column: 2/7;
    }
    
    &__img {
        display: flex;
        background: blueviolet;
        grid-column: 7/13;
        margin-left: 70px;
    }
}