.footer {
  display: block;
  max-width: 500px;
  padding: 0 45px;
  margin: auto;
  margin-bottom: 50px;

  @include onTablet {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    max-width: 900px;
  }

  @include onDesctop {
    max-width: 1440px;
    padding: 0 135px;
    margin-bottom: 70px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;

    @include onDesctop {
      margin-bottom: 84px;
    }
  }

  &__icon-style {
    transition: 0.3s;
    
    &:hover {
      transform: scale(1.5);
    }
  }

  &__title {
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.15em;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: $turquoise;
    }
  }

  &__text {
    font-family: "Urbanist", sans-serif;
    line-height: 150%;
    text-align: center;

    @include onTablet {
      display: none;
    }
  }

  &__first {
    display: none;

    @include onTablet {
      display: block;
    }
  }

  &__third {
    display: none;

    @include onTablet {
      display: block;
      padding-top: 20px;
    }
  }

  &__first-title {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 11px;
  }

  &__first-adrress {
    font-family: "Urbanist", sans-serif;
    line-height: 150%;
    text-decoration: none;
    color: black;

    &:hover {
      font-weight: bold;
      color: $turquoise;
    }
  }

  &__about-us {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;

    &:hover {
      color: $turquoise;
    }
  }

  &__third-text {
    font-family: "Urbanist", sans-serif;
    line-height: 150%;
  }
}
