.material {
  &__container {
    max-width: 500px;
    margin: auto;

    @include onTablet {
      max-width: 900px;
      margin-bottom: 140px;
    }

    @include onDesctop {
      max-width: 1440px;
      margin-bottom: 50px;
    }
  }

  &__title {
    font-size: 58px;
    line-height: 58px;
    letter-spacing: 0.15em;
    color: $turquoise;
    padding-left: 30px;
    position: relative;
    z-index: 1;

    @include onTablet {
      font-size: 80px;
      line-height: 80px;
      padding-left: 35px;
    }

    @include onDesctop {
      font-size: 139px;
      line-height: 139px;
      padding-left: 135px;
    }
  }

  &__box {
    position: relative;
    top: -40px;
    z-index: 0;

    @include onTablet {
      top: 50px;
    }

    @include onDesctop {
      top: -110px;
    }
  }

  &__image-box {
    width: 100%;
  }

  &__image {
    width: 100%;
  }

  &__text {
    display: none;
    width: 340px;

    @include onTablet {
      display: block;
      position: absolute;
      top: -130px;
      right: 30px;
    }

    @include onDesctop {
      width: 470px;
      top: 0;
      right: 82px;
    }
  }

  &__text-1 {
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: bold;
    color: #4f4f4f;
    margin-bottom: 10px;
  }

  &__text-2 {
    font-family: "Urbanist", sans-serif;
    line-height: 150%;
    color: #4f4f4f;
  }

  &__slider-circle-red {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-color: $red;
    font-family: initial;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      box-shadow: 0 0 10px 5px;
    }
  }

  &__slider-circle-black {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    line-height: 43px;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: initial;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      box-shadow: 0 0 10px 5px;
    }
  }

  &__slider-circle-1 {
    display: none;

    @include onTablet {
      display: block;
      position: absolute;
      top: 200px;
      right: 165px;
    }

    @include onDesctop {
      bottom: 375px;
      top: unset;
      right: 280px;
    }
  }

  &__slider-circle-11 {
    display: none;

    @include onTablet {
      display: none;
      position: absolute;
      top: 200px;
      right: 165px;
    }

    @include onDesctop {
      bottom: 375px;
      top: unset;
      right: 280px;
    }
  }

  &__slider-circle-2 {
    display: none;

    @include onTablet {
      display: block;
      position: absolute;
      bottom: 70px;
      right: 370px;
    }

    @include onDesctop {
      bottom: 270px;
      right: 550px;
    }
  }

  &__slider-circle-22 {
    display: none;

    @include onTablet {
      display: none;
      position: absolute;
      bottom: 70px;
      right: 370px;
    }

    @include onDesctop {
      bottom: 270px;
      right: 550px;
    }
  }

  &__slider-circle-3 {
    display: none;

    @include onTablet {
      display: block;
      position: absolute;
      bottom: 250px;
      right: 475px;
    }

    @include onDesctop {
      bottom: 105px;
      right: 705px;
    }
  }

  &__slider-circle-33 {
    display: none;

    @include onTablet {
      display: none;
      position: absolute;
      bottom: 250px;
      right: 475px;
    }

    @include onDesctop {
      bottom: 105px;
      right: 705px;
    }
  }

  &__slider-circle-4 {
    display: none;

    @include onTablet {
      display: block;
      position: absolute;
      bottom: 130px;
      left: 70px;
    }

    @include onDesctop {
      bottom: 400px;
      left: 547px;
    }
  }

  &__slider-circle-44 {
    display: none;

    @include onTablet {
      display: none;
      position: absolute;
      bottom: 130px;
      left: 70px;
    }

    @include onDesctop {
      bottom: 400px;
      left: 547px;
    }
  }

  &__slider-circle-5 {
    display: none;

    @include onTablet {
      position: absolute;
      visibility: hidden;
    }

    @include onDesctop {
      visibility: visible;
      display: block;
      position: absolute;
      bottom: 156px;
      left: 254px;
    }
  }

  &__slider-circle-55 {
    display: none;

    @include onDesctop {
      display: none;
      position: absolute;
      bottom: 156px;
      left: 254px;
    }
  }

  &__slider-text {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 28px 45px 58px;

    font-family: "Urbanist", sans-serif;
    line-height: 150%;
    color: #f8f8f8;
  }

  &__slider-1 {
    display: none;
    @include onTablet {
      display: none;
      width: 300px;
      position: absolute;
      top: 270px;
      right: 30px;
    }

    @include onDesctop {
      top: unset;
      bottom: 100px;
      right: 130px;
    }
  }

  &__slider-2 {
    display: none;
    @include onTablet {
      width: 300px;
      position: absolute;
      top: 270px;
      right: 207px;
    }

    @include onDesctop {
      top: 545px;
      right: 415px;
    }
  }

  &__slider-3 {
    display: none;
    @include onTablet {
      width: 300px;
      position: absolute;
      top: 80px;
      right: 330px;
    }

    @include onDesctop {
      top: unset;
      bottom: 185px;
      right: 610px;
    }
  }

  &__slider-4 {
    display: none;
    @include onTablet {
      width: 300px;
      position: absolute;
      top: 48px;
      left: 15px;
    }

    @include onDesctop {
      top: 390px;
      left: 430px;
    }
  }

  &__slider-5 {
    display: none;
    @include onDesctop {
      width: 300px;
      position: absolute;
      bottom: 225px;
      left: 140px;
    }
  }
}
