.title-close {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 17px;

  @include onTablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
  }

  & > a {
    position: relative;
    display: block;
    height: 60px;
  }

  &__title {
    font-size: 36px;
    font-family: "Bebas Neue" , sans-serif;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #000;
  }

  &__close-btn {
    position: absolute;
    right: -18px;

    @include onTablet {
      position: relative;
      right: unset;
    }
  }
}
