[class$='--grid-container'] {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }
}
