.logo {
  font-family: $second-family;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 2.16px;
  color: $gray-1;

  transition: all .3s;

  &:hover, &:active {
    transform: scale(1.1);
    color: $blue;
  }
}
