@font-face {
  font-family: 'proximanova_regular';
  src: url(./proximanova_regular.eot);
  src:
    url(./proximanova_regular.eot?#iefix) format('embedded-opentype'),
    url(./proximanova_regular.otf) format('otf'),
    url(./proximanova_regular.svg#proximanova_regular) format('svg'),
    url(./proximanova_regular.ttf) format('truetype'),
    url(./proximanova_regular.woff) format('woff'),
    url(./proximanova_regular.woff2) format('woff2');
}
